[2020-08-04 17:37] owocki commented on #174
alsoi just registered http://wtfisqf.com/ - i pointed it at the cname for this.  can u make sure that domain is allowed on ur end too?

[2020-08-05 00:02] auryn-macmillan commented on #174
![clrfund_no_text](https://user-images.githubusercontent.com/8453294/89356968-3835bc80-d68d-11ea-9538-41cb64cab280.png)
![clrfund](https://user-images.githubusercontent.com/8453294/89356970-3966e980-d68d-11ea-8998-91f43e69daa9.png)

clr.fund is yet to distribute any funding, but has $21k in matching funds lined up for its first few rounds later this year.

[2020-08-05 00:14] Anish-Agnihotri commented on #174
Perfect, thanks @auryn-macmillan. I'll add the logo to the site, but will leave out any specific amount distributed until later this year.

[2020-08-05 00:15] Anish-Agnihotri commented on #174
@owocki

Going to need you to remove the CNAME and instead add an A record with the name `wtfisqf.com` and the value `76.76.21.21`. Since this isn't a subdomain like `qf.gitcoin.co`, the CNAME won't work.

Also hopping in and now and making the changes with URL parameters + and reference implementations. I think I'll make a NPM package to quickly calculate CLR this weekend.

[2020-08-05 02:32] Anish-Agnihotri commented on #174
Just pushed out the new changes.

**Changelog**
- [X] Share links are implemented enabling users to share pre-defined QF amounts. [Here is an example](https://qf.gitcoin.co/?grant=10,20,30&grant=1,2,3,4&grant=1.1,2.2,3.3&grant=10.1&match=10000). These update on keystroke, autofill when opened, and I've added a convenient Copy URL button.
- [X] Links to reference implementations added
- [X] clr.fud

[2020-08-05 14:29] owocki commented on #174
https://qf.gitcoin.co/?grant=1,1,1,1,1,1&grant=100,100&grant=&grant=&match=1000

sweeet!!!

[2020-08-05 14:33] owocki commented on #174
can we make HTTPS work on wtfisqf.com too?  i just added the A name.

[2020-08-05 14:34] owocki commented on #174
also - In the calculator; can we add some sample QF calculations so users can checkout calcs without doing any input?

lets have two sample scenarios:
1. Scenario A https://qf.gitcoin.co/?grant=10,10,10,10,10,10,10,10,10,10&grant=100&grant=&grant=&match=1000
2. Scenario B https://qf.gitcoin.co/?grant=25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25&grant=100,100,100,100&grant=&grant=&match=1000

[2020-08-05 15:59] owocki commented on #174
one last thing, sorry.

can we embed this video near the footer, under a header "WTF is QF?" H2 - Watch the overview video.

  i think its a nice way to visually show "WTF is QF??"  https://www.youtube.com/watch?v=6drlCDDT71c&feature=emb_title

[2020-08-07 00:11] Anish-Agnihotri commented on #174
Yep, re-triggered the SSL cert generation after the record went live. Looks like all good now.

Will add these changes tonight/tomorrow morning as well.

Please feel free to lmk any other things that pop into your mind—this is starting to look like a really solid QF-starting point.

[2020-08-13 13:01] owocki opened #177 "quadratic diplomacy"
Quadratic diplomacy
NxN real-time iterative QF staking game

[2020-08-16 20:26] owocki commented on #174
@Anish-Agnihotri can we add Zoë Hitzig (@zhitzig) as a CLR paper author, pls?

also can u add the youtube video

[code]

[2020-08-17 17:19] Anish-Agnihotri commented on #174
Completely forgot about that, my bad. Will have these changes live tonight.

[2020-08-17 19:13] owocki opened #178 "hiring matching game"
https://bits.owocki.com/KourlYLg

[2020-08-17 20:30] owocki commented on #178
Name it "Gitconnect" - A place to meet devs

?

[2020-08-18 12:38] zhitzig commented on #174
Thanks!

On Mon, Aug 17, 2020 at 1:19 PM Anish Agnihotri <notifications@github.com>
wrote:

[2020-08-18 18:46] owocki commented on #174
@Anish-Agnihotri no worries; keep us posted

[2020-09-09 04:15] owocki opened #181 "gitcoin grants donation yVault"
https://twitter.com/KamesCG/status/1301557136372064263

[2020-09-14 04:37] owocki opened #182 "quadratic social media bounties"
https://docs.google.com/document/d/1Ihsb_sBS1F3D2YzunoCtgnojxUCXO-rMtbuSrS9M2NI/edit

[2020-09-15 22:30] owocki opened #183 "QF hackathon skunkworks"
Sybil score gitcoin oauth
Workshop
Quadratic voting hackathon judgement app
Snapshot.page QF

[2020-09-21 13:44] owocki opened #184 "Build the BrowserStack of Web3"
Inspired by https://twitter.com/owocki/status/1307742287602970636

I would like someone to build a regression testing service that allows me to test my dApp's checkout flow across multiple web3 wallets (metamask, argent, brave, portis, formatic, status, coinbase wallet, metamask mobile  .. ).

i'm drowning in permutations to test here, and wasting massive resources.

Requirements:
- Supports Metam

[2020-09-22 18:30] owocki opened #185 "Quadratic Voting Hackathon Leaderboard Tool"
This is a tool for Gitcoin to manage Hackathon submission via a Quadratic Voting Hackathon Tool.

QV => https://en.wikipedia.org/wiki/Quadratic_voting

The use case is for the Gitcoin team to distribute votes to a series of community members; and to get back a QV-powered ranked list of who is the community choice according to QV.

We will likely use this to figure out the community choice winner o

[2020-09-22 22:40] jdorfman opened #186 "Promote GitxChange2 Hackathon on WTF is QF"
As a hackathon marketing manager, I would like to drive signups to [GitxChange2: Quadratic Funding Hackathon](https://gitcoin.co/hackathon/gitxchange2/onboard)

## Proposal

![image](https://user-images.githubusercontent.com/398230/93943712-f1a52b80-fce7-11ea-9941-d526ee77b06a.png)
![image](https://user-images.githubusercontent.com/398230/93944553-e4893c00-fce9-11ea-817c-54d9c6fc1e4b.png)

## Repl

[2020-09-23 18:27] owocki commented on #184
just made this a permissionless/contest.  i dont want to approve people to work on it, if you want to pursue the market opportunity you should

[2020-09-26 14:12] vbstreetz commented on #184
hey! got a start at this with a test of metamask extension https://youtu.be/Roop5yAQZkA (example shows searching for claimable UNI tokens, given a mnemonic phrase).

looks like the setup of most of the rest of the browser web3 clients require scanning some qr code via a phone. one option is to take a screenshot of this and send it to another process that runs an android emulator that has the targe

[2020-09-28 14:28] owocki commented on #184
seems promising :)

On Sat, Sep 26, 2020 at 8:12 AM vbstreetz <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-09-29 20:38] owocki opened #187 "RxC Bounty - Increase Gitcoin's sybil resistence by integrating an integration with a anti-sybil tool on our roadmpa."
sybil resistence (the ability of an identity based system to prevent sock puppet accounts from signing up) is a key part of gitcoin grants & quadratic funding based systems.

we have a sybil resistence roadmap that looks as follows:

<img width="556" alt="Screen Shot 2020-09-29 at 2 29 10 PM" src="https://user-images.githubusercontent.com/513929/94612780-d47cd980-0260-11eb-8e24-956d16c0e0a7.png">

[2020-10-04 22:25] owocki commented on #185
Testing notes from https://quadratic-voting.vercel.app/ follow

AMAZING WORK! SO EXCITE FOR THIS, JUST SENT YOU SOME ETH FOR THE MVP.  I WANNA LAUNCH THIS DURING THE QUADRATIC VOTING HACKATHON WE RUN WITH RXC THIS WEEK; CAN YOU CO-PRESNT IT TO ME THERE?

# GRANULAR FEEDBACK BELOW

## on the landing page
- Can we change "Quadratic Voting" h1 to "QuadraticVote.co" and the desc to "An easy tool to ho

[2020-10-06 06:29] Anish-Agnihotri commented on #185
Sweet, thanks for the great feedback!

Working on all of these issues over the next few nights to push for completion near late-Wed/early-Thurs (giving us a good day to do bug fixes, cleanup, etc., before the call).

## **Running to-do list**

### Landing
- [X] Landing copy change
- [ ] Remembering created events (saving) in local storage
- [X] Follow us on Twitter section in the footer.
- [X] Cha

[2020-10-06 13:55] owocki commented on #185
just set the DNS to ns1.vercel-dns.com / ns2.vercel-dns.com

[2020-10-06 13:59] owocki commented on #185
if we can just debounce them then i think thats fine. maybe 1 tweet/minute when there is an update to a vote?

thx didnt see that! i prefer front + center for wtfisqf.com - its too hard to find given the large landing page.  for quadraticvote.co i think its fine to be in the footer bc the landing page is so small

[2020-10-06 13:59] owocki commented on #185
thanks man!! pumped

[2020-10-06 14:42] makoto commented on #187
Hi, Makoto from ENS team.

This is what I think you need to do to support "Verify with ENS" feature

### Step 1

Check if the Eth address tied into Gitcoin has ENS name reverse record setup as well as it matches with the forward lookup.

[code]

### Step 2
If the above returns true, treat as verified.

### Step 3

If not, show the following message.

[code]

### Ref

You can read more about how ou

[2020-10-06 20:53] owocki commented on #185
more feedback here; looks like RXC tweeted thsi this am

https://twitter.com/Spugpow/status/1313581518191616000

notably: vote credits are calculated wrong, according to this guy

[2020-10-07 03:08] poapxyz commented on #187
Hey there. POAP here 👋🏻
We are willing to help and support the team/individual looking to complete this bounty. For a successful submission we will be matching with additional 1000 DAI). If a candidate is willing to work on this and 2000 DAI sounds like too little incentive, we are open to hear what would be proper compensation.

POAP contracts run at the address 0x22C1f6050E56d2876009903609a2cC3f

[2020-10-07 15:21] deepsi43 commented on #187
Will be looking into the integration based on

Sure I would like to start working on ENS reverse lookup

[2020-10-07 15:24] deepsi43 commented on #187
I would also be looking into duniter integration

[2020-10-07 15:40] iRhonin commented on #187
Hi POAP,
I like to start this task but the bounty on Gitcoin has a limitation of one person per bounty,
I already [implemented](https://github.com/gitcoinco/web/pull/7631) the google verification so I need @owocki verification to start this.

[2020-10-08 01:17] owocki commented on #185
nice work!!

qa/ feedback on tonights build (i tried to focus on the very simple launch stuff so i dont ride you too hard, but we can still launch this week);
1. https://bits.owocki.com/GGurk88d <=== button still says 'create subject'; i think it should say 'create option'
2. the event start/end dates on input are not respected;  i set an event to start tomo + the created event starts now.  also s

[2020-10-08 06:34] Anish-Agnihotri commented on #185
Updated issue thread:

- [X] Fixing button text
- [X] Twitter cards. We now have both the static (image one) and dynamic (on details page, image two) cards working.
- [X] Root/canonical domain as quadraticvote.co
- [ ] Working event/start date
- [ ] Remembering created events in localStorage
- [ ] Debounced twitter bot
- [ ] Quadratic vote impact visualization on Voting pages (how do you want to s

[2020-10-08 16:38] owocki commented on #185
@Anish-Agnihotri can you add GA to the site?

[code]

[2020-10-08 18:52] owocki commented on #185
@Anish-Agnihotri

1. can we add a toggle that stops peoiple from being able to negative vote when creating an event.  we just tested this tool on the gitcoin livestream and someone gave out negative votes
https://bits.owocki.com/Z4uyL0DR

2. can we add a voter log on the main event page, so people can see who voted what?

[2020-10-09 06:20] zoek1 commented on #187
@poapxyz thanks for the advice, I don't have any stopper so I'm starting to work on this 😀

[2020-10-09 13:59] owocki commented on #185
ok after using tnhis for a few days, i can say the biggest pain is distributing the voting links, i think it'd be powerful to give people the option when they create an event to create an 'auto vote link distributor' that just delegates anti-sybil validation to an OAUTH provider (gitcoin, twitter, github, slack, etcd).  bc its a pain to have to DM everyone links

[2020-10-09 19:38] vbstreetz commented on #184
hey. made some progress on metamask mobile https://youtu.be/_1ScAcd4QIc but it seems it won't be feasible to interact with a webpage opened in it :(

https://github.com/wix/detox/issues/334#issuecomment-335802212
https://github.com/wix/detox/issues/136#issuecomment-306591554

i'll continue researching though..

[2020-10-10 14:26] owocki commented on #185
Option for voters to add option

[2020-10-10 14:27] owocki opened #188 "more web based calculators ideas"
herberger taxes
eth2 staking rewards
bonding curves

[2020-10-10 14:28] owocki commented on #188
eth2 staking has been done https://beaconcha.in/calculator

[2020-10-12 14:21] owocki commented on #184
oh shoot; yeah that does seem like progress. damn too bad its blocked; i
wonder if youll need complete control of the os/browser

On Fri, Oct 9, 2020 at 1:38 PM vbstreetz <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.

[2020-10-15 12:30] hhio618 commented on #187
Hey, @poapxyz many thanks for your comment. It helped a lot while I was implementing this feature :) Would it be possible to send me some testnet POAP badges for further testing? If possible my wallet address is as following:
My wallet address: 0x68581B09B9F815AD0A37477F340e7E211030C899
Another question: do we need to save any POAP badges in user profiles?

[2020-10-17 10:04] walidmujahid commented on #184
@vbstreetz I have only looked through all of this quickly, and I am in no way an expert at automating tests of any kind, however, for MetaMask's reactive native app, would this be of help to you: https://appiumpro.com/editions/76-testing-react-native-apps-with-appium

[2020-10-17 10:04] walidmujahid commented on #184
@vbstreetz I have only skimmed through this issue thread, and I am in no way an expert at automating tests of any kind, however, for MetaMask's react native app, would this be of help to you: https://appiumpro.com/editions/76-testing-react-native-apps-with-appium

[2020-10-17 10:10] vbstreetz commented on #184
Hey Wajid. Thanks for the share. The main issue is accessing the website
elements loaded in MetaMask's browser (webview). Seems its an api access
denial by the OS. Only option is to emulate clicks using pixel coordinates
which is not feasible.

On Sat, Oct 17, 2020, 13:05 Walid Mujahid وليد مجاهد <
notifications@github.com> wrote:

[2020-10-17 10:21] walidmujahid commented on #184
Are you using a local build of MetaMask? Do you modify it for your needs?

On Sat, 17 Oct 2020 at 06:10, vbstreetz <notifications@github.com> wrote:

[2020-10-17 10:29] vbstreetz commented on #184
Yeap. Also reused some of their tests which use detox (much better than
appium).

On Sat, Oct 17, 2020, 13:22 Walid Mujahid وليد مجاهد <
notifications@github.com> wrote:

[2020-10-17 12:45] walidmujahid commented on #184
It sounds like an interesting problem. I realise that this project is not
meant to open source, but if it was and I had some actual ability with test
automation, it would be something I would love solving. That said, I have
no ability worth mentioning :-D

What if you just stub everything?

On Sat, 17 Oct 2020 at 06:29, vbstreetz <notifications@github.com> wrote:

[2020-10-17 13:38] vbstreetz commented on #184
Gotcha. I'll try open source what i did by end of the weekend.

‪On Sat, Oct 17, 2020 at 3:45 PM ‫Walid Mujahid وليد مجاهد‬‎ <
notifications@github.com> wrote:‬

[2020-10-17 15:22] walidmujahid commented on #184
That would be amazing, but you do not have to make it public as there is a
profit making opportunity in this. That said, and despite my lack of
ability in automation testing -as such my eyes might be a fresh pair, but
hands may not provide a solution-, if you are willing for other eyes to
look at your ideas and implementations so far, I would be happy to help
look privately. I will sign an NDA wit

[2020-10-19 02:47] owocki opened #189 "quadraticdiplomacy.co - a live QF twitter game"
This is a spec for a game called quadratic diplomacy

Quadratic Diplomacy is basically Quadratic Funding, but instead of "funding" people with *money*, you fund them with *clout*.  :)

Here's how it works.
1. go to quadraticdiplomacy.co
2. on landing page, see a leaderboard of the top 10 accounts (accounts = twitter).  you can also see a search button prominently above the top 10 accounts, wherein

[2020-10-19 08:58] developerfred commented on #187
## Update Duniter
https://forum.duniter.org/t/integration-trust-bonus-gitcoin/7677

Currently the only metrics I have to validate a human address are the 5 certificates that can be consumed by the wallet, my implementation is like this
**Trust Bonus tab -> Click Duniter -> Post address ->** if you have 5
certificates we consider you to be a legitimate user, these certificates expire in one year, w

[2020-10-19 18:19] AnneConnelly commented on #189
It would be great enable a custom tweet for each project/person to allow for more promotion. Eg. Instead of "I am voting for @{handle} with {credits_num} credits on http://quadraticdiplomacy.co"

do

"I'm voting with 10 creadits for @{handle}, a decentralized finance app for Ewoks! Check out their project on quadraticdiplomacy.co"

[2020-10-19 18:20] AnneConnelly commented on #189
Perhaps call it Quadratic Endorsement  vs. Quadratic Diplomacy.

[2020-10-19 18:25] AnneConnelly commented on #189
In the longer term, for #2, ideally the button to "support with clout" would be right on a gitcoin grant company profile near the donate button.

[2020-10-19 19:56] owocki commented on #185
another auth option:  one thing that i think would be really important in a tokenized world would be to host a quadratic vote; where you can enter a token address, and holders of that token can vote according to the number of tokens they have.

[2020-11-20 18:59] owocki commented on #187
@moonniy @deepsi43 r u still working on the ENS reverse look up?

[2020-11-20 19:29] owocki commented on #186
hey @Anish-Agnihotri can we revert this since the hack is over?

btw from vitalik: https://wtfisqf.com is slightly broken BTW, the matching for projects that have only one contributor should be exactly zero

[2020-11-21 07:26] moonniy commented on #187
hi @owocki, yes i made progress but since the hackathon finished i thought this bounty expired so i didn't submit my work. Can i create the PR so you can review it? i think the work is finished and  ready for review

[2020-11-21 12:27] makoto commented on #187
@moonniy I am happy to review the ENS part

[2020-11-23 13:10] owocki commented on #187
yes; happy to review it.  thanks!

On Sat, Nov 21, 2020 at 5:27 AM Makoto Inoue <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-11-24 09:15] deepsi43 commented on #187
Yes I did have a little progress.Have been looking into implementing the verification of reverse ens of the account address.

[2020-11-27 01:20] zoek1 commented on #187
@owocki can i work on the facebook integration?

[2020-11-27 09:25] Elhamne commented on #187
@zoek1 I'm still working on the facebook.

[2020-11-27 09:56] zoek1 commented on #187
Ok ok @Elhamne, as i didn't see a PR and the hackathon finished almost a month ago, I requested work on facebook integration. 🙂 I have some task to fix collections today but if you need it for the monday let me know @owocki

[2020-11-30 18:57] owocki commented on #187
hey hey, im seeing multiple PRs flying around and it's very exciting.  as your PRs are merged pls ping me and I can pay you out.  thanks again everyone :)

[2020-12-01 08:11] hhio618 commented on #187
Hey @owocki, thanks for the payout!

[2020-12-08 16:28] owocki opened #190 "quadraticvote.co is down with a 502"
https://bits.owocki.com/yAuZl2AJ

[2020-12-08 16:30] owocki commented on #190
heads up @Anish-Agnihotri it sounds like quadraticvote.co is down with a 502.  see the screenshot below

[2020-12-08 16:31] owocki commented on #190
https://bits.owocki.com/BluQ1Z9B

[2020-12-08 16:40] Anish-Agnihotri commented on #190
Very weird, troubleshooting now. It was working last I checked a few days ago.

[2020-12-08 16:47] Anish-Agnihotri commented on #190
Have found issue: looks to be a recent change in stable node v12 which conflicts with the Prisma db orm used across the site. Vercel (where the site is hosted) automatically keeps node versions updated which caused this.

Rolling back down to forced node v10 to prevent issue in future.

[2020-12-08 16:51] Anish-Agnihotri commented on #190
🎊  quadraticvote.co is live and functional again

[2020-12-08 21:28] owocki commented on #190
thanks!

On Tue, Dec 8, 2020 at 9:52 AM Anish Agnihotri <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-12-20 23:23] owocki opened #192 "update wtfisQF.com landing page for dec 2020 campaign"
1. remove the GitXChange
2. embed this video at the top in it's place https://www.youtube.com/watch?v=iwZBeefB3ks&feature=youtu.be

[2020-12-20 23:24] owocki commented on #192
@Anish-Agnihotri this should take 30 seconds, any chance you can do this for me?

[2020-12-20 23:46] owocki commented on #192
new youtube video https://www.youtube.com/watch?v=HJljTtLnymE&feature=youtu.be

[2020-12-22 05:45] Anish-Agnihotri commented on #192
Hey @owocki, apologies about the delay. Changes now live. Do let me know if I can help elsewhere.

[2020-12-22 15:17] owocki commented on #192
Thanks!

On Mon, Dec 21, 2020 at 10:45 PM Anish Agnihotri <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $7.3mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-12-28 02:12] owocki opened #193 "DESIGN - HoneyPot.Money; A site where people can get paid to create sybil resistent identities, hardening sybil resistent identity systems by creating a known price of forgery."
Hello friend,

I am looking for a designer to help me bring an idea to life.

[I've written a lot about sybil resistance](https://twitter.com/search?q=owocki%20sybil&src=typed_query) and the upside for the dweb if sybil resistence is meaningfully created.

I would like to make a contribution to the advancement of sybil resistance, by creating a crypto economic game, wherein attackers are rewarded

[2020-12-29 17:45] hhio618 commented on #187
Hey @poapxyz. I've done the task! I'll be very glad for the bounty as you said :)

[2020-12-29 17:53] poapxyz commented on #187
Please send me your ethereum address to Worthalter@POAP.xyz

[2020-12-31 19:05] owocki opened #195 "Gitcoin Grants Discovery is too centralized; Build something could get huge usage by help us decentralize it."
# TLDR
![4s5ox1](https://user-images.githubusercontent.com/513929/103422106-fd14b800-4b5c-11eb-964a-f39e9c9c7c2e.jpg)

# Background

We recently ran an a/b test on the Gitcoin Grants default landing page, and found evidence that [GItcoin can affect which grants get funded by changing its discoverability tools](https://twitter.com/owocki/status/1340058876440244225).

Shit.  Gitcoin doesn't want thi

[2021-01-04 22:52] owocki commented on #193
hey all sorry for the slow response!  backed up after the holidays.  will approve someone to work on this this week

[2021-01-06 20:45] owocki commented on #193
hey hey party people, i selected @melvinalvarez to work on the design portion of this bounty.  thanks to everyone who applied!

id be interested in selecting someone to work on the CODE portion of it (pls DM me on the gitcoin discord if youre interested in that).

[2021-01-09 06:22] owocki commented on #195
Some ideas from a few friends. @hudsonjameson

# A choice-based architecture

<img width="773" alt="Screen Shot 2021-01-08 at 11 18 23 PM" src="https://user-images.githubusercontent.com/513929/104084852-38238500-5208-11eb-9795-14ceaf1a9461.png">

# A swipe left / swipe right type interface that learns your preferences

<img width="750" alt="Screen Shot 2021-01-08 at 11 17 42 PM" src="https://user-

[2021-02-25 17:08] owocki opened #197 "Build FundOSS.org Product - Bring Quadratic Funding to Web2!"
Help us bridge the gap from Web3 to Web2 and bring Quadratic Funding to Open Source Software! We’re taking the Downtown Stimulus program and bringing it to some of your favorite OS projects.  Sponsored by Gitcoin and Open Source Collective (https://www.oscollective.org).

Team would be responsible for upgrading the existing DowntownStimulus.com codebase (GitHub link) to the new product brand, upda

[2021-03-01 16:07] owocki commented on #197
@humanific  would love to hop on a call to discuss the project more!  can you email me kevin@gitcoin.co and we can jam this week?

[2021-03-04 14:31] patcon commented on #197
👋

OSC = Open Source Collective?

[2021-03-04 14:54] owocki commented on #197
yes

On Thu, Mar 4, 2021 at 7:32 AM Patrick Connolly <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $11.1mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-03-04 22:58] owocki commented on #187
i just left some comments on the various PRs.  keen to get these fixed up + merged in before we deploy GR9 on monday of next week.

[2021-03-12 20:50] mwt opened #202 "wtfisqf.com does not use correct CLR equation"
The numbers outputted by wtfisqf.com and [this video](https://www.youtube.com/watch?v=EfEiAa_KWa0) are not true to the QF/LR or the CQF/CLR formulas as presented in the [original paper](https://arxiv.org/abs/1809.06421v2). I have a written explanation of this here:

https://mattwthomas.com/blog/fund-open-source/#implementations

Basically, the allocation rule for **QF/LR** is:
![QR](https://user-i

[2021-03-12 21:04] owocki commented on #202
cc @Anish-Agnihotri in case he has an answer

[2021-03-14 00:26] jjao2003 commented on #197
Great

[2021-03-14 01:38] jjao2003 opened #203 "Gitcoin"
Issue

[2021-03-20 16:38] owocki opened #207 "Build HoneyPot.Money"
Hello builders!

I am looking for a reliable web developer to build a simple site for me in the next several weeks.

# Preface

About the site:  Gitcoin is in the middle of a build out of http://proofofpersonhood.com/ - a tool thats going to allow users to take their Gitcoin Grants sybil resistent identity across the dweb with them.  We think this is going to unlock a whole ecosystem of one-human-

[2021-03-20 19:22] owocki opened #208 "RxC Bounty - Increase Gitcoin's sybil resistence by integrating an integration Proof Of Humanity"
sybil resistence (the ability of an identity based system to prevent sock puppet accounts from signing up) is a key part of gitcoin grants & quadratic funding based systems.

we have a sybil resistence roadmap that looks as follows:

<img width="556" alt="Screen Shot 2020-09-29 at 2 29 10 PM" src="https://user-images.githubusercontent.com/513929/94612780-d47cd980-0260-11eb-8e24-956d16c0e0a7.png">

[2021-03-22 20:48] iRhonin commented on #208
Hi @owocki,
Can you explain how can check this constraint?
Can we just skip eth address (step 2) and take it from metamask (or other web3 providers)?

[2021-03-22 21:00] owocki commented on #208
@iRhonin just call the smart contract `getSubmissionInfo()` method

yes we can skip step 2, but i still think its a nice usability thing to show the user the address

[2021-03-25 15:47] ivanmolto commented on #189
Hi @AnneConnelly @owocki  I would love to give it a try. Thanks!

[2021-03-25 17:41] aahutsal commented on #189
@owocki quadraticdiplomacy.co is broken

[2021-03-25 19:29] owocki commented on #189
@aahutsal it doesnt exist yet

[2021-03-26 16:17] zoek1 commented on #207
Working on that @gitcoinbot, thanks for remind me! 💪

[2021-03-27 18:31] DevRarr commented on #189
Hey @owocki we will have a go at this, sounds interesting.

[2021-03-29 13:52] owocki commented on #189
hey all; i am meeting with a few candidates this week + should know more by EOW

[2021-03-29 17:34] base0010 commented on #189
@owocki I would like to talk more about your vision. I like @AnneConnelly 's idea about the CTA (call to tweet?) messaging  RE: bullet 6 to add product/project description for extra clout.

[2021-03-30 11:47] Az111z opened #209 "Az111z-patch-1"

[2021-03-30 11:50] Az111z opened #210 "Az111z-patch-1"
Issue Status: 1. Open 2. Started 3. Submitted 4. Done

Work has been started.

These users each claimed they can complete the work by 1 day, 12 hours from now.
Please review their action plans below:

1) sunnyrk has been approved to start work.

I will work around ETH2 to give better features to use
2) cartorjo has been approved to start work.

Eth2 UI is an open source front-end framework for Eth

[2021-03-30 13:21] owocki commented on #197
i have found a dev who has agreed to do this!  closing the bounty now.

[2021-03-30 13:59] owocki opened #211 "Staking game to prevent people from abandoning a project"

[2021-03-30 15:33] owocki opened #212 "Enable 3rd parties to build decentralized tools for Gitcoin Grants"
Blocks: https://github.com/gitcoinco/skunkworks/issues/195

The objective of this ticket is to enable 3rd parties to build decentralized tools for Gitcoin Grants and eventually decentralize Gitcoin Grants itself so that its a protocol not a platform

Goals:

I think the first step is probably a clearer separation between "core logic" and "UI", to the point where I should be able to interact with g

[2021-03-30 15:34] owocki commented on #195
API work https://github.com/gitcoinco/skunkworks/issues/212

[2021-03-30 17:23] owocki commented on #189
join the #quadratic-diplomacy channel on gitcoin discord pls!! https://discord.com/invite/83BK5z55yB

[2021-03-30 17:23] owocki commented on #189
state machine:
![5889b7dd-962a-4594-8ade-f98d0ce09c8a](https://user-images.githubusercontent.com/513929/113030034-64d1a380-914a-11eb-95bc-faccd7969603.jpg)

[2021-03-30 17:39] Shammah commented on #212
There's currently Gitcoin REST API available, but it's very bare-bones and only gives access to surface level of exploration. In order to create cool applications using Gitcoin's data we'll need a few core API calls that should provide developers with a lot of information. Here's a short list of REST API calls I communicated with Kevin that could be very helpful in building a 3rd party Gitcoin app

[2021-04-01 16:28] owocki commented on #207
@zoek1 what are you thinking in terms of ETA for a PR?

[2021-04-01 19:47] zoek1 commented on #207
By monday i'll create the PR @owocki. At this moment we're working on the responsive view.

[2021-04-06 08:07] zoek1 commented on #207
Hey @owocki, do you have created a repo for the honeypod stuff? I created this one https://github.com/zoek1/honeypot-client temporarely. Two thing, I moved the UI to React and I'm currently focusing on build the server stuff with django

[2021-04-06 15:21] owocki commented on #207
@zoek1 https://github.com/gitcoinco/honeypot_money just added u

let me know the ETA for a clickable demo!

[2021-04-06 15:22] owocki commented on #208
thx; getting this reviewed now

[2021-04-11 08:26] doubleoroos commented on #125
https://github.com/doubleoroos/kudos.git

[2021-04-12 04:31] zoek1 commented on #207
I just see this, today I'll be working on connecting backend and frontend. I'll deploy an instance so you can test it.

[2021-04-16 07:40] zoek1 commented on #207
I progressed on the backend endpoints only, due to non-tech problems i couldn't wired the backend and frontend. I'll take this weekend to close the gap.

[2021-04-16 20:52] owocki opened #214 "PITCH COMPETITION BOUNTY - Fund Public Goods using Etherum Technology"
this is a pitch bounty; the TLDR is you pitch me on an idea and a plan to build it, and ill pay out the top ones (and maybe fund the build out if the plan appears credible:

design brief:
the whole ecosystem runs on public goods, the digital infrastructure that is available for free as open source software

![yr-bags](https://user-images.githubusercontent.com/513929/115082131-9eccd480-9ec2-11eb-8c

[2021-04-17 13:20] #193 closed

[2021-04-19 14:40] owocki commented on #214
@ankitiitb1069 seems interesting; but that has nothing to do with funding open source

[2021-04-19 16:26] owocki commented on #207
@zoek1 can you get a PR together by EOW?  i dont mean to be too drastic, but if you're not going to get there pls LMK + we can find someone else.

[2021-04-20 08:09] alisolanki commented on #214
Hi sorry, I think my idea doesn't fit in the category @owocki . I would like to pitch this instead:

Building a quadratic funding platform for funding open source projects using Ethereum technology and help finance the developers' expenditures. All the open source developers working on the projects can be incentivized this way. The funding for the open source project can be calculated via the quad

[2021-04-20 16:06] zoek1 commented on #207
Sure, no problem! @owocki

[2021-04-21 18:34] owocki opened #215 "Bot punks- a fork of gitcoin but the punks are bots (to fund public goods)"
Bot punks- a fork of gitcoin but the punks are bots

[2021-04-21 20:34] owocki opened #216 "smart contract you can call with modifier `onlyGrantsFunder()`"
would fail if someone calls it who is not a grants funder

[2021-04-23 15:25] zoek1 commented on #207
Here my update, today i'll be working on get the brightid id, and trasnfer funds using optimism and that will complete the happy happy path https://github.com/gitcoinco/honeypot_money/pull/1

[2021-04-27 16:19] zoek1 commented on #207
Working on adding optimism, also the admin interface to activate/deactivate is ready. 👍

[2021-04-28 15:37] alisolanki commented on #214
Hello @owocki I submitted the work and stopped it however it was not showing it here so linking the document: https://docs.google.com/document/d/1vvVnQtiXv_qK_IJBBw-KrQFaBEaIQm8SWAUEtP1SvgM/edit?usp=sharing

[2021-04-30 07:42] zoek1 commented on #207
I finished the transfers using optimism, that takes me more time than I expected. Now I'll work on integrate brightid.

[2021-05-03 16:31] owocki commented on #207
thx fofr the update @zoek1  - how confident are you we can have a demo of this ready in the next couple weeks?

[2021-05-04 18:10] zoek1 commented on #207
Yes, i think the next week Will be ready 👍

[2021-05-05 10:12] iRhonin commented on #208
Hi @thelostone-mc,
Thank you for merge and deploy!
I think POH is broken on the [Gitcoin's trust tab](https://gitcoin.co/profile/trust), the API return 500, and the icon does not show correctly.

[2021-05-17 16:32] owocki opened #222 "Schellingpoint.com"
Scgelling point .com / moloch - a place to share ideas about killling moloch

just a message board with pitches on it; can be upvoted/downvoted

[2021-05-17 21:17] owocki commented on #214
just left some comments/ requested access to ask comments on each of your docs.  thanks, excited to see thyis move forward.

[2021-05-18 00:44] writeprovidence commented on #214
@owocki , haven't seen any comments on my doc.

[2021-05-18 12:39] owocki commented on #214
@emmanuel I don’t see your doc submitted or linked on this thread?

On Mon, May 17, 2021 at 6:45 PM Emmanuel Jacobson ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $11.1mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-05-18 18:24] writeprovidence commented on #214
@owocki , Honestly i don't know why the PR link is not reflecting here. but i had already submitted 9 days ago,you can view from this link also https://gitcoin.co/issue/gitcoinco/skunkworks/214/100025557
i have also invited you via email to the google doc . Thanks

[2021-05-18 19:50] owocki commented on #214
got it; will review in the next day or 2

On Tue, May 18, 2021 at 12:24 PM Emmanuel Jacobson ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $11.1mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2021-05-18 19:57] writeprovidence commented on #214
okay , thanks

[2021-05-19 02:17] owocki opened #223 "Get Quadratic Voting running on Compound Style GovernorAlpha"
I would like to prototype what [Compound GovernorAlpha](https://github.com/compound-finance/compound-protocol) would look like [if it had quadratic voting implemented on it](https://twitter.com/owocki/status/1393177581168459780)

Here is the promise I see in these ideas;
1. GovernorAlpha is the most popular DAO treasury management service in the world
2. Quadratic Voting is a really powerful way o

[2021-05-20 14:56] owocki commented on #223
@liezna why did you submit work with an unrelated project that has nothing to do with the scope of this project?

if anyone is actually working on the scope pls feel free  to comment + let me know or email me kevin@gitcoin.co

[2021-05-21 14:48] androolloyd commented on #223
Couple questions:

Proposal Quorums, how are they to be set and managed.

How is the effected of delegated voters taken into account, if i have 2000 Votes from 200 delegates vs 2000 votes from 20.

[2021-05-21 20:30] mohamadazreen97 commented on #223
I love u

[2021-05-26 17:30] tvanepps commented on #214
is the type in the title intentional? =)

[2021-05-28 03:04] owocki commented on #214
it is not :P

[2021-05-28 03:05] owocki commented on #214
hello to all of the submitters;

i am having ahard time judging who i should reward what given the interpretations are so subjective.  i wonder if ppl wouldnt mind posting their projects to the public goods funding workstream for gitcoindao + maybe i can see what the forum participants think https://gov.gitcoin.co/t/workstream-suggestion-public-goods-prototyping/130

[2021-05-28 08:50] ivanmolto commented on #214
It's awesome! We will post our pitch today. Thanks

[2021-05-28 13:35] alisolanki commented on #214
Great! will surely add in today itself

[2021-05-28 20:24] rob-lw commented on #214
Hey All. Sure no problem :+1:

[2021-06-01 17:24] owocki opened #225 "public goods fundin gprototype experiments"
add ideas here

[2021-06-01 17:24] owocki commented on #225
griff says checkout dev protocol ; they are great for funding OSS

[2021-06-01 17:24] owocki commented on #225
coordinAPE for gitcoin could be good

[2021-06-02 14:24] alisolanki commented on #214
Hey! any updates with the competition prizes?

[2021-06-02 14:32] owocki commented on #225
schwag store on a bonding curve (uniswap AMM style).  maybe a shopify plugin

see SACKS.

[2021-06-02 14:33] owocki commented on #225
the results of https://github.com/gitcoinco/skunkworks/issues/214

[2021-06-02 14:35] owocki commented on #225
nft dance off where the proceeds go to funding pgoods https://twitter.com/owocki/status/1378021083568242692

[2021-06-02 14:37] owocki commented on #214
hey ali; i was planning on having hte prototype workstream help me decide prizes https://github.com/gitcoinco/skunkworks/issues/214#issuecomment-850077150

if peoiple dont think thats fair (bc of the delay) i could try to YOLO up a decisions winnner myself

[2021-06-02 14:52] owocki commented on #225
a shim for DAOs that makes DAO proposal look more like employment

https://twitter.com/owocki/status/1400102764198260736

[2021-06-02 14:55] alisolanki commented on #214
Oh no worries! Thanks for the quick reply!

[2021-06-02 15:39] owocki commented on #225
fishing for ideas here https://twitter.com/owocki/status/1400098408732368898

[2021-06-02 17:17] owocki commented on #225
web3 stackoverflow or jobs board

https://twitter.com/owocki/status/1400138882637656066

[2021-06-02 17:42] owocki commented on #225
quadratic voting at the base layer of a DAO  (eg https://github.com/owocki/compound-protocol/pull/1)

[2021-06-03 19:44] owocki commented on #225
community gratitude / alloction mechanism https://twitter.com/angelagilhotra/status/1400519221075841031

[2021-06-03 21:52] owocki commented on #225
limited editoin schwag / memecraft workstream ?? => fund public goods

[2021-06-03 21:53] owocki commented on #225
video games and decentralized art funnel
- Quad lands sim city - Matt idea
- Quad lands mortal kokbat - foghtnmoloch
- Decentralized art funnel  in the DAO - spin up a workstream?

[2021-06-03 21:54] owocki commented on #225
octavian/richard/designers
- memes for 'where is the quadratic lands'
- memes for 'gitcoin building giticoindao'
- create marketing collateral for RE: gitcoin building gitcoin

[2021-06-04 20:32] owocki opened #226 "Make an AI for Dark Forest that will play for me when I'm AFK."
Inspired by this twitter thread => https://twitter.com/owocki/status/1400875155304321025

I am interested to see someone out there to create an Open Source AI framework for [Dark Forest](https://zkga.me/game1) with pluggable modules for things like strategy and objective evaluation, and naive defaults.

My use case for this tool would be to have an API build my empire (basically maximize my energy

[2021-06-06 23:18] owocki opened #227 "true liquid democracy u can overwrite votes"
true liquid democracy u can overwrite votes

but unfortunately no one has built that into COMP/UNI style systems yet
someone should build that

![image_from_ios](https://user-images.githubusercontent.com/513929/120943283-385a7a80-c6eb-11eb-8b4a-6b290d1b8dc6.png)

[2021-06-07 01:12] owocki commented on #225
funding for science https://twitter.com/stephensonhmatt/status/1400136027784744960?s=12

[2021-06-08 14:14] owocki commented on #226
@dogpool @evanmays looks like youre the two who are seriously working on this.  excited to work with u!

[2021-06-08 22:11] owocki commented on #225
https://twitter.com/tbtstl/status/1402316090944929793

nft auctions for public goods

[2021-06-09 15:58] owocki opened #229 "Help us build hackey.sacks.exchange - DESIGN/DEV WANTED"
We want to build hackey.sacks.exchange - a website that is all about SACKS - [the worlds first tokenized hackey sack](http://sacks.exchange/).

*What*
Right now [there is a twitter thread where we are kicking around a tokenized hackey sack](https://twitter.com/WalletConnect/status/1402633763268579335).  We would like to build a website that
1. visualizes on the landing page the genesis of the SACK

[2021-06-09 16:35] jajoosam commented on #229
Nice to have: Different tip levels get you different avatar borders or other sort of badge on the site.

[2021-06-09 17:48] icepy commented on #229
🏆

[2021-06-09 19:38] owocki commented on #225
https://twitter.com/BrantlyMillegan/status/1402706619834765314

[2021-06-10 23:56] TenaciousBirdofPrey commented on #229
Are you picturing it getting passed between 2 people or a cluster of people. So if sack A is created and then anyone who received it joins the circle and they all pass it around?  Or passed between 2 people, the person who has it and the person who gave it to them?

Also, is for all 250 coins?  Like the viewer clicks on coin 175 and then sees the transaction chain?

[2021-06-11 02:12] owocki commented on #229
a cluster of people.  it passes through them as u scroll

Only 1 sack.  The side just follows the twitter thread.

Just for the coins in the twitter SACK exchange.  here is the latest HEAD https://twitter.com/fingerprintsdao/status/1403015923565535238?s=21

[2021-06-11 13:29] owocki commented on #225
i wish i had an easy button to tell ppl to pay like $50 to the public goods fund + id promote their job to the entire gitcoin network.  i get like 4 of these requests for devs per week.

[2021-06-14 02:10] evanmays commented on #226
Can see my code here https://github.com/evanmays/fkbot

not done yet but some d_fdao folks are helping out

[2021-06-14 11:27] tra38 commented on #207
Hi @owocki, what is the status on this project? I'm very interested in the idea of a "red team" that exist to accurately figure out the price necessary to conduct a sybil attack - probably because then you can think about how to increase that price to make it impractical. But there doesn't seem to be any activity on this issue since May 4, so I just want to see if anything has happened since then.

[2021-06-15 01:18] owocki commented on #226
oooh this is a nice start @evanma :)

[2021-06-15 01:20] owocki commented on #207
it was abandoned.

i'd be interested in picking it up with someone who can follow thru

[2021-06-15 05:13] zoek1 commented on #207
I'll push the code that i have, the frontend is fully functional and the backend needs update the brightid logic. I can setup an instante to facilitate things but until this weekend due to some personal problems 😅

[2021-06-15 09:49] tra38 commented on #207
If it's only the backend that needs to be fixed, then yeah I can probably jump in. I don't think I will be available this week to work on it though, but I'll see if I can get time to work on it next week (which may be fine, since I'll probably need the instance anyway).

[2021-06-15 14:16] owocki opened #231 "college outreach program"
college outreach program  https://twitter.com/haydenzadams/status/1404615881569746944?s=12

[2021-06-15 22:12] owocki opened #232 "$SPIN tokenized spinners"
https://twitter.com/bitcoin4bernie/status/1404923597169201153

[2021-06-16 02:32] dogpool commented on #226
Added you to my private repo, @evanmays as well. I already had a code that farmed xdai while I was playing Dark forest, I'm working on implementing this to the ai bot. Currently I am in step 4/10. I am integrating war pluging and optimizing silver withdrawals or upgrades for the bot on newly conquered planets. I can skip these steps and release a much simpler bot that does not upgrade or withdraw

[2021-06-16 13:59] dogpool commented on #226
The process I am taking an my timeline:
Current progress: STEP 1 B4
Step 1, (A1) Integrate xDai-df farmer plugin, allowing the bot to earn more xDai, (Bot self sufficiency).
Step 1, (B1) Create or find existing plugin for extracting silver out of newly conquered planets. (To ensure bot can earn silver)
Step 1 (B2) Modify SilverXTR (Silver Extract) plugin to maximize/optimize which planet the extra

[2021-06-16 14:07] Qwe961126658 commented on #214
我很感兴趣

[2021-06-16 14:07] Qwe961126658 commented on #214
我很感兴趣

[2021-06-18 19:12] owocki commented on #225
governance innovation https://twitter.com/owocki/status/1405876259284946954

[2021-06-19 23:17] writeprovidence commented on #214
Hello @owocki , any new update on this task

[2021-06-21 13:58] owocki opened #233 "dao onboarding via gitbook"
https://ubi-rebel-alliance.gitbook.io/handbook/getting-started/roles

[2021-06-21 14:13] owocki commented on #225
Prswelcome.space

A place for people to advertise any bounty. Gitcoin or otherwise. Stake to prevent spam - Optional tip to public goods

[2021-06-21 14:13] owocki commented on #225
Work bot toshi - bored apes but for funding public goods

[2021-06-21 14:15] owocki commented on #225
“DEV Airdrop” — Get DEV token with your commits to OSS | by mayu | Dev Protocol | May, 2021 | Medium

https://medium.com/devprtcl/dev-airdrop-get-dev-token-with-your-commits-to-oss-803c4f9f37ca

[2021-06-21 15:42] owocki commented on #225
https://twitter.com/owocki/status/1405512789444071428

discoverability mining on gitcoin grants

[2021-06-21 16:37] owocki commented on #214
hey all; i just chatted with austin this morning and it looks like the R&D workstream is taking longer to put together than we anticipated.  i was hoping to process the submissions to this bounty through that workstream, but i dont think its fair to wait any longer.

so without further adeau, i will be awarding the following:

first prize (1 eth) - https://docs.google.com/document/d/1WN9EWv47fsiQe

[2021-06-21 16:37] #214 closed

[2021-06-21 23:21] owocki commented on #225
open source gmail; just  create a gmila iwth staking (spam prevention) and oss that.

[2021-06-22 16:51] owocki commented on #225
decentralized linkedin recruiter - protocol where you can unlock developer resumes + pay the devs for unlock keys

[2021-06-22 22:44] owocki commented on #225
https://twitter.com/ljxie/status/1407465810012958722

this is actually a great quadratic diplomacy idea

[2021-06-23 16:50] owocki commented on #225
https://app.sli.do/event/qdshnzgf/live/ideas

[2021-06-28 14:55] owocki commented on #225
https://github.com/ethereum-world/ethereum-world-app/discussions/categories/ideas

roadmap from https://ethereum.world/

[2021-07-01 06:59] rob-lw commented on #214
Hi @owocki.
I had submitted a payout request at gitcoin.co/requestmoney a while back and did not receive anything yet. Did I do something wrong or is it just taking a little while?

[2021-07-01 19:13] owocki commented on #214
sorry ! paying now

[2021-07-01 20:35] rob-lw commented on #214
@owocki Thank You!

[2021-07-02 18:45] owocki commented on #225
Moonshot.kit - just a page of Kevin and Austin’s favorite moonshot tools

I have like 15 dev ecosystems that would wanna be on the list I’m sure

Maybe we make them stake to be on the list or somehtjng fun like that 😉

[2021-07-02 18:46] owocki commented on #225
moonshot.capital - vc / invesotr dao that invests in alumni of the moonshot collective

[2021-07-02 20:12] owocki commented on #225
delegate communication -> eg how can a steward communication with their constituency

[2021-07-02 20:20] owocki commented on #225
steward report cards - see what your steward was up to this season

[2021-07-11 02:18] evanmays commented on #226
Did some refactoring, issue with old repo was that driving the game from python is very unstable.

Built a new architecture for the bot thats more javascript driven. This is my v0.1 of the plugin. It's got some rough edges especially as your empire grows it becomes less efficient. Right now the algorithm is just, pick random planet, then attack. But it's easy to swap out for better algorithms whet

[2021-07-12 14:55] owocki commented on #226
thanks!  anyone interested in testing/QAing this + posting notes?

im behind after vacation but can test it after that..

[2021-07-12 22:34] owocki commented on #225
depcrecated, add ideas here inst ead https://trello.com/invite/b/qDaciNgF/a5baf02df6aeb4260038a8d616d007bf/moonshot-collective

[2021-07-13 14:27] owocki opened #234 "gitcoinbot vs moloch fight scene video"

[2021-07-19 01:51] owocki commented on #225
token swap marketplace for DeFi

[2021-08-05 17:36] owocki opened #237 "Request for Proposal: Progressive Decentralization of Gitcoin"
There are several requests for proposals out on the gov.gitcoin.co forums to help us decentralize Gitcoin.

[code]

Check them out here: https://gov.gitcoin.co/c/workstream-discussion/progressive-decentralization-technical/12

I have tens of thousands of $$$$ in budget to spend here, and would love to see some proposals from the Gitcoin community.  Please submit your proposal as a comment on the g

[2021-08-14 07:40] Miendy commented on #237
By bitcoin id: bc1qg47wgu7pag3fuua93f6x56yllr6p9wl8gjpldn

[2021-08-14 09:16] 24041992 commented on #237
Good project

[2021-08-16 20:32] owocki opened #239 "Decentralize QuadraticLands.com"
The objective of this bounty is to take the current experience hosted at QuadraticLands.com (code here: https://github.com/gitcoinco/web/tree/master/app/quadraticlands ) and to build it into an app that can be maintained outside of Gitcoin’s infrastructure.

As we progressively decentralize Gitcoin, and as Gitcoin Holdings takes a back seat, I imagine that this content will become increasingly imp

[2021-08-16 21:28] freddmannen opened #240 "Request for Proposal: GitcoinDAO.com website"
Hello DAOfrens,

This is a request for someone to come up with a homepage for GitcoinDAO.com

An ideal candidate would be

-     aesthetically pleasing and on brand 1 for Gitcoin
-     would help a newcomer navigate GitcoinDAO, including the Gitcoin mission, how to get involved in governance, how to earn/use GTC, etc.
-     be decentralized in such a way that governance (or someone with delegated

[2021-08-16 21:34] freddmannen opened #241 "Request for Proposal: Decentralize Gitcoin Profiles"
This is request for someone to come up with a new decentralized experience for managing gitcoin profiles.

This includes The reputation information on Gitcoin profiles

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the data that we host on each end-user.

An ideal candidate would be have the following principles:

1.     Simplicity - product

[2021-08-16 21:35] freddmannen opened #242 "Request for Proposal: Decentralized Gitcoin Avatar Builder"
This is request for someone to come up with a new decentralized experience for creating Gitcoin-style avatars.

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the avatar builder.

We build the avatar builder so that users could celebrate their uniqueness and have a cool way of showing off their individuality on the site. As

We also feel that

[2021-08-16 21:35] freddmannen opened #243 "Request for Proposal: Decentralize Gitcoin Quests"
Hello DAOfrens,

This is request for someone to come up with a new decentralized experience for managing @quests | Gitcoin

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the Quests experience from our centralized codebase to a decentralized frontend.

An ideal candidate would be have the following principles:

    Simplicity - products that

[2021-08-16 21:36] freddmannen opened #244 "Request for Proposal: Decentralize Gitcoin Kudos"
Hello DAOfrens,

This is request for someone to come up with a new decentralized experience for managing @kudos | Gitcoin

As we progressively decentralize Gitcoin, the Gitcoin Holdings company is interested in decentralizing the Kudos experience from our centralized codebase to a decentralized frontend.

NOTE: Kudos is already a ERC-721-style NFT with a smart contract, so the bones are already in

[2021-08-16 21:37] kudos commented on #244
Mate, can you please stop highlighting me on your tickets.

[2021-08-16 21:40] freddmannen commented on #244
Sorry!

[2021-08-17 13:38] owocki commented on #239
hey @colinbowen what do you want to convert it to?  do you see any risks you need to manage in the process?

[2021-08-19 15:39] phutchins opened #245 "Grant Curation Game User Interface & Backend"
### Curation Game User Interface & Backend

### Prize Bounty
The Decentralize Gitcoin Workstream will be awarding a total of $10,000 (USDT) to devs who BUILD this hack:

1st Prize (1 team) - $6k (USDT)
2nd Prize (1 teams) - $3k (USDT)
3rd Prize(1 teams)- $1k (USDT)

### Challenge Description
A simple user interface that shows one grant at a time and asks “does this grant meet our requirements?” al

[2021-08-19 15:47] austintgriffith opened #246 "Build something awesome using Ethereum for authentication:"
Use either of these two branches to build something that uses Ethereum as a sign in authenticator:

https://github.com/austintgriffith/scaffold-eth/tree/serverless-auth
https://github.com/austintgriffith/scaffold-eth/tree/sign-in-with-web3

(For example austingriffith.tv requires that you own ETH to see me chug a beer)

🥇 gets 1 ETH
🥈 gets 0.5 ETH

[2021-08-19 15:49] austintgriffith opened #247 "Best use of 🏗 scaffold-eth gets 1 ETH!"
Use 🏗 scaffold-eth to build a dapp, that's it.
It's _built_ for making dapps, you just need to do it!

https://github.com/austintgriffith/scaffold-eth

Best use of 🏗 scaffold-eth get 1 ETH
Runner up gets 0.5 ETH

[2021-08-23 16:43] nya-elimuai commented on #246
@austintgriffith Is it a requirement to use `scaffold-eth`?

[2021-08-23 18:20] romanio26 commented on #245
These hackathons are very interesting and insightful at the same time.

[2021-08-28 13:30] duythien commented on #246
@gitcoinbot I have submitted a work on https://gitcoin.co/issue/gitcoinco/skunkworks/246/100026395 but why I can not see my PR on this issue

[2021-09-05 23:32] owocki commented on #226
hey all; thanks for the submissions thus far!  i'm going to test a few of them and pay them out by 9/15.

[2021-09-23 12:22] lazrus8 commented on #246
any update on this one?

[2021-09-26 15:25] Shahryarmohammadie commented on #245
0xfD778cA23E9668F43bBA435646e08257898a1C10

[2021-10-03 21:55] owocki commented on #226
canceling this now; i think im going to pay out the winner this week (likely @Arachnid and @evanmays  as they had the only valid submission).  lmk if i missed anyone

[2021-11-17 18:27] owocki opened #251 "If Ethereum is going to win, we need great UX for cross-shard / cross-rollup swaps. PROPOSALS WANTED"
# Problem Framing

Ethereum is a [modular blockchain](https://ethereum-magicians.org/t/a-rollup-centric-ethereum-roadmap/4698).  Solana, BSC, EOS, and others are all monolithic blockchains.  [Learn more about modular vs monolithic blockchains here](http://podcast.banklesshq.com/ultra-scalable-ethereum-modular-vs-monolithic-blockchains)

Right now, the UX of monolithic blockchains is much nicer tha

[2021-12-19 23:00] owocki opened #252 "analyze lifetime Gitcoin Grants Data Rounds -12"
the objective of this bounty is to look for trends in the [Gitcoin Grants GR1-GR12 Dataset](https://docs.google.com/spreadsheets/d/1OsJ_nmN9mN-i_9h3Yj2mDfjvtsP1qvv3B1zcpER62dk/edit#gid=1223173410)

i will pay out submissions to this bounty that point out interesting narratives about this dataset.

i have a budget of 2 ETH to spend here at my complete discretion, and would like to shoot for the fol

[2021-12-19 23:08] owocki opened #253 "Build a cross-layer-2-bridge."
This is a bounty to implement @vbuterin's idea of a decentralized cross-layer-2 bridge.

Idea described in more detail here: https://notes.ethereum.org/@vbuterin/cross_layer_2_bridges

The prize for this bounty is one winner who gets 10 ETH and an introduction to the EF Grants Team.  At our discretion, we may reward secondary prizes if (and only if) there are multiple high quality submissions.

Ho

[2021-12-22 00:15] owocki commented on #253
pls join this telegram channel if you have questions! https://t.me/+yUnPlifzgExiN2Q5

[2021-12-23 14:00] federicosan commented on #252
Please add the grants body to the dataset, not only the title thank you it can be useful for spelling error checks, vocabulary usage etc.

[2021-12-27 10:37] freespirit commented on #252
@owocki  I’m also interested in the content of the grants. Can you point to a source where I can get them based on `id`?

[2021-12-27 16:53] owocki commented on #252
talked to the FDD and they've not yet got the data lake setup.  we will retry that part of the bounty in w1 2023.

cc @disruptionjoe

[2021-12-30 11:33] isharif commented on #252
@owocki I was considering structuring my analysis as a longform article. Would that be ok, or would you prefer that I don't clutter the data results too much?

[2021-12-30 18:33] owocki commented on #252
thats fine!

[2021-12-31 23:55] Tburm commented on #252
I created a submission but I can't figure out how to post it in the governance forum. My submission is here: [link](https://github.com/Tburm/gitcoin-grant-analysis)

Does anyone know how I can post new topics in the forum? I don't see anywhere to create a new topic after linking my Github account.

[2022-01-01 00:00] bizzyvinci commented on #252
@Tburm you have to engage on the platform a bit before you can be allowed to post. E.g reading some posts (I think about 5 or so)

[2022-01-01 06:44] vintageplayer commented on #252
I levelled up at gitcoin gov and created a post :
https://gov.gitcoin.co/t/gitcoin-grants-r1-r12-region-based-trends/9579.
The same is submitted in the bounty.
But the post is no longer available. It's been temporarily removed. How to
reach in order to get it resolved?
[image: Screenshot 2022-01-01 at 12.09.49 PM.png]

On Fri, 31 Dec 2021 at 22:21, Gitcoin.co Bot ***@***.***>
wrote:

[2022-01-02 00:05] omnianalytics commented on #252
@owocki , something to consider 🤔 ... How about a Meta-Report that includes an intersection of all of the analysis completed by the winners? Instead of limiting the honorable mention payouts to 5, award it to all of the submissions that you'd like to include in the report and create a separate bounty where the top 3 or so data scientists can work together to compile the results into one automated

[2022-01-03 14:19] owocki commented on #252
gm + happy new year.  digging out from my inbox over break and planning on going through the submissions this week. aiming for payout by EOW.

[2022-01-03 23:23] owocki commented on #251
the only proiposal i see is  from @controlcpluscontrolv. https://hackmd.io/@gn56kcRBQc6mOi7LCgbv1g/HJaF1wSut

if anyone else has submissions i should run by my contacts at the EF, let me know.

[2022-01-03 23:45] owocki commented on #251
oh and @chriscassano Dmed me one on twitter

[2022-01-04 00:19] owocki commented on #252
i'd be open to doing this, but im not sure i have the cycles to organize it.

[2022-01-04 00:20] owocki commented on #252
hi all,

thanks for your submissions.  there were a lot of great submissions and so it was really hard to select a winner, but i've got a list of payouts below.

i followed the "what does a successful submission look like:" list from the bounty spec, and have selected payouts according to the ruberic posted there, which i've again pasted here.

[code]

there were a lot of great submissions i was n

[2022-01-04 00:20] #252 closed

[2022-01-04 17:58] ufkhan97 opened #254 "Wallet Connect for gitcoin.co/requestmoney not loading"
Hi,

After trying to claim my bounty from completing a gitcoin grants data analysis(https://github.com/gitcoinco/skunkworks/issues/252#issuecomment-1004443434). I could not proceed through the steps of gitcoin.co/requestmoney

I opened gitcoin on my Mac, already signed into gitcoin. I scan the Wallet Connect QR code (using Trust Wallet on my phone) and it connects on my mobile but nothing happens

[2022-01-08 23:18] owocki opened #255 "DESIGN - Create a GREEN PILL vector avatar for the Gitcoin avatar builder"
The Gitcoin avatar builder has the ability to have MANY different avatar types on it.

click here to see what i mean : https://gitcoin.co/onboard/profile/?steps=avatar#section-title

## How it works

[Checkout these two sample avatar svgs](https://bits.owocki.com/v1umkr1e).

If you open them up in your favorite SVG editor this is what youll see as the DOM structure

<img width="248" alt="Image+202

[2022-01-10 05:11] owocki commented on #251
Talked to my contact at the EF and they said "We're looking for someone higher level to "own" L2 strategy at the EF rather than just the subset of the problem."  Would either of the submitters be interested in owning the high level strategy for cross L2 UX?  I think that'd be a full time role.

Still figuring out how to award the bounty $$$$.  Whats the next step for each of your proposals, are th

[2022-01-10 23:19] ControlCplusControlV commented on #251
@owocki it would be helpful if you could elaborate on what it would mean to "own" an L2 Strategy, as I am still a little unclear at the moment.

As far as the next step for us, we are definitely interested in working on cross roll-up contract communication but without support there are other opportunities in the roll-up space we'd want to focus our immediate attention on.

[2022-01-10 23:31] owocki commented on #251
it just means owning the L2 UX investmesnt from the EF's perspective.  if you're interested, i can intro you to someone at the EF to talk more.  email me?

[2022-01-10 23:53] ControlCplusControlV commented on #251
Emailed!

[2022-01-11 22:14] csggene3 commented on #254
Were you ever able to claim this bounty @ufkhan97 ?

[2022-01-14 16:27] ufkhan97 commented on #254
Hi @csggene3 Thank you for the comment and offer of help! I did not have this issue resolved and just tried the website again. I would definitely appreciate any help posting this issue in the correct repo. Thank you!

[2022-01-15 05:43] ts-lang commented on #255
hi @owocki what is the deadline for this?

[2022-01-15 05:46] ts-lang commented on #255
I just saw deadline is  1/22/2022

[2022-01-19 14:38] artipedia commented on #255
hi @owocki  can you look this?
![examplepill](https://user-images.githubusercontent.com/36785957/150152231-a223549f-cc9b-49d9-b676-051d3b2eb840.png)

[2022-01-19 16:30] owocki commented on #255
looks like a good start to me!

On Wed, Jan 19, 2022 at 7:38 AM artipedia ***@***.***> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $50mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2022-01-20 01:00] artipedia commented on #255
Thank you, can you aprove me on bounty page?

[2022-01-20 23:52] writeprovidence commented on #255
@owocki  the sketch ![greenpill avartar-01](https://user-images.githubusercontent.com/31359701/150440453-182c2f1f-9cb5-4cf5-85d8-e25905b54925.png)

[2022-01-20 23:55] owocki commented on #255
looks like a good start!

On Thu, Jan 20, 2022 at 4:52 PM Emmanuel Jacobson ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $50mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2022-01-21 15:59] Deosaju commented on #255
https://github.com/Deosaju/creative/tree/master/Avathar

Work Submitted

[2022-01-21 19:15] tharindusathis commented on #255
![Group 1](https://user-images.githubusercontent.com/34299693/150586618-f2011147-e818-4131-ae1c-9f190b66d8fc.png) ![Group 1 (4)](https://user-images.githubusercontent.com/34299693/150586628-a4383696-5a2e-41b3-b1cb-31fecdeeb908.png)
![Group 1 (2)](https://user-images.githubusercontent.com/34299693/150586642-772bdbba-c08b-44c4-84bf-0c433fa07f2e.png) ![Frame 1](https://user-images.githubusercontent.c

[2022-01-21 19:56] AvrilApril commented on #255
@owocki here is a link to my submissionhttps://github.com/AvrilApril/Green-Pill-Avatar

[2022-01-22 08:12] ts-lang commented on #255
![Group 427318461](https://user-images.githubusercontent.com/73463541/150630468-9b562ea9-e0a8-496f-827d-9f1e6fa7559b.png)

PR: https://github.com/gitcoinco/creative/pull/417

[2022-01-22 11:39] IamJvck commented on #255
![greenpill](https://user-images.githubusercontent.com/95690851/150637004-93447261-ae32-4e88-a839-a64cd5d1f81b.gif)
![greenp-08](https://user-images.githubusercontent.com/95690851/150637013-bc7e68da-5da9-44f6-8a45-37be0b0288fe.png)
![greenp-07](https://user-images.githubusercontent.com/95690851/150637014-17812837-3b20-4da6-8274-6ed20d3b0603.png)
![greenp-06](https://user-images.githubusercontent.c

[2022-01-22 13:54] writeprovidence commented on #255
![Green pill Avatar design work-01](https://user-images.githubusercontent.com/31359701/150641165-dc4d7fca-6a97-423d-8900-5f261977ca3e.png)

[2022-01-22 18:20] rasaso commented on #255
![IMG-20220122-WA0053](https://user-images.githubusercontent.com/94965296/150650775-66fd09fc-17e8-41aa-ae4c-e4622a0f0aac.jpg)

![IMG-20220122-WA0054](https://user-images.githubusercontent.com/94965296/150650798-b9153f0a-0131-40ee-8e1a-3249f6290c19.jpg)

[2022-01-22 19:15] Hasssan04 commented on #255
![Uploading PicsArt_22-01-22_18-47-59-288.jpg…]()

[2022-01-22 19:15] Hasssan04 commented on #255
![PicsArt_22-01-22_18-47-59-288](https://user-images.githubusercontent.com/90448054/150652418-53e7ec0a-7538-4710-a562-e716443fdf73.jpg)

[2022-01-22 19:17] Hasssan04 commented on #255
![PicsArt_01-22-07 47 25](https://user-images.githubusercontent.com/90448054/150652513-ebb9aecf-c75d-4555-9947-0eec1f86cdb8.jpg)

[2022-01-22 19:27] Khadija344 commented on #255
![IMG-20220122-WA0035](https://user-images.githubusercontent.com/93493719/150652827-73c530d5-2b0a-4f66-99e3-a5252ce47909.jpg)

[2022-01-22 22:01] L-KH commented on #255
![ezgif-2-c22e71938c](https://user-images.githubusercontent.com/12660772/150656769-1a0c4590-6476-41ac-8ec2-1aa78da3d914.gif)
@owocki ,Sorry I tried to do a PR, but coudn't find the path to add the svg in. so I just submit the my repo link and here is the uploaded file
[l-kh_avatar_greenpill.zip](https://github.com/gitcoinco/skunkworks/files/7919375/l-kh_avatar_greenpill.zip)

[2022-01-23 01:23] shockingblack commented on #255
![GIF](https://user-images.githubusercontent.com/83480661/150660866-b72cf731-dd99-4791-9337-a27a0df0991f.gif)

Here is some prevs. from my avatar builder, there is way more varieties in project file. i worked with full focus and so happy with result, hope you also like it!
https://github.com/shockingblack/GREEN-PILL-VECTOR-AVATAR-BOT

[2022-01-24 14:32] owocki commented on #255
thanks for the submissions yall.  im aiming to do judging/payouts for this bounty this week.  closing the bounty for now as submissions are now closed

[2022-01-28 20:53] owocki commented on #255
gm all, i finally got around to adding these to the avatar builder.

for many of you, i was not able to load them in.  comments below.  if i tagged you, please submit a new file.  ill accept files until monday + at that time i'll do the judging for final payouts.

@matimaone1 @rasaso @Khadija344  i cannot view your submission svg . the link in your submission is not a svg

@godideas @deosaju @gior

[2022-01-28 20:54] owocki commented on #255
pr to add them to the site https://github.com/gitcoinco/web/pull/10065

[2022-01-29 04:24] matimaone1 commented on #255
Hey @owocki, sorry for that.
now the SVG file on this repo:
https://github.com/matimaone1/AVATAR
also on his comment

![avatarme](https://user-images.githubusercontent.com/27195092/151647084-c0a4d523-fbf3-4bd5-82d3-2070840bf698.svg)

have a good day.

[2022-01-29 06:14] godideas commented on #255
done
https://github.com/godideas/gitcoin-green-pill-avatar.git

On Fri, Jan 28, 2022 at 9:53 PM Kevin Owocki ***@***.***>
wrote:

[2022-01-29 08:47] Code-emm commented on #255
@owocki I've added the layers as requested
On this repository
https://github.com/Code-emm/Gitcoin-green-pill-avatar

[2022-01-29 11:38] Deosaju commented on #255
@Kevin Owocki ***@***.***> Added the combine the svgs into one
layered file as specified in the bounty desc?

added to same repo here :
https://github.com/Deosaju/creative/tree/master/Avathar
Combine layer :
https://github.com/Deosaju/creative/blob/master/Avathar/Avathar.svg
Pull request :  https://github.com/gitcoinco/creative/pull/415

On Sat, Jan 29, 2022 at 2:17 PM Code-emm ***@***.***> wrote:

[2022-01-29 12:15] giorgiothegood commented on #255
Ok, it's done...

[2022-01-29 16:48] Virtual-Face commented on #255
Replaced it with the resized version:

https://github.com/Virtual-Face/Green-Pill-Avatar

[2022-01-30 00:30] ufkhan97 commented on #254
I was able to connect and submit a request by using Desktop Chrome + Metamask

[2022-01-30 00:30] #254 closed

[2022-01-30 08:20] IamJvck commented on #255
edited sir @owocki
![greenpill_avatar](https://user-images.githubusercontent.com/95690851/151692214-8099fe68-9273-4f12-837b-636e55ff2e13.svg)
.
this is the link for SVG file:
https://github.com/IamJvck/Green-Pill-avatar-for-builder/blob/main/greenpill_avatar.svg
.
this is the link for Ai file:
https://github.com/IamJvck/Green-Pill-avatar-for-builder/blob/main/greenpill_avatar.ai

[2022-01-30 13:17] JoshuaArtman commented on #255
@owocki Here is the link to my updated work with the correct resolution https://github.com/JoshuaArtman/Green-pill-Avatar  Please check it out

[2022-01-30 14:41] AvrilApril commented on #255
@owocki kindly check the link below for the reversed work

[2022-01-30 20:12] Amaxist commented on #255
@owocki Here is the link to my updated work with the required resolution https://github.com/Amaxist/Green-pill-avater

[2022-01-30 21:02] Nefuski commented on #255
@owocki Kindly take a look at the updated work. Thank you.
https://github.com/Nefuski/Green-Pill-avater

[2022-01-31 16:19] owocki commented on #255
gm all, planning on going through the submissions in 5 hours from now.  thanks!

[2022-01-31 19:53] hamzaghz commented on #255
HEY @owocki hope i am not late for submitting.. here is my update

[Avatar.zip](https://github.com/gitcoinco/skunkworks/files/7973786/Avatar.zip)

[2022-01-31 21:11] owocki commented on #255
@matimaone1 @giorgiothegood your svg still does not match the example format.

@godideas the avatar you sent only has a few diff permutations in it.  can you please resubmit with a few diff permutations for each object type?

@Nefuski can you please submit an avatar that is 350px x 350px?

[2022-01-31 21:12] mibvase commented on #255
Good day, sir. This is practically one of my first designs on GitHub and as
a graphics designer.
I am not sure my Correction was submitted successfully so I am attaching
the files to this mail and the link to my Repository.
Thanks, sir.

https://github.com/mibvase/greenpill_bot

On Mon, Jan 31, 2022 at 5:19 PM Kevin Owocki ***@***.***>
wrote:

[2022-01-31 21:40] owocki commented on #255
hey all, i had some time to do some judging of the outcomes here.

please know that such judgements are inherently subjective.  i am thankful for each of your submissions.

if you were selected, please submit a request to me at gitcoin.co/requestmoney

# 1st prize: 1 ETH
@IamJvck

# 2nd prize: 0.35 ETH
@L-KH

# 3rd prize: 0.1 ETH

@Virtual-Face
@Code-emm
@artipedia
@illustrator2
@tharindusathis
@t

[2022-02-01 13:55] godideas commented on #255
more permutations has been added

https://github.com/godideas/gitcoin-green-pill-avatar.git

On Mon, Jan 31, 2022 at 10:12 PM Kevin Owocki ***@***.***>
wrote:

[2022-02-01 19:21] owocki opened #259 "Redesign WTFisQF.com"
I would like to see http://wtfisqf.com/ redesigned to match current design standards and to update it with the latest happenings.

what does that mean specifically?
1 - A colors, branding refresh would be great. ( you can use the brand guide at http://gitcoin.co/press )
2 - showing how rounds compound when we have multiple rounds is the next item I wanted to add. (you can use [this post](https://g

[2022-02-02 05:29] godideas commented on #255
its not allowing me to connect my wallet

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, Jan 31, 2022 at 10:41 PM Kevin Owoc

[2022-02-02 05:31] the-hack-god commented on #255
@owocki can we know by when can we expect the payouts??

[2022-02-02 21:06] owocki commented on #255
shooting for EOW this week

[2022-02-02 22:02] owocki commented on #255
just paid everyone who submitted an accurate request

[2022-02-04 15:08] nerd257 commented on #255
hi @owocki I made the money request a few days ago but I haven't received
it.

A quarta, 2/02/2022, 22:02, Kevin Owocki ***@***.***>
escreveu:

[2022-02-04 17:52] nerd257 commented on #255
I already received @owocki, thanks.

A quarta, 2/02/2022, 22:02, Kevin Owocki ***@***.***>
escreveu:

[2022-02-15 20:52] mopdo opened #261 "CAN DEVS DO SOMETHING!? (Bounty hunting 101)"
### To complete this bounty, please apply for the bounty with a work description, and then make a submission through hitting "Submit Work"

[2022-04-02 16:40] owocki opened #269 "Translate the GreenPill book into another language."
There are members of the community who are translating the [GreenPilled: How Crypto can Regenerate the World](https://greenpill.party/) into the following languages:

1. Mandarin
2. Spanish
3. Italian
4. French
5. Indonesian
6. Turkish
7. Korean
8. Hindi
9. Arabic
10. Russian
11. Portugese
12. Japanese

This is a bounty for those team members to be rewarded upon successful translation.

Successful

[2022-04-04 16:11] owocki commented on #269
@khafidprayoga
@okeaguugochukwu
@bild96
@thiangm
@payjoe93
@molecula451
@dpipaliya
@alphasoumah
@astadaniel2
@sxdisbr

pls make sure you've claimed your translation language on the trello board: https://trello.com/b/JqFKM7N0/greenpilled-translation

[2022-04-08 06:09] molecula451 commented on #269
Woud love to work on it, but I think someone else claimed the spot @owocki if you have some toughts let me know, wether you want to review different versions to see accurateness

[2022-04-08 21:49] Mildbits710 commented on #269
French translation by me and Julien D https://www.figma.com/file/D49uTErfJLixvFeUQs5gJE/greenpill-8x10-tradebook-fr-translate(Copy)?node-id=0%3A1

[2022-04-08 22:04] Mildbits710 commented on #269
Alphasoumah stole our translation and submitted it as his

On Fri, Apr 8, 2022, 17:51 Gitcoin.co Bot ***@***.***> wrote:

[2022-04-13 15:15] mopdo opened #271 "Testbounty"
test!!!

[2022-04-15 10:18] zheli commented on #269
Great initiative! Just want to point out that Mandarin is not a language, it's just a dialect for spoken Chinese. For print it should be Simplified Chinese or Traditional Chinese (they are very similar).

[2022-04-17 17:02] PandaMamaHere commented on #269
Hi @owocki, I would love to translate the book into Hindi. I am a native-speaker and an experienced translator.

[2022-04-29 13:08] owocki commented on #269
hey all; heads up we have started to source reviewers for each translators.  details are in this tweet https://twitter.com/owocki/status/1519684883890810881

bob jiang will be leading the translation review process in each of the telegram channels.

[2022-04-30 23:23] Kinou90100 commented on #271
#271
#270
#269
#252
#167
#129
@Christoc90
@Kinou90100

[2022-04-30 23:40] Kinou90100 commented on #271
#270
#269
#252
#167
#129
@Christoc90
@Kinou90100

[2022-05-01 22:31] owocki commented on #269
submissions close tonight at midnight.

after that, we will be fast at work reviewing the translations.  @bobjiang has details on the reivew process.

thanks again everyone for the submissions!

[2022-05-02 12:29] owocki commented on #269
closing the bounty now!

review guidelines:  https://gist.github.com/owocki/41beb24c215540e0e4f4cf395b1b9f7a

we will pay out these bounties as each translation is reviewed, i expect it may take a week to a few weeks

[2022-05-05 14:26] owocki commented on #253
hey all; ill ask Vitalik what he thinkks of hte submission

[2022-05-20 01:24] bobjiang commented on #269
The bounty report:

The following languages (translators) have been paid - (tx 0x19266c6b7b50a0eaee1a22ff11cc6e3dcd9c9fd6551d5d41dc3be30af7bd5063)
- Italian
- Portugese
- Chinese
- Turkish
- Russian
- Japanese

Persian, Indonesian, Spanish, and French are in review.

[2022-05-20 01:37] molecula451 commented on #269
@bobjiang I can finish the spanish translation as long as someone points that there is no one else working on it, I was approved to work on it

[2022-05-20 06:29] bobjiang commented on #269
There is a Spanish version published. https://store.gitcoin.co/products/green-pill-book-digital-edition-spanish

[2022-05-20 08:24] PandaMamaHere commented on #269
@bobjiang any update on Hindi review?

[2022-05-20 09:52] molecula451 commented on #269
I did not do it. I was approved to do it, but someone get in the way to accomplish it. However, i asked since you said that is still in review

[2022-05-24 02:42] bobjiang commented on #269
Hindi version is rejected by reviewers.

[2022-05-24 03:15] bobjiang commented on #269
bounty report updated on 24 May.

The following languages (translators) have been published

- Italian
- Portugese
- Chinese
- Turkish
- Russian
- Japanese
- Persian
- Spanish (by @Ariiellus)

The following translations are rejected:

- French
- Spanish (by @thianandre)
- Korean, Telugu (no submission)
- Hindi
- Arabic

still in review
- Indonesian
- Kannada

[2022-05-24 03:20] molecula451 commented on #269
@bobjiang I don't see that user was approved to work, why his contribution was taken in count if the bounty states that don't start to work if not approved? I was approved to but I didn't started because I did not receive updates and someone else was doing it

[2022-05-24 03:23] molecula451 commented on #269
@bobjiang Double and triple check [the trello board](https://trello.com/invite/b/JqFKM7N0/97fd73ba163d47a3ef8469818f3dea17/greenpilled-translation) to make sure there is not another group translating the same language as you. DO NOT SKIP THIS STEP, YOU WILL RISK WASTING A LOT OF TIME IF YOU DO. I only have budget for one translation per language, and will be rewarding the best successful translati

[2022-05-24 03:24] molecula451 commented on #269
coordination failure? @bobjiang

[2022-05-24 03:31] bobjiang commented on #269
Thank you very much for the feedback!
(I guess you're referring to Spanish language)
the submitted version is rejected because of low quality.

The current published version is from telegram group (review group), and it is high quality, but it will not get reward because didn't match the bounty rules.

any more comments?

[2022-05-24 03:33] molecula451 commented on #269
but if you approve two personas for the bounty, why you went ahead an find someone in  other sources, Since I was approved to work on the bounty, can I send my work translation, as you review in quality and it might be of help for other formats, appreciate it advance, I was approve to work, never start to work if not approve

[2022-05-24 03:43] bobjiang commented on #269
good question, the fact is we don't look for someone else, but they provided the translated Spanish version as volunteer, you can join the tg group to get more context.

https://t.me/+oQroKLeWIII0NjVl

[2022-05-24 03:45] molecula451 commented on #269
if I was on your position i will have discarded with "We fortunate to  approved to hunters for that specific translation, as much as your translations looks of high quality, we are in need to rejected". I wanted to delivered my work, the moment I saw someone else was working on the same translation I knew that it would create confusion, coordination failure

[2022-05-24 03:49] Ariiellus commented on #269
Good night, everyone

Thanks again @Bob for take in consideration our work.

@Paul sorry to hear your work wasn't approved but the rules put this: "YOUR TRANSLATION MUST BE READ LIKE A GOOD NATIVE TRANSLATION." and for many people your work was a copy paste from google translate.

Friendly reminder that coordination failures begin in the individual and it spread like cancer to the community.

Last

[2022-05-24 03:56] Ariiellus commented on #269
My mistake, I truly sorry for the confusion @Paul,

The user that was "fighting" with us was an user called "Thian".

Have a good night.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Paul ***@***.***>
Sent: Monday, May 23, 2022 10:51:14 PM
To: gitcoinco/skunkworks ***@***.***>
Cc: Ariiellus ***@***.***>; Mention ***@***.***>
Subject: Re: [gitcoinco/skunkworks]

[2022-05-24 04:00] molecula451 commented on #269
thoughts? @bobjiang

[2022-05-24 04:16] molecula451 commented on #269
in that case i join today to the Cypherpunk Citadel DAO please claim the bounty on my behalf. & payout for what is deversed. I even had time to consider the deliver of my work. I wouldn't have applied for this task if I doesn't feel i was a good fit for it

[2022-05-24 05:39] molecula451 commented on #269
Please look how I wrote this message just before I was approved to work

[2022-05-24 20:43] molecula451 commented on #269
@Ariiellus where do i pm you?

[2022-05-24 20:47] Ariiellus commented on #269
Telegram or Twitter, @ariiellus

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Paul ***@***.***>
Sent: Tuesday, May 24, 2022 3:43:19 PM
To: gitcoinco/skunkworks ***@***.***>
Cc: Ariiellus ***@***.***>; Mention ***@***.***>
Subject: Re: [gitcoinco/skunkworks] Translate the GreenPill book into another language. (Issue #269)

@Ariiellus<https://github.com/Ariiellus

[2022-06-06 18:09] owocki commented on #253
@sherifahmed990
@Shr1ftyy
@soheil555
@0xbbPizza
@qizhou
@cyber-bot
@wartstone
@houhou139
@duongsky96

I am working with @vbuterin on judging the submissions this week.  Please either post your telegram handle or DM me on telegram (i'm owocki on tg) with a link to your submission.  From there I will create a private chat for us to talk details of each submission (Vitalik has questions for each of y

[2022-07-01 15:52] #253 closed

[2022-07-06 05:01] owocki opened #272 "Gitcoin Hyperstructure Line Art"
This is an art bounty.  I would like for you, designer/illustrator/creative person, to come up with a visualization of the Gitcoin hyper structure.

Here's how to participate:
1. Read [this post](https://twitter.com/owocki/status/1543651089462939648) and [this post](https://gov.gitcoin.co/t/the-gitcoin-gitcoindao-egregore-is-emerging/8200)
2. Download some Gitcoin brand assets [here](https://gitco

[2022-07-14 12:56] drew7wonders commented on #272
Submitting 6 different line arts with gitcoin integration, every 6 of them varies a lot so you may like one, but hate other, so this is a request to check all 6 before the final decision.

![gitcoin](https://user-images.githubusercontent.com/95687419/178986156-201de0d9-adf3-46e3-b003-f53fc45db2a0.png)
![Line Art Logos](https://user-images.githubusercontent.com/95687419/178986205-2f293737-8dea-4350

[2022-07-14 15:16] owocki opened #273 "Add dark mode to vitalik.ca"
Vitalik has offered 1 eth to make a PR to https://github.com/vbuterin/blogmaker and https://github.com/vbuterin/blog to add proper dark mode.

Requirements:

*  Should be a small addition to the single python file in blogmaker (plus styles and scripts, but keep it small). Don't complexify the project structure
* Go through all the images on vitalik.ca posts, and make sure they look good in dark mo

[2022-07-14 16:24] Thenasc1971 opened #274 "Stranger"
It doesnt look good

[2022-07-14 18:51] drewcook commented on #273
Here's a quick codepen on utilizing CSS variables which should be pretty non-intrusive - https://codepen.io/drewcook/pen/XWENzjx - the methodology is there and can be expanded to affect what is needed.  The values are arbitrary.

[2022-07-15 13:36] owocki opened #275 "create a gitcoin passport scaffold-eth build"
https://docs.passport.gitcoin.co/github-projects
https://github.com/scaffold-eth/scaffold-eth

the objective of this bounty is to build a scaffold eth branch that runs as follows
1. connect my wallet
2. i press a button entitled "get my personhood score" and an alert pops up and says "you have a personhood score of X".
3. you may use the same scoring algorithm that https://passport.gitcoin.co/ use

[2022-07-15 16:56] owocki commented on #273
i'm sure you all saw it yesterday but vitalik blogged about this bounty :) https://twitter.com/VitalikButerin/status/1547603783202377731

thanks everyone for the applications!  there are sooooo many good ones it was really hard to choose 1 person to move forward.  i would have chosen multiple people but i didnt want to encourage [spec work](https://en.wikipedia.org/wiki/Speculative_work) and i did

[2022-07-15 20:20] drewcook commented on #273
@owocki Wow, what an honor to be chosen to contribute in this manner!  Thank you for the consideration!

I will be spending this afternoon looking into the blog repositories and going over in detail how things are set up within them.  My initial thought is to use CSS variables with a toggle switch to map the CSS variable to their respective value sets. There will be one set for the original values

[2022-07-15 20:35] unreleased commented on #273
Hi Drew,

For user experience I also recommend using the appropriate media queries to
detect the users preferred default style.

/* Light mode ***@***.*** (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

Please see attached, more information is available here:
***@***.***/prefers-color-scheme

On Fri, 15 Jul 2022 at 14:20, Drew Cook ***@***

[2022-07-16 10:18] uivlis commented on #272
Submitting my shot at the task:
![gitcoin-hyperstructure](https://user-images.githubusercontent.com/7414543/179350694-f77d51df-c4bf-4faa-ae9c-d55c03704d07.svg)
address: 0x6801c926733EeD08210738986a8c56414125b1Ae, twitter: @vlad_silviu.

[2022-07-16 15:17] owocki commented on #272
thanks for the submissions so far.  @uivlis @drew7wonders i think the results would be stronger if the gitcoin logos blended into the piece a bit more.  (colors + line weight)

[2022-07-16 16:30] drew7wonders commented on #272
![Gtc](https://user-images.githubusercontent.com/95687419/179363636-f9ab5232-2ae1-4e7f-887b-993eb119f7b2.png)
My wallet address: 0x882A703c43e71e1463Ef6694548fd6Ee3440E533
my twitter username: @shubhk84

[2022-07-16 22:00] Ify01 commented on #272
**_This is my hyper structure design that i made with figma, i am 100% open for correction and adjustment._**

![20220716_224312](https://user-images.githubusercontent.com/97858187/179372917-d20bf36b-f030-4081-b703-d0f7c76201b4.jpg)
![20220716_224704](https://user-images.githubusercontent.com/97858187/179372921-2f336b14-e8d4-4276-b3d0-93fdd72d8399.png)

my wallet address: 0x98A1160e90dE7813b8BFFe0

[2022-07-17 14:24] Code-emm commented on #272
Hi @owocki here's my submission for the gitcoin hyperstructure lineart![Hyperstructure Line art.jpg](https://user-images.githubusercontent.com/86200112/179402819-0198f849-d5ba-4776-b075-fc830bf935bb.jpg)

My ethereum wallet: 0x40d14DAEbDEB18950dDC162D1FCE442e1E31EA5a

My twitter handle: @themaziemmanuel

[2022-07-17 16:46] chris-jobs commented on #272
@owocki my nature inspired line art line.
![20220717_173947](https://user-images.githubusercontent.com/101060083/179414237-a7e83a86-c25a-4c7f-a4dc-fd337706b4bd.jpg)

My wallet address: 0x8820e268b10dC0b4ead0947D99Fdc3d25C11D290

[2022-07-17 19:15] okeaguugochukwu commented on #272
![IMG-20220717-WA0024](https://user-images.githubusercontent.com/79024354/179421241-4fff8e8a-feca-4e74-93eb-48c5eac8c149.jpg)

![Screenshot_20220717-200935_Figma](https://user-images.githubusercontent.com/79024354/179421255-9fc993df-81cb-4653-bfd5-811f4c167e90.jpg)

eth wallet address: 0x62aEE9150C0F3cc4C9266bEE82C86499f57d7A02

twitter username: @UgochukwuOkeagu

[2022-07-17 19:38] Antonio21515 commented on #272
Our sketch is still to be digitized and fix a few tweaks, what is the maximum date of the contest?
![IMG_20220717_115235_613](https://user-images.githubusercontent.com/22333414/179422093-8383c097-d6e4-41a2-837a-5e1eaec45d48.jpg)

[2022-07-17 19:44] joshmike2301 commented on #272
![Screenshot_20220717-202952_Figma](https://user-images.githubusercontent.com/107355101/179422124-65549715-082f-4e6f-8ca2-41e1d815f122.jpg)

 wallet address: 0x0121928a9E46eEA1944bc7955726365bcd14bD84

[2022-07-18 07:17] drewcook commented on #273
@owocki - I've spent some time vetting the codebase this weekend and have determined that my approach above is going to work pretty well.  I've got a working version applied to the blog's index page thus far.  Here are some further details on how adding in this feature is going to look like throughout the blog's file structure:

For a new `global.css` stylesheet:
- Add in a new stylesheet to defin

[2022-07-19 16:56] en0c-026 commented on #272
PNG Format:
![gitcoin-hyperstructure](https://user-images.githubusercontent.com/28759552/179806645-95cbf9b7-eb2d-4194-b003-2fa4eb16379a.png)
JPG Format:
![gitcoin-hyperstructure](https://user-images.githubusercontent.com/28759552/179806663-c81a6918-6a76-4eb8-a390-608315cf67b0.jpg)

Eth Address: 0xa5Cf4DDFe4BfDbE712bD2f54EAadaCebb809fAED

[2022-07-19 18:49] MorrisDj247 commented on #272
Here is my submission of the hyperstructure line art
[d1.pdf](https://github.com/gitcoinco/skunkworks/files/9143866/d1.pdf)

[d2.pdf](https://github.com/gitcoinco/skunkworks/files/9143871/d2.pdf)

Address: 0x0dA334bfE5F8363d05d0Bf1835d57b8E0A50B8BE
Twitter handle: @morrisdj247

[2022-07-19 20:00] MorrisDj247 commented on #272
Here is my submission of the hyperstructure line art.

![6F2DA528-B392-4C7A-B544-14D12BE21022](https://user-images.githubusercontent.com/86553841/179837506-4830a290-88b5-4ef3-a621-e970929a2097.jpeg)
![29505AD0-3D42-4595-A20B-4D257A81129F](https://user-images.githubusercontent.com/86553841/179837522-813ad0f8-61aa-4f38-a6ad-2bf736170364.jpeg)

eth address: 0x0dA334bfE5F8363d05d0Bf1835d57b8E0A50B8BE

[2022-07-20 06:36] xxJairxx0 opened #276 "Gitcoin hyperstructure"
![GC](https://user-images.githubusercontent.com/69409003/179912000-0bb709e1-11ca-4b6a-867c-ad506019d685.png)
![IMG_20220717_115102_700](https://user-images.githubusercontent.com/69409003/179912007-9c6645ca-9847-4c34-bbeb-fb63f6c3d282.jpg)

This art is made up of The lines that make up a set of nodes are interconnected between the logo that presents as a sun from the environment towards the nature

[2022-07-20 16:04] IamJvck commented on #272
ETH address: **0x2FF9ae2b12c27CA74fDa6aE98E85C74aA857ec9F**
Twitter: **@JvckNguyen**

![Gitcoin_Hyperstructure-01](https://user-images.githubusercontent.com/95690851/180029388-d1ad2c98-d21c-44ac-9dad-93c2224bd3e1.png)
.

[2022-07-20 16:10] IamJvck commented on #272
@owocki am I late ?

[2022-07-21 00:50] Mazrooee commented on #272
The best git coin

[2022-07-21 06:06] IamJvck commented on #272
![hyperconstructure-02](https://user-images.githubusercontent.com/95690851/180141151-0ff88272-f49e-4370-98a1-74901ba7e29f.png)
![hyperconstructure-01](https://user-images.githubusercontent.com/95690851/180141183-620ba87c-8c8e-40db-88a0-ea797280ef5b.png)
updated

[2022-07-22 00:55] TEMOVA commented on #272
@owocki I used Cinema 4D to create this. I can send you .c4d but it could be opened only by this program.
Here you can download the source file:
https://disk.yandex.ru/d/hzBe4eglfvhhvA

[2022-07-22 03:24] xxJairxx0 opened #277 "Final project Gitcoin bb"
![final](https://user-images.githubusercontent.com/69409003/180355597-7df4716a-42c5-440b-ba79-5e2f3d120b3b.jpg)

fully digitized drawing of the user's freehand sketch as it was the time I published it sorry for the delay, this is the final presentation of the illustration.

_I leave my Twitter where I attach the illustration in a tweet:_
@antonio66983593

**Wallet: 0x2dfD3CB4b7F6f1DF4fa007c2756372

[2022-07-22 03:42] xxJairxx0 opened #278 "Final project Gitcoin bb"
![final](https://user-images.githubusercontent.com/69409003/180357860-4ea20246-db82-4699-8e1a-36403f76bc99.jpg)

fully digitized drawing of the user's freehand sketch as it was the time I published it sorry for the delay, this is the final presentation of the illustration.

_I leave my Twitter where I attach the illustration in a tweet:_
@antonio66983593

**Wallet: 0x2dfD3CB4b7F6f1DF4fa007c2756372

[2022-07-22 03:46] xxJairxx0 opened #279 "Final project Gitcoin bb"
![final](https://user-images.githubusercontent.com/69409003/180358265-9c1be736-2f46-495a-bdfa-f06d0a7a013d.jpg)

fully digitized drawing of the user's freehand sketch as it was the time I published it sorry for the delay, this is the final presentation of the illustration.

_I leave my Twitter where I attach the illustration in a tweet:_
@antonio66983593

**Wallet: 0x2dfD3CB4b7F6f1DF4fa007c2756372

[2022-07-22 03:50] #279 closed

[2022-07-22 03:50] #278 closed

[2022-07-22 04:03] #276 closed

[2022-07-24 09:47] owocki commented on #273
thanks @drewcook - can you submit a WIP PR back to vitaliks github repo so we can checkout the code?  any way you can expose your local build to me/vitalik so we can poke around and preview how the posts look?

[2022-07-24 19:51] owocki commented on #272
thanks for all of the submissions. will be paying out very soon.  last call for submissions!

[2022-07-24 19:52] owocki commented on #272
thanks for all of the submissions. will be paying out very soon.  last call for submissions!

[2022-07-24 22:19] drewcook commented on #273
@owocki - I created a WIP PR to show my changes, but I'm having some blocking issues running `publish.py posts/*` and compiling the markdown files into the proper places.  I've added notes in the PR outlining these issues and attached videos showcasing them.  I'm following the directions in [this readme](https://github.com/vbuterin/blogmaker).   I will need some assistance/guidance here I believe.

[2022-07-26 20:17] owocki commented on #272
Hey all, time to chat payouts!

I have $1.5k for this art bounty. I will reward $700 to the top contributor, $300 for second place, and the rest of the prizes at my discretion.  There were a lot of great submissions so it was really hard to make a choice here.

If you were selected, please email accounting@gitcoin.co and cc kevin@gitcoin.co with an invoice and a copy of your submission.  please in

[2022-07-26 20:21] #272 closed

[2022-07-26 20:26] xxJairxx0 commented on #272
@owocki do you have any mail or telegram to attach the source file? thank you very much and congratulations to all

[2022-07-26 21:31] Ify01 commented on #272
Congratulations to the winners. @owocki thanks for giving us an opportunity to thrive.

[2022-07-27 10:53] IamJvck commented on #272
sent sir!

[2022-07-27 11:55] okeaguugochukwu commented on #272
@owocki I have the mail to accounting@gitcoin.co with my ethereum address and gitcoin username as follows

https://github.com/gitcoinco/skunkworks/issues/272#issuecomment-1186591965

ethereum address: 0x62aEE9150C0F3cc4C9266bEE82C86499f57d7A02
username link https://gitcoin.co/okeaguugochukwu

[2022-07-27 13:22] joshmike2301 commented on #272
I have sent my details to accounting@gitcoin.co and cc to Kevin@gitcoin.co

[2022-07-27 14:58] drewcook commented on #273
Update PR to `blogmaker` - https://github.com/vbuterin/blogmaker/pull/11

[2022-07-27 16:17] MorrisDj247 commented on #272
@owocki thanks for choosing me among the honorable mention

[2022-07-27 19:07] okeaguugochukwu commented on #272
thanks @owocki , I got the 50 usdc.  am flattered.

[2022-07-27 19:07] okeaguugochukwu commented on #272
thanks @owocki , I got the 50 usdc.  am flattered.

[2022-07-30 20:47] owocki opened #280 "Network State Book - Complete a High Leverage Action for Balaji"
As you all may know , Balaji Srinivasan just released  https://thenetworkstate.com/ - a book about ... well... network states.

Balaji is a Gitcoin investor, friend, + recently did a podcast with me about public infrastructure in the network state https://www.youtube.com/watch?v=KbSgm3G_H_U

Through our conversation about the Network State, it has become clear that he plans to update the resource

[2022-07-31 19:08] owocki opened #281 "make the responses to this tweet into art"
https://twitter.com/owocki/status/1553538369799405569

this is a bounty to make the responses to this tweet into illustrations, an infographic, or any other type of art.  the objective of this is to celebrate all of the public goods in the world (especially the ones that the gitcoin/ethereum community is excited about)

to submit,
1. quote tweet [this tweet](https://twitter.com/owocki/status/15535

[2022-08-03 16:12] #207 closed

[2022-08-03 16:17] owocki opened #282 "Build HoneyPot.Money on Gitcoin Passport"
Hello builders!

I am looking for a reliable web developer to build a simple site for me in the next several weeks.

# Preface

About the site:  Gitcoin has built out Gitcoin Passport https://passport.gitcoin.co/ & https://docs.passport.gitcoin.co/ - a protocol thats going to allow users to take their Gitcoin Grants sybil resistent identity across the dweb with them.  We think this is going to unl

[2022-08-03 16:22] owocki commented on #207
new bounty => https://github.com/gitcoinco/skunkworks/issues/282

[2022-08-03 16:22] #274 closed

[2022-08-03 16:27] owocki opened #283 "Create episode Guide for Episode 3 of Daniel Schmachtenberger GreenPill Podcast"
This is a bounty to help me prepare for the next episode of podcasts with writer/author/thinker Daniel Schmachtenberger

Here are the first two episodes we've done together;
1. https://www.youtube.com/watch?v=WRohQKNNuM4
1. https://www.youtube.com/watch?v=WVEP0zAK-xQ

We are in the middle of a 4 part series:
1. What is the metacrisis?
2. What are the criteria for addressing the meta-crisis?
3. How

[2022-08-03 16:55] owocki opened #284 "Build SimpleGrants Product - Bring Quadratic Funding to Web2"
[web3studio](https://gov.gitcoin.co/t/hello-web3studio/11211) is building a web2 Quadratic Funding tool called Simple Grants.

Simple Grants is a forkable QF tool that anyone can fork + deploy in their local community.  Think Gitcoin Grants but with a clean codebase for web2.

High Level Requirements:
1. Open Source
2. GREAT Dev Experience including easy forkability + setup.  strong doc skills
3.

[2022-08-03 18:29] owocki commented on #275
https://github.com/gitcoinco/passport-reader/issues/2

[2022-08-03 18:29] #275 closed

[2022-08-08 22:25] owocki opened #285 "dankrad idea"
https://twitter.com/dankrad/status/1556742068269207554

[2022-08-15 12:52] owocki commented on #273
thanks @drewcook for the great work on this!  vitalik paid out off-platform so im closing this out here.

[2022-08-15 12:52] #273 closed

[2022-08-15 23:34] writeprovidence commented on #281
https://twitter.com/owocki/status/1553538369799405569

[2022-08-16 17:14] GitcoinCode commented on #281
hey, @owocki when are you announcing winners??

[2022-08-16 18:19] owocki commented on #281
by next week.  this week if i get ahead of schedule

[2022-08-17 13:11] owocki commented on #283
thanks for the submission [@mawut0r](https://gitcoin.co/mawut0r)

[2022-08-23 16:07] owocki commented on #282
hey @melvinalvarez heads up we are building this now but we werent able to get the domain honeypot.money domain.  we were able to honeypot.cash - any way we could get a turn on the design that shows honeypot.cash?

cc @phsiao  who is devving this with me

[2022-08-23 16:21] melvinalvarez commented on #282
Hi @owocki will update the Figma file & exported assets to reflect this within the week! @phsiao lmk if there's anything else you need! 😁

[2022-08-23 16:23] owocki commented on #282
thanks @melvinalvarez can you link the figma here?

btw is there a twitter unfurl headder that we can use too?  current site at https://honeypot.cash/ does not have a twitter unfurl.

[2022-08-23 16:42] melvinalvarez commented on #282
Here are the Figma links @owocki - will tag you here once the graphics are updated!

UI: https://www.figma.com/file/HlsjRxOOuz4LiB8JvMTE1L/Honeypot.money_UI?node-id=38%3A0
Illustrations, Branding: https://www.figma.com/file/4wdEvfIvzTlMbllb39Wrnc/Honeypot.money_Branding?node-id=0%3A1

for the twitter unfurl header would something like this work? (attached)
![Social_Graphic_04](https://user-images.

[2022-08-23 22:01] phsiao commented on #282
@melvinalvarez there are a couple things I would like to get help or clarity on:

1. We switched from using BrightID to Gitcoin Passort for qualification, so the logo and button no longer works and I tried to make text buttons look similar to the graphical buttons but they still look a bit odd.
2. I put something together for messaging if a user is qualified or not qualified for a campaign, but I

[2022-08-24 08:45] melvinalvarez commented on #282
Hey @phsiao

I'll include an updated spec + assets for Gitcoin Passport and updated messaging re: user qualifications by Friday along w/ the updated Honeypot.cash logo!

As for the 0.1 ETH placeholder, it was meant to show how much the reward will be for the campaign (0.1 ETH - BrightID) assuming there could be multiple campaigns available w/ varying reward amounts. do you know if there will be ot

[2022-08-24 13:20] phsiao commented on #282
@melvinalvarez I think the campaign now has the freedom to qualify visitors based on gitcoin passport stamps --- say you must have one of the BrightID or POH, or using a scoring function over all the stamps you have.  I believe @owocki plan to set up future campaigns that encourage visitors to obtain specific stamps and to estimate the cost of obtaining those stamps using the reward.

[2022-08-24 22:59] phsiao commented on #282
@melvinalvarez some additional feedbacks I got that I would love to get some help with.

1. During connect, the button for "Connect to Web3" and "Connect to Gitcoin Passport" appears to be too similar for some people so they don't realize they need to click a second time right way.  The page mostly does not change and that may also add to the confusion.  The progress bar did move but not sure if p

[2022-08-25 00:48] chris-jobs commented on #281
@owocki, please when are we expecting the results?

On Tue, Aug 16, 2022 at 7:19 PM Kevin Owocki ***@***.***>
wrote:

[2022-08-25 08:19] okeaguugochukwu commented on #281
please we are waiting @owocki

[2022-08-25 09:00] Ify01 commented on #281
We hope for response very soon.

On Thu, Aug 25, 2022, 09:19 okeaguugochukwu, ***@***.***>
wrote:

[2022-08-25 15:33] owocki commented on #281
Please read my last comment.

On Thu, Aug 25, 2022 at 3:00 AM Ezeugwu Ifeanyi ***@***.***>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $50mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2022-08-25 19:48] owocki commented on #281
Hey all, time to chat payouts!

If you were selected, please email accounting@gitcoin.co and cc kevin@gitcoin.co with an invoice and a copy of your submission. please include your eth address + your gitcoin handle in your submission. for security purposes, you must email from the email on your account.

Here is what I'm thinking

# top submission - 500 DAI
@Roundtree-Larry

# second submission - 2

[2022-08-25 19:48] #281 closed

[2022-08-25 20:26] shegu88 commented on #281
@owoki, my design response i cant access my twitter handle because i dont
usually use the platform, i have filled a report.
hope you consider me?

[image: 1.png]

On Thu, Aug 25, 2022 at 8:48 PM Kevin Owocki ***@***.***>
wrote:

[2022-09-01 06:49] MorrisDj247 commented on #280
@owocki ,I mistaken submitted  my review of the book with a wrong link,I don’t know if I can submit the review book here

[2022-09-01 10:47] shegu88 commented on #280
When will the results be announced?

On Thu, Sep 1, 2022 at 7:49 AM MorrisDj247 ***@***.***> wrote:

[2022-09-01 13:43] owocki commented on #280
submissions now closed; will announce winners in the next week or so.

[2022-09-07 07:51] joshmike2301 commented on #280
please ser @owocki,  I beg you to release list of winners,  please 🙏

[2022-09-08 04:12] davewilliamson208 commented on #280
I think that @owocki <https://github.com/owocki>, will announce the winners
as soon as possible before the deadline expires/runs out.

On Wed, Sep 7, 2022 at 8:52 AM joshmike2301 ***@***.***>
wrote:

[2022-09-08 04:30] isharif commented on #280
Hey! @owocki Will you be checking for plagiarism in the submissions?

[2022-09-08 07:54] isharif commented on #280
I apologize if this is not the correct place to point this out. But this submission seems to be an almost verbatim copy from an earlier existing review of the book.

submission: https://twitter.com/joshmike2301/status/1564493432487280641?t=utr1wW_bqvG_ehNou4WhTA&s=19

Existing review: https://www.strangeloopcanon.com/p/book-review-the-network-state

[2022-09-08 10:31] Chibez commented on #280
@isharif your observation is okay and I commend you for that. certainly,
@owocki and the team will look into that as well and take necessary action.

On Thu, Sep 8, 2022, 08:54 isharif.code ***@***.***> wrote:

[2022-09-08 12:41] okeaguugochukwu commented on #280
I believe results will be released soon

[2022-09-08 12:48] Chibez commented on #280
@owocki, I still found similar situations in @kekule19 submission.

https://twitter.com/MKekule/status/1564919666233020418

copied from

https://visual.indicpacific.com/p/book-review-the-network-state-and

please, the team should look into this situation and that of previously
mentioned by @isharif

On Thu, Sep 8, 2022, 11:31 speakit ***@***.***> wrote:

[2022-09-08 13:29] owocki commented on #280
hi all; thanks for the comments.  been heads down on MCON the last few days but hoping to review this soon.

To answer the questions above, Only high quality work (in Balaji and my opinion) will be given a reward.  Plagarised work is not likely to be high quality or high leverage.

[2022-09-08 20:25] Chibez commented on #280
I spotted this ***@***.***

https://twitter.com/davidca61360628/status/1563257090100981761?t=HvkEOzFCt5ieq1uW4LzWEw&s=19

gotten from,

https://frawleya.medium.com/balajis-network-state-reviewing-its-goodness-and-feasibility-c99d6d32b4e8

On Thu, Sep 8, 2022, 14:29 Kevin Owocki ***@***.***> wrote:

[2022-09-08 20:44] okeaguugochukwu commented on #280
@chibez I think you stupid , I think the reviewer did  a good job , am in love the job . why are judging ur fellow competitors.......this is pure wickedness.  am fed up with your attitude @Chibez and @isharif

[2022-09-08 20:46] okeaguugochukwu commented on #280
I think jobs you are criticising @Chibez is better than yours . I have seen it and they're pure quality

[2022-09-08 21:53] Chibez commented on #280
@okeaguugochukwu, I needed to clarify that they copied previously published
projects from other authors without acknowledging them, which is purely
plagiarism.

why are they silent about these recent developments?

let's be professional and honest. thank you.

On Thu, Sep 8, 2022, 22:11 speakit ***@***.***> wrote:

[2022-09-10 13:25] owocki commented on #280
gm all; i was consumed with MCON events late last week, will be administering the wrap up of this bounty early next week.

[2022-09-11 00:59] MorrisDj247 commented on #280
@owocki please I mistaken submitted a wrong link while I was trying to submit twitter link in regards to the book review
Pls sir I don’t know how if I can submit the work here in the comment box,although I already twittered my review of the book to you and to balaji ,I don’t know if that was enough

[2022-09-11 01:01] MorrisDj247 commented on #280
In regards to this I submit long time ago and not now,my gitcoin handle is @MorrisDj247

[2022-09-12 13:51] owocki commented on #280
@MorrisDj247 just drop the link here

[2022-09-13 02:25] MorrisDj247 commented on #280
https://twitter.com/morrisdj247/status/1565220837350932482?s=21&t=pY8UQ2vG-kydmQ6easBtTw

[2022-09-13 02:52] MorrisDj247 commented on #280
https://twitter.com/morrisdj247/status/1569519131367702529?s=21&t=5R0Jqh_YBHEYe-4nPoOKTA

[2022-09-13 15:28] okeaguugochukwu commented on #280
@owocki , we are eagerly waiting for you today.

[2022-09-13 15:42] owocki commented on #280
i might get to it today; it might slide another day or 2.

[2022-09-13 15:43] okeaguugochukwu commented on #280
ok

[2022-09-14 14:41] MorrisDj247 commented on #280
https://twitter.com/morrisdj247/status/1565220837350932482?s=21&t=pY8UQ2vG-kydmQ6easBtTw

[2022-09-14 14:41] MorrisDj247 commented on #280
https://twitter.com/morrisdj247/status/1569519131367702529?s=21&t=5R0Jqh_YBHEYe-4nPoOKTA

[2022-09-14 20:04] owocki commented on #283
submission cutoff date is in 2 days!

[2022-09-14 20:20] owocki commented on #280
ok i just read through all of them + have passed the top submissions to balaji.  im going to give him 24-48 hours to tell me which ones he thinks are the top + pay out from there.

thanks for your hard work everyone + continued patience as i work througn payouts.

[2022-09-16 19:14] shegu88 commented on #280
Are we expecting the results soon...?

On Wed, Sep 14, 2022, 21:21 Kevin Owocki, ***@***.***> wrote:

[2022-09-16 20:36] okeaguugochukwu commented on #280
@owocki this is over 48 hours you promised. please ser .........please Contact Mr balaji to know if it's ready, we have ran out of time.

[2022-09-17 16:01] owocki commented on #280
Hey all, time to do payouts!

If you were selected for a payout, please email [accounting@supermodular.xyz](mailto:accounting@supermodular.xyz) and cc [kevin@supermodular.xyz](mailto:kevin@supermodular.xyz) with an invoice and a copy of your submission. please include your eth address + your gitcoin handle in your submission. for security purposes, you must email from the email on your account.

H

[2022-09-17 16:01] #280 closed

[2022-09-17 16:27] shegu88 commented on #280
Please, sir the mail address ***@***.***, is not found.

On Sat, Sep 17, 2022 at 5:01 PM Kevin Owocki ***@***.***>
wrote:

[2022-09-17 16:36] okeaguugochukwu commented on #283
@owocki  when will result be out

[2022-09-17 16:53] owocki commented on #283
Please refer to the bounty page which has this info on it.

On Sat, Sep 17, 2022 at 9:36 AM okeaguugochukwu ***@***.***>
wrote:

[2022-09-17 16:57] Soptq commented on #280
Hi @owocki , could you please double check if the first email address (i.e. `accounting@supermodular.xyz`) is correct? Sending email to this address using gmail raising the following error:

[code]

Thanks in advance ;)

[2022-09-17 20:51] okeaguugochukwu commented on #283
I have seen the info......thanks @owocki

[2022-09-18 13:15] Ify01 commented on #280
Please, @owocki I'm yet to receive payment, I dont know if I submitted the
required information?

On Sat, Sep 17, 2022, 17:57 Soptq, ***@***.***> wrote:

[2022-09-18 14:47] owocki commented on #280
accounting@supermodular.xyz should work now. please try again.

[2022-09-19 05:34] shegu88 commented on #280
...anyone received the bounty payout?

On Sun, Sep 18, 2022, 15:47 Kevin Owocki, ***@***.***> wrote:

[2022-09-19 07:46] MorrisDj247 commented on #280
No,it’s seem no one has received payout yet,let’s wait patiently

[2022-09-20 17:03] owocki commented on #280
i believe accounting pays out invoices NET-30 (though usually they are must faster).

[2022-09-20 18:19] Ify01 commented on #280
@owocki Is there need to create a "payment invoice" aside from submitting
our details?

On Tue, Sep 20, 2022, 18:03 Kevin Owocki, ***@***.***> wrote:

[2022-09-20 22:53] MorrisDj247 commented on #280
@owocki ,pls I am yet to receive my payout,I have sent my invoice to the assigned mails

[2022-09-22 07:20] MorrisDj247 commented on #280
Gitcoin handle : https://gitcoin.co/morrisdj247
Eth address: 0x0dA334bfE5F8363d05d0Bf1835d57b8E0A50B8BE

https://twitter.com/morrisdj247/status/1565220837350932482?s=21&t=pY8UQ2vG-kydmQ6easBtTw

https://twitter.com/morrisdj247/status/1569519131367702529?s=21&t=5R0Jqh_YBHEYe-4nPoOKTA

[2022-09-23 17:44] Ify01 commented on #283
Any hope on the results soon?

[2022-09-24 14:33] okeaguugochukwu commented on #283
@Ify01 I think the result might be out today.  every is in owocki's hands.

[2022-09-25 17:57] owocki commented on #283
it slipped last week, but i hope to get to it early this week.  thanks in advance for your patience.

[2022-09-25 18:04] okeaguugochukwu commented on #283
alright

[2022-09-26 15:56] owocki commented on #283
Hey all, time to do payouts!

If you were selected for a payout, please email accounting@supermodular.xyz and cc kevin@supermodular.xyz with an invoice and a copy of your submission. please include your eth address + your gitcoin handle in your submission. for security purposes, you must email from the email on your account.

Please note that accounting will payout NET-30, so do not expect payment

[2022-09-26 15:56] #283 closed

[2022-09-26 16:09] MAWUT0R commented on #283
Thank you @owocki, much appreciated.

[2022-10-04 21:09] chris-jobs commented on #280
No updates yet on the payment?

On Thu, Sep 22, 2022, 08:20 MorrisDj247, ***@***.***> wrote:

[2022-10-04 21:30] owocki commented on #280
as noted above, payment terms are NET-30.  i am locking this thread, please contact the accounting@ email if you have further questions.

[2022-10-11 08:36] TEMOVA commented on #272
Hi! I used Cinema 4D to create this. I can send you .c4d but it could be
opened only by this programm. And I can make the whole composition simple
and make an .obj file that could be previewed and opened by any others 3d
programs.

ср, 20 июл. 2022 г. в 15:08, Kevin Owocki ***@***.***>:

[2022-11-04 14:10] #284 closed

[2022-11-04 14:11] #269 closed

[2022-11-04 14:50] owocki commented on #282
looks like the site is down @phsiao could you help get it back up

[2022-11-04 14:53] owocki commented on #282
edit: nvm