[2017-12-08 16:13] owocki opened #1 "javascript web3 instance that spits out eth gas station metrics"
Requirements
* npm-installable (or can be loaded in a browser)
* feed a web3 instance in
* it outputs a prediction table similar to https://ethgasstation.info/predictionTable.php , but in json

[2017-12-08 16:17] owocki opened #2 "Turn any image into an ethereum wallpaper"
# Requirements

* Python script that uses `PIL`
* input is a png, jpg, or gif image
* output is an image that has an ethereum logo on it (see below samples)

![ethereum](https://user-images.githubusercontent.com/513929/33774464-8ec21a0e-dbf8-11e7-9634-c537ea523fdf.jpg)

![slack-imgs](https://user-images.githubusercontent.com/513929/33774409-4f173966-dbf8-11e7-9a0d-60ca64b93aaf.png)

# Submissions

[2017-12-08 16:28] owocki commented on #1
reference implmentations in python:
https://github.com/ethereum/web3.py/issues/496
https://github.com/ethgasstation/ethgasstation-adaptive-oracle

[2017-12-08 17:09] mbeacom commented on #2
I can do this by the end of the night, unless someone else gets to it first!

[2017-12-08 18:10] adtac commented on #2
Just submitted the Google form to claim it on gitcoin.co!

[2017-12-08 19:49] adtac commented on #2
I basically sourced some pictures from Unsplash and ran my script on each of them :)

Click on an image to get a larger picture.

| Original | Wallpaper |
| - | - |
| ![squirrel](https://user-images.githubusercontent.com/7521600/33782361-73eb030e-dc7e-11e7-8e57-767182446226.png) | ![squirrel-out](https://user-images.githubusercontent.com/7521600/33782381-876d56de-dc7e-11e7-8481-afa4b4483bca.png) |

[2017-12-08 19:55] owocki commented on #2
pretty cool!  im excited about this!

thoughts:
1. would it make sense to make the diamond bigger / more proiminent?
2. would it make sense to add some sort of opacity filter on top of the diamond (or certain sections of it)?  i can't tell if the images that the ETH foundation generated does this already or not..

[2017-12-08 19:55] owocki commented on #2
cc @mbeacom what do you think

[2017-12-08 19:55] owocki commented on #2
also @adtac how do i remit payment?  do you have an ETH address?

[2017-12-08 19:57] mbeacom commented on #2
I'd probably make it a bit bigger by default and add the option to pass resize dimensions to the script as arguments for both the background and foreground.  As far as the filter, that would probably be nice! You should be able to handle it the same way.

[2017-12-08 20:00] adtac commented on #2
I mostly identified sizes based on the size of this (official) wallpaper https://www.ethereum.org/images/assets/1900/Ethereum-homestead-background-43.jpg (which is actually my real wallpaper on my laptop lol).

These images have the same relative size as that image. Changing sizes shouldn't be difficult, however :) I'll make a PR.

re the filter: I currently apply a transparent black overlay (20%

[2017-12-08 20:04] adtac commented on #2
Here's the PR: https://github.com/gitcoinco/skunkworks/pull/3

[2017-12-08 20:51] owocki opened #4 "Ethwallpaper website design"
# What

THIS BOUNTY IS FOR DESIGN WORK.  A BOUNTY MAY COME LATER FOR CODING THE SITE

Take https://github.com/gitcoinco/skunkworks/pull/3 and make it into a one page website
* hosted at Ethwallpaper.com (or similar)

Above the fold
* user can upload an image
* backend validates that it's an image, and runs https://github.com/gitcoinco/skunkworks/pull/3 on it
* outputs the new ethwallpaper for the

[2017-12-08 21:56] owocki commented on #1
metamask says: We need this if we can run it of the rpc without killing infura

[2017-12-08 23:37] owocki commented on #1
according to Daniel Ternyak this isnt possible in browser bc "You’ll need to make requests anyway to get block data, and at that point you may as well have the server handle everything and just expose a simple REST/GraphQL/whatever you like HTTP JSON service"

[2017-12-09 01:52] ernaneluis commented on #4
# V1
![page1](https://user-images.githubusercontent.com/1398769/33791441-e4999612-dc8b-11e7-98d4-6d8d9424342e.png)

#V2
![page2](https://user-images.githubusercontent.com/1398769/33791442-e4b49bd8-dc8b-11e7-9ff7-bf525662f2e4.png)

[2017-12-10 22:07] monokh commented on #1
The reference implementation seems very coupled with the use case for ethgasstation and makes too much network calls to be suitable for metamask or other backend-less apps. In those cases a simpler approach might suffice, maybe the min/average/max of the last few blocks? Perhaps this can be an option in the javascript version?
I also recall a eth gas station endpoint that gave safe/average/fast ga

[2017-12-11 05:13] kvndlgs commented on #4
![plan de travail 1-100](https://user-images.githubusercontent.com/5797425/33816605-1188e164-de08-11e7-9d3f-bd2206a28a96.jpg)

[2017-12-11 15:03] owocki commented on #2
@adtac can you claim hte issue through metamask at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/skunkworks/issues/2 and i will pay it out?

[2017-12-11 15:04] owocki commented on #2
the vision here is to to turn this into a web app.  next issue is https://github.com/gitcoinco/skunkworks/issues/4

[2017-12-11 15:05] owocki commented on #4
thanks for your submissions @kvndlgs @ernaneluis im going to invite the community to vote on these

[2017-12-11 15:11] owocki opened #5 "code ethwallpaper website"
Requirements

# Upload

1. Take the winning design from https://github.com/gitcoinco/skunkworks/issues/4
2. and the code from https://github.com/gitcoinco/skunkworks/pull/3
3. create a website that can accept image uploads, validate them, and then spit out the resultant 'eth wallpaper' image.
4. after image is uploaded, it should be displayed to the user with an option to tweet it.

# Gallery

1.

[2017-12-11 16:25] owocki commented on #1
@monokh https://ethgasstation.info/json/ethgasAPI.json might be what you were looking for

[2017-12-11 19:50] seanlewis commented on #4
### Landing

![landing-1](https://user-images.githubusercontent.com/4992614/33850577-2be64404-df19-11e7-9165-7563a2d76e8a.png)

### Output

![output-1](https://user-images.githubusercontent.com/4992614/33850615-4ad73f6c-df19-11e7-8918-5a1eb873964d.png)

[2017-12-12 00:01] owocki commented on #4
feel free to vote on this here => https://goo.gl/forms/GBYDTKnnoKTTNnzu1

[2017-12-12 05:18] merryt commented on #4
to do something different... I think most users of ethwallpaper.com will be looking to download wallpapers, not upload, so I chose to prioritize download over upload. to upload a wallpaper use the link in the upper right.

![ethwallpaper](https://user-images.githubusercontent.com/591928/33868587-0859863e-dec1-11e7-93de-8a22c8fdce3b.jpg)

[2017-12-12 22:23] tra38 commented on #5
This sounds like a very interesting project, and I would like to take it. Claiming it now...

[2017-12-12 22:28] merryt commented on #4
@owocki - I submitted a PR with those requests in it. Let me know if there is anything else we need, OR if I am breaking any repo rules.

[2017-12-12 22:42] owocki commented on #5
@tra38 see https://github.com/gitcoinco/skunkworks/pull/6 -- might require a lot of CSS mastery :)

thanks for the bug report.  im waiting on this issue to be resolved to fix this https://github.com/MetaMask/metamask-extension/issues/2736

[2017-12-12 23:21] tra38 commented on #5
@owocki: Yeah, maybe I have bitten off more than I chewed. :) I'll back off on that issue for now. I'm very confident in back-end work though.

[2017-12-13 00:00] owocki commented on #5
word; maybe you can tag team it with someone who does frontend stuff :)

[2017-12-13 00:43] merryt commented on #5
@tra38 I could help out if you need a hand, are you on the gitcoin slack channel? shoot me a DM and we will talk about how we can split up work.

[2017-12-13 04:14] oogetyboogety commented on #5
Would be interested in claiming this issue to begin working on it with Python/Django.

[2017-12-13 05:43] thelostone-mc commented on #5
I have the bandwidth to help out ^_^ Leave me a ping if you need an extra hand
@tra38 @merryt

[2017-12-13 13:16] stojce commented on #5
I tried to make a claim, but nothing happens after I went through claim process on Gitcoin (except that some ETH was withdrawn for gas...).
@owocki is Metamask extension fixed? I would love to work on this if someone elase is not working already.

[2017-12-13 16:11] owocki commented on #5
im still seeing intermittent infura / metamask issues.  am waiting to hear back from them.

@tra38 @thelostone-mc @oogetyboogety @merryt @stojce ill leave it up to you all to figure out who is gonna work on this.  last i spoke to @tra38 and @merryt it looked like they were about to get started soon

[2017-12-13 16:13] owocki commented on #5
and... like clockwork.  theres your claim. @stojce

i just invited everyone to a priv channel on the gitcoin slack to coordinate.  id love to see yall work togehter.

@oogetyboogety i couldnt find you on gitcoin.co/slack.  ping me (im owocki) if you want in

[2017-12-13 16:58] owocki commented on #2
@adtac msged on you slack.  i think it might make sense to let the commenters above work on this.. since you already are working on other issues for the platform

[2017-12-13 17:06] adtac commented on #2
You mean the website development? I'm not going to be claiming that (I suck at webdev haha). But since I've already wrote, submitted, and merged the PR (https://github.com/gitcoinco/skunkworks/pull/3) I figured I'd claim this issue (since this issue is just for the script to convert an image into a wallpaper). This and py-evm are the two bounties I've taken.

[2017-12-13 18:05] owocki commented on #2
derp.  sorry i had my wires crossed :P

[2017-12-13 18:11] adtac commented on #2
Heh, no problem :)

Wanna close this issue?

[2017-12-13 23:19] #2 closed

[2017-12-14 04:43] JonathanMatthey commented on #4
@owocki - let me know if you want that coded up, i can turn around a nice responsive version in a day - portfolio at www.jonathanmatthey.com

[2017-12-15 15:34] owocki commented on #5
@stojce you wanna take the lead on this!? @tra38 is out :P

[2017-12-19 20:17] SilentCicero opened #8 "Looking for help with Ethereum Wallet Handling book"
I am looking for help with my Ethereum Wallet Handling guide.

The work is essentially administrative, just copying and organizing already written sections into a GitBook. You will receive full accreditation and may become a bit of an expert on handling Ethereum wallets.

I can offer 1-2 ETH for project completion. Please contact me via email: nick . dodson @ consensys [DOT] net

[2017-12-19 20:17] stojce commented on #5
@owocki Made PR at https://github.com/gitcoinco/skunkworks/pull/7
Let me know if you need any help testing this.

[2017-12-20 12:19] owocki opened #9 "deploy ethwallpaper website"
# requirements

* take the code from https://github.com/gitcoinco/skunkworks/pulls
* deploy it to a server i'll provide you

# how to claim
1. claim the issue on gitcoin
2. message me on slack or leave a comment here.
3. i will spin up an ubuntu EC2 instance and give you credentials
4. you login, deploy the code in a manner that's suitable for production (ex: using gunicorn or equivilent, instead

[2017-12-20 21:14] owocki opened #10 "explore the idea of a gas faucet"
per @jasonrhaas

more ideas here:

https://twitter.com/owocki/status/943465549740179456

[2017-12-21 04:30] owocki opened #11 "time capsule"
https://twitter.com/dustycakes/status/943680447669665792

smart contract that can hold ETH until a certain time in the future.  then it can be spent

[2017-12-21 04:34] owocki commented on #10
https://twitter.com/owocki/status/943530403830185984

[2017-12-21 20:09] stojce commented on #9
Deployed to http://ethwallpaper.co/

[2017-12-21 21:46] owocki commented on #5
@stojce

this is awesome!

notes on http://ethwallpaper.co/

1. the ethereum logo should be white, not black (up top)
2. you can link 'who are we' to gitcoin.co/about?source=ethwallpaper' for now
3. i get a 500 when i try to upload though http://bits.owocki.com/0G2I45231T0k/Screen%20Shot%202017-12-21%20at%202.38.32%20PM.png
4. since "generator script runs pretty slow - it takes 6-7 min to create w

[2017-12-21 21:48] owocki opened #12 "add unfurling to ethwallpaper.co"
https://github.com/gitcoinco/skunkworks/issues/5

need to make it have a cool unfurl for social media reasons

[2017-12-22 07:20] stojce commented on #5
@owocki

1. Please provide graphical assets;
2. Will do;
3. This is already fixed;
4. We should discuss bit more about this, maybe even as a new task; '
5. Yep, this is by design. Do you have different idea in mind?
6. It works, but  counter refresh doesn't - will fix this;
7. Sure;
8. Report mechanism is there, but not implemented on front-end. Where do
you need that button / icon?
9. Please prov

[2017-12-22 16:12] owocki commented on #5
looks like @merryt provided the assets in his PR.  https://github.com/gitcoinco/skunkworks/issues/4#issuecomment-351216280

you could probably get by with a `filter: invert(100%);` in CSS though.

Yes, this is certainly new scope!

My first thought was that it's kind of annoying to have to categorize it... but i suppose not a big deal for MVP.

Right next to the 'heart' button is fine.

Check out

[2017-12-23 00:35] #12 closed

[2017-12-23 00:48] stojce commented on #5
@owocki everything is fixed and deployed.

[2017-12-23 00:51] stojce commented on #5
Thoughts on "3. slow script": I think using webscokets would be best - just show small progress notification on top left corner...

[2017-12-23 01:38] owocki commented on #5
seems like a good idea to me

[2017-12-23 16:10] #4 closed

[2017-12-23 20:54] owocki commented on #5
more testing notes: search should be case insensitive

[2017-12-23 20:58] owocki commented on #5
more testing notes: google analytics

[2017-12-23 21:02] owocki commented on #5
watermark in bottom right: ethwallpaper.co

[2017-12-23 21:10] owocki commented on #5
idea: charge 0.01 ETH per wallpaper generated

[2017-12-23 22:10] owocki commented on #5
idea: more filters a la https://twitter.com/rabbyte/status/944676368641433600

[2017-12-24 00:55] #9 closed

[2017-12-24 00:56] #5 closed

[2017-12-24 01:00] owocki opened #14 "Code ETHWallpaper v2."
1. Move app to a `ethwallpaper/` folder within `skunkworks` repo.  Main readme should just be an index of all projects in the repo (currently, just ethwallpaper)
2. some method to manage the scale of the server.  even though [things have been massively optimized](https://github.com/gitcoinco/skunkworks/pull/13) (Thanks @stojce !), we will need some way to alert user if their request won't be able

[2017-12-24 01:02] owocki opened #15 "Ethwallpaper: more filters"
More filters

1. that look like this: https://twitter.com/rabbyte/status/944676368641433600
2. colors like this https://ih0.redbubble.net/image.435222523.7417/flat,750x1000,075,t.jpg

[2017-12-24 01:03] owocki opened #16 "ethwallpaper: charge 0.005 ETH per wallpaper generated"
requirements

0. allow user to create a very small resolution wallpaper without paying.
1. for full res wallpapers, charge 0.005 ETH per wallpaper generated
2. payments should go to 0x4331B095bC38Dc3bCE0A269682b5eBAefa252929
3. upload and wallpaper generation should occur when payment is made.

[2017-12-24 15:08] owocki commented on #14
[code]

google analytics code

[2017-12-24 15:09] owocki commented on #14
whoops @10a7 sorry didnt mean to put your username on this.

[2017-12-24 16:19] owocki commented on #16
idea: all proceeds go to open source software bounties

[2017-12-24 18:18] stojce commented on #14
@owocki
2) capture email address after the wallpaper is uploaded and queued for processing? Is this optional?
3) I'll create cron job that will process all unprocessed wallpapers and send emails when done. What to use for sending emails, local SMTP or something else?

[2017-12-24 18:22] owocki commented on #14
@stojce
2. make it required.  pls put the following copy under email capture 'used to send you a link when your img is done processing.  we'll never sell your email address'
3. i will send you some sendgrid crendentials over slack
7. yes

[2017-12-24 18:23] owocki commented on #14
bug report:

this 8k image http://bits.owocki.com/1L1c1R2E1p3R/Atlantis_Nebula__3_by_Starkiteckt_15200x9500.jpg

returns a 502 when one tries to upload it to prod http://bits.owocki.com/1S1W1e0O3v1y/Screen%20Shot%202017-12-24%20at%2011.23.02%20AM.png

[2017-12-24 18:42] owocki commented on #14
this one seems to 502 too http://bits.owocki.com/0T3w2h0p3T04/Ocean_Sunrises_and_sunsets_USA_Malibu_Crag_Nature_7777x5016.jpg

[2017-12-24 21:23] owocki commented on #14
getting a 500 with new uploads

[code]

[2017-12-24 21:41] stojce commented on #14
502 error is due to generator script failing to process large images

[2017-12-25 20:42] owocki opened #17 "manage bandwidth spend for ethwallpaper.co"
cloudfront?
downsize images when in thumbnail view.
pagination?

[2017-12-26 17:19] owocki opened #18 "abuse protection"
1. ask users to certify that they own copyright. wallpapers before uploading.
2. proivde DMCA takedown email address. "for abuse inquiries, please email founders@gitcoin.co"

[2017-12-26 17:46] owocki commented on #14
Typo in the header: decentralzed -> decentralized

[2017-12-26 17:55] stojce commented on #14
Fixed and deployed. :(

[2017-12-27 22:41] owocki opened #19 "listoflivedapps.co"
https://twitter.com/owocki/status/946133046352257024

this webpage would be a one link refutation of articles like this

what it needs
* crowdsourced repository of live dapps
* information about how much tx volume each of them are driving.
* nice frontend to view the information by

note that stateofthedapps.com already exists... but doesnt have good information about growth / tx volume.  what i'm

[2017-12-27 23:59] owocki commented on #19
itd be fairly easy to do this with etherscan API.  if not, we could always run a geth node

[2017-12-28 09:17] maxwolff commented on #19
working on this

[2017-12-28 11:47] JasoonS commented on #1
Hi, I'll take a look at this. So the idea is to create a purely backend tool for node apps say?

https://github.com/ethgasstation/ethgasstation-adaptive-oracle also makes use of the `txpool` to make more accurate predictions, txpool isn't available in web3js, so accessing that will also have to be built in.

I'm curious what you mean by feed a web3 instance, could you elaborate?

Possibilities I c

[2017-12-28 15:33] owocki commented on #1
i think any of those code examples could work as interfaces.

i wonder if the recent progress that ethgasstation has made in this area means that the gitcoin community doesnt need to sponsor this https://twitter.com/ETHGasStation/status/945650844648828928

[2017-12-28 15:59] owocki commented on #19
@maxwolff thanks for your twitter DM.  let me know what youre thinking!

[2017-12-29 16:29] owocki opened #20 "Design: Cold outreach email generator - coldoutreach.io"
# background

third party recruiters add little value to the ecosystem, and are ripe for disintermediation.  see my body of writing on the subject at https://owocki.com/tag/recruit-engineers/

i think the future is one wherein individuals recruit for their own projects, with the help of software.

i would like to provide a tool for repo owners to write cold emails that aren't so off-putting.    ke

[2017-12-29 22:49] owocki commented on #14
thanks @stojce .. see you in the new year!

[2017-12-30 01:53] tra38 commented on #20
While I'm not so good at design, I have a lot of experience in text generation and would be very willing to write code to generate a custom email. Would it be possible to open up a separate issue for me to work on a MVP email generator that could then be incorporated into the final design/code?

[2017-12-30 13:59] PixelantDesign commented on #20
@owocki claimed!

[2017-12-30 19:51] JasoonS commented on #1
Ah, sure thing, that is a neat development!

[2017-12-31 18:36] owocki opened #22 "Ethwallpaper.co batch upload (and other upload form improvements)"
# What

1. Enable the upload mechanism to accept up to 10 images at once in batch.
2. Size of ethereum logo field Title, author email, tags, will apply to all images in batch
3. Copy updates: Upload Wallpaper => Upload Wallpapers
4. Add a subheader below "Upload Wallpaper" that says "Upload up to 10 images.  Each image must be jpg, png, gif format, and less than X MB" where X is the max size the s

[2017-12-31 20:21] #10 closed

[2017-12-31 20:22] owocki commented on #10
https://github.com/gitcoinco/web/issues/184

[2017-12-31 20:25] owocki commented on #19
@maxwolff whats your skillset again?  id be happy to bounty a frontend / design for this... depending upon whether or not this is your skillset or not

[2017-12-31 20:27] owocki opened #23 "learn to code in solidity with koans"
Like http://rubykoans.com/ but for solidity.

Earn ropsten ETH for completing code koans.

[2017-12-31 20:33] owocki opened #24 "yourfirstdapp.com"
site where people who want to learn to build dapps can be connected with people who want dapps built

or maybe it's just an index of all dapp tutorials

[2017-12-31 20:35] owocki opened #25 "job board."
people can stake some ETH to put up a job post... and it only gets paid out if the JD is filled

[2017-12-31 20:39] owocki opened #26 "staking app"
1. funder sends ETH
2. smart contract allows fundee to withdraw X ETH per (day|week|month)
3. funder can revoke ETH at any time if they're not happy with how their staked $$$ is being used

RFF

Request for funding

[2017-12-31 20:43] owocki opened #27 "How do we sustain Open Source Software"
# what

this thread is to solicit ideas for how open source software can be sustained.

# to participate

leave a github comment on this thread with your idea.

# bounty

after the bounty expires, i will send around a poll allowing people to vote on which ideas are most promising.

i will payout 70% of the bounty to the number 1 submission, 20% to the 2nd one, and 10% to the third one.

[2017-12-31 20:46] owocki commented on #27
https://hackernoon.com/why-funding-open-source-is-hard-652b7055569d

@coderberry probably has some good thoughts on this

some other original research that is quite good:
- https://medium.com/open-collective/sustainoss-the-report-881e4b12d180
- http://nadiaeghbal.com/oss/

[2017-12-31 21:05] owocki opened #28 "open source decentralized exchange."
so anyone can host a DEX

[2017-12-31 23:50] #1 closed

[2017-12-31 23:53] owocki commented on #20
looking fwd to seeing some drafts

[2018-01-01 17:10] techtonik commented on #23
https://github.com/martriay/solidity-koans ?

[2018-01-01 18:47] owocki opened #29 "display tasks in a dendograph"
https://twitter.com/KamesCG/status/947687358496952322

especially if tasks have subtasks

[2018-01-01 21:52] maxwolff commented on #19
@owocki id love some help with frontend/design, id prefer to focus more on the backend. my progress so far: pulled tx data with the "getLogs" endpoint via the etherscan api

[2018-01-01 21:53] elioqoshi commented on #27
@jdorfman and @piamancini probably as well.

[2018-01-02 01:38] owocki commented on #24
https://github.com/adamyala/Your_First_Decentralized_Application_Python

[2018-01-02 01:39] owocki commented on #24
https://ethereumbuilders.gitbooks.io/guide/content/en/solidity_tutorials.html

https://github.com/truffle-box/react-box

http://truffleframework.com/tutorials/pet-shop

[2018-01-02 02:30] owocki commented on #24
https://github.com/bkrem/awesome-solidity

[2018-01-02 02:34] owocki commented on #19
i'd be curious if we could build something that just listed the top 10 dapps out there (by volume) and then graphed their activity over time with that info..

do you have a code repo you wanna share with me and we can poke at it?

[2018-01-02 03:18] PixelantDesign commented on #20
@owocki
Can you clarify this: **ability to 'randomize' and generate a new recruitment email.**

[2018-01-02 04:45] owocki commented on #20
I was kind of thinking this would be like a 'shuffle' functionality.  So if you get a message that you don't like or doesnt sound like you, you can click 'randomize' and another procedurally generated one would come up.  Maybe in a different tone or something.

[2018-01-02 05:30] techtonik commented on #27
The plan is simple. There are two ends:

* Person's Total Cost of Life Ownership (like TCO, but for humans) - this includes all expenses for a month, like rent, food, logistics, children - `demand`, which can be thought as `debt` if not compensated. When demand is not met, or `debt` is not closed, people leave the scene. Any scene, not just open source. If TCLO is too artificial, I use the word Li

[2018-01-02 05:38] techtonik commented on #27
One of the essential components is to donate to upstream projects. But not only for project, but to people who actually contributed to the project. Many years ago I wrote script to dump credits based on commit history - https://sourceforge.net/p/roundup/code/ci/default/tree/scripts/contributors.py - that was inspired by inspired by http://www.red-bean.com/svnproject/contribulyzer/ This could be us

[2018-01-02 09:29] cryptomental commented on #27
I like the concept of worker in BitShares, see http://docs.bitshares.org/bitshares/user/worker.html
The blockchain keeps a reserve pool that is used to self-fund the project using mined coins.

My idea would be to kick-start and OpenSource project backed by blockchain that would self-fund itself. An MVP could be a stock chart application similar to tradingview with pro features being paid by block

[2018-01-02 13:55] jschiarizzi commented on #27
# Background Information.

Github recently started a student ambassador program called campus experts. (Hopefully I will be one in the next month or so, just have a bit more training to finish up)

Campus Experts all over the world, and just student clubs, host workshops all the time to teach students git.  I’ve given 4 workshops on Git in the last year. 2 hosted by the GW ACM, and 2 during Hackit

[2018-01-02 15:47] owocki commented on #27
This is an interesting concept.  The gamer in me likes that its called 'mana'.

I agree its important to compensate upstream contributors, but I feel like its really hard to write a procedural way of measuring the value someone has added to the project.  There's such low signal there.

This is an intersting idea..  Some sort of "token sale in a box" product that allows anyone to blockchain-ize the

[2018-01-02 15:48] owocki commented on #27
@jdorfman and @piamancini  👋  welcome, happy new year

[2018-01-02 16:25] owocki commented on #27
From https://twitter.com/KamesCG/status/948039147947806721 :

hat tip @kamescg

[2018-01-02 16:33] owocki commented on #22
@eswarasai let me know what youre thinking WRT to implementation.  @stojce built most of the OG app... and may be around to help (but i dont want to speak on his behalf)

[2018-01-02 16:54] tra38 commented on #27
I have two proposals one that is "too extreme" (yet another cryptocurrency) and another "too conventional" (sponsorships). I'll post them both in separate comments.

## Background Information
The problem is the inability to monetize open source projects and the root cause is a lack of money to *spend* to open source contributors. If developers had money to spend, they would definitely spend it on

[2018-01-02 16:58] jschiarizzi commented on #27
Thanks @owocki, if you want to buy my plane ticket I'll see you in Denver.  Otherwise, we had ConsenSys at Hackital in November and we're talking about having another ETH hackathon in DC later in the spring. I'll let you know.

[2018-01-02 17:02] owocki commented on #27
@jschiarizzi it might be worth applying either way... i know that the ethdenver team is offering financial support for some hackers' flights

[2018-01-02 17:02] owocki commented on #27
i need to come visit DC again soon.  i ran the cherry blossom marathon there like 10 years ago.  beautiful city

[2018-01-02 17:10] stojce commented on #22
@owocki @eswarasai np, just mention me so I can get notification

[2018-01-02 20:40] Elaniobro commented on #27
@jschiarizzi  I would be interested in Hackital.

[2018-01-02 22:42] owocki commented on #27
A great example of OSS crowdfunding, raised $74K https://www.kickstarter.com/projects/1681258897/its-magit-the-magical-git-client

[2018-01-03 03:03] KamesCG commented on #27
Thanks for the hat tip @owocki :)

tldr: Open Source Engineers need to recapture market value using traditional methods, as it converts from potentiality into reality. In other words, create recurring revenue models via information/education that empower's people to utilize Open Source projects effectively.

### The Questions
The first question for me is how do we build recurring revenue models? W

[2018-01-03 03:11] owocki opened #30 "on demand mentorship"
like google helpouts before it collapsed, build a product that allows people to find on demand code mentorship to build a side project or join their team.. or otehrwise get 1;1 help

[2018-01-03 06:14] eswarasai commented on #22
@owocki: I'm yet to start on this issue. Will definitely update here as soon as I figure out a possible  solution to implement this.

Definitely @stojce. I'll reach out to you in case I'm stuck or have any queries. Thanks.

[2018-01-03 09:14] PixelantDesign commented on #20
@owocki Here's a draft of the concept in wires.

In terms of approach - my recommendation is that the entire generated email is displayed in a big input field with the idea being, the information gets generated once, and the user can play with the email content as they see fit. I did provide a guide denoted in the light blue box with a suggestion to the user of where to add their custom message in

[2018-01-03 09:26] maxwolff commented on #19
Sure! https://github.com/maxwolff/dappTx. Etherscan API was down for a few hours today, wondering if running a node would be a better solution?

[2018-01-03 15:49] owocki opened #31 "mixpanel, but for smart contracts"
logging
graphs of events
segmentation

[2018-01-03 16:26] owocki opened #32 "educational tool for young adults"
i really would like to launch some sort of educational tool …  not sure what it looks like, but incentivizing kids and young adults to contribute to OSS from very young

[2018-01-03 18:43] tra38 commented on #30
Please excuse me if I'm misunderstanding the specs here. Technically, mentorship can already be done using the Gitcoin UI (since Gitcoin doesn't really care what types of OSS contributions are being made...only that issues are made and bounties are being paid out).

1 - David needs mentorship on designing an application dealing with the Foobar industry. He simply creates an issue in one of his Git

[2018-01-03 20:42] KamesCG commented on #27
Businesses might need some help/guidance tapping into the larger global market of Open Source Software contributors. Probably relying on OSS Project Managers as a proxy for navigating the developer ecosystem.

Quick Prototype: https://gitcoinguidance.squarespace.com/

1. Create paid course to educate. <---- Always reinvested. No hoarding. Gitcoin Controlled.
2. Schedule communication between busin

[2018-01-03 22:14] owocki commented on #30
thanks @tra38 -- these are good thoughts.. i think that the use case you denoted above (as well as the helpouts one) are both on the table...

[2018-01-03 22:26] KamesCG commented on #28
Been thinking about this a lot recently.

What do you think is the best place to start? Begin with some preliminary mockups and designs? Or start with the smart contract code?

[2018-01-03 22:44] owocki commented on #28
seems like two diff skillsets to me.  i think we'd start with building a team

[2018-01-03 23:38] KamesCG commented on #28
You might be right :) Good plan.

I'll help put out the signals.
![Team](https://media.giphy.com/media/l396BoOTIFem9xqQU/giphy.gif)

[2018-01-03 23:56] owocki opened #33 "Sponsor a student/ Sponsor a junior developer"
When I was a junior dev, I received mentorship from smoeone who became a lifelong friend to me.

As being a software developer is the path to a middle class life for millions worldwide, I think we bare a responsibility to "pay it forward" and to help mentor each other.

This thread is a placeholder for a product tentatively called 'sponsor a student'.. which will match junior developers to people

[2018-01-03 23:58] owocki opened #34 "react component to visualize gas price vs confirmation time"
take the graph at https://twitter.com/owocki/status/948679913883680768

and mock it up as a react component.

said graph should take information from https://github.com/ethgasstation/gasstation-express-oracle (and only information from this service) to build the graph

[2018-01-04 00:10] danfinlay commented on #34
Simplifying Bonus: Don't integrate the data-source into the component, allow it to be passed its data, so the parent can generate the equivalent data however it prefers to. (I guess that's just a graph component? Maybe make two components, one that includes a connection to a specific data source?)

[2018-01-04 02:58] KamesCG commented on #28
Just in case we want to pick up the conversation again in the future, I setup a React Dashboard Application with the Ethers library connected to Infura.

https://github.com/KamesCG/dex

The Ethers library is wrapped in Redux Saga's and components can import smart contract ABI directly.

An example of React component, which wraps blockchain functionality can be found at https://github.com/KamesCG/l

[2018-01-04 05:07] heyellieday commented on #28
@KamesCG, this looks awesome! As someone who has used react for many projects, but has more recently gotten into dapps, it’s great to see the two worlds meet.

@owocki, I don’t have a ton of Solidity experience compared to many in this space, but I know enough to be dangerous :) I’ve been searching for a project like this for a bit so I’d love to help out with the Solidity part of this project whi

[2018-01-04 08:16] empea-careercriminal commented on #32
Me too. Doing it with Gitcoin seem feasible.

I used to run a robots class with the kids at an elemantary school where I am living. It was quite impressive to see how fast children grasp concepts of hard- and software development and I had the idea to "funnel" pocket money through a repo using Gitcoin.

I would be really nice to be able to do something like this:
- set a couple of tasks within an

[2018-01-04 14:10] KamesCG commented on #28
@heyellieday React (maybe in the future WebComponents) and dApps are totally amazing together. Component based design and decentralized systems just seem so perfect for each other :) I've been playing around the idea of auto-generating React components using the smart contract ABI and have those auto-populate a drag and drop editor.

React definitely lends itself to nicely bundled smart contracts

[2018-01-04 14:15] owocki commented on #34
two things

1. checkout https://gitcoin.co/gas for a live version of this chart.
2. ill be 🎿 skiing in utah for the next several days so will be radio silent.  @danfinlay since the react code will (maybe) eventually live in metamask... youre welcome to field any questions from bounty hunters on my behalf :)

[2018-01-04 14:44] owocki opened #35 "ICOTLDR.com"
how do we coordinate our  research so each us don't have to be separately  opening 1000 pages each to research all the ICOs in the space?

here needs an easy way to get an ICO TLDR

- basically a table that has a name of hte project
- what its meant to do in 5 words or less
- who the team is
- maybe a rating of the viability of the team, idea
- market size
etc

[2018-01-04 15:39] owocki commented on #28
working on OSS is a great way to learn.  im really bad at RTFM programming myself!

@jclancy93 might be interested in pairing with you on the solidity :)

[2018-01-04 15:42] jclancy93 commented on #28
I'm in the same boat :). I'm far from a Solidity pro but I think I have a decent grasp of the language now. All of EtherDelta's contracts are open source though, so we definitely have a good place to start.

[2018-01-04 16:30] cpurta commented on #28
Have a fair amount of experience in solidity. I have thought quite a bit about how you could implement an exchange via smart contracts. Definitely interested in scoping out what the contracts would look like in order to achieve this.

[2018-01-05 01:42] mkosowsk commented on #28
Yet another person chiming in with not a ton of Solidity experience but will be watching this closely and looking to contribute where I can... great idea!

[2018-01-05 02:08] jclancy93 commented on #28
The EtherDelta smart contracts can be found [here](https://github.com/etherdelta/smart_contract) if anyone is curious @cpurta. I personally have used EtherDelta pretty extensively pre it getting bought, then hacked, then having an ICO, needless to say I wont touch it anymore.

It is worth noting that EtherDelta has always done order-matching off chain, on a private server. So does 0x, for performa

[2018-01-05 07:18] eswarasai commented on #22
@owocki @stojce -- I've been through the code and from my initial understanding below are my thoughts related to implementation along with few doubts that I have :

1) Enable the upload mechanism to accept up to 10 images at once in batch
-- Add ability to upload multiple images and display the preview thumbnails (should this be a slider or all the images displayed side by side?)
-- Modify `Wallpa

[2018-01-05 12:02] KamesCG commented on #28
Seeing as we have the starting support for a Decentralized Exchange now it might be worthwhile to ask @owocki once he's back from a ski trip (as mentioned in Slack - https://gitcoin.co/slack), to see if we can setup a new repository, and organize ideas/issues under a primary repo.

**Personal Tasks To Be Completed**
1. Prepare repository for contributions (comments, notes, cleanup, etc...)
2. Cont

[2018-01-05 16:50] pelsasser commented on #28
definitely will keep an eye on this

[2018-01-06 04:04] heyellieday commented on #28
@jclancy93, thanks for sharing the information about the Etherdelta smart contract. I spent time yesterday familiarizing myself with it and it does a lot of things right. [This reddit post](https://www.reddit.com/r/EtherDelta/comments/6kdiyl/smart_contract_overview/) by the maintainer was helpful as they explained parts of the contract in more detail. Like you mentioned, the contract architecture

[2018-01-06 04:46] KamesCG commented on #28
Another interesting approach to off-chain computation could potentially be using the iExec platform (https://iex.ec/) as an interface into a cloud computing marketplace where _"As a Provider, you can lend your machine power and monetize it by executing developer applications."_

[2018-01-06 14:59] eswarasai commented on #34
@owocki @danfinlay : Can someone help me out in setting up this repo locally?
 -- https://github.com/ethgasstation/gasstation-express-oracle

[2018-01-06 15:52] eswarasai commented on #34
@owocki @danfinlay : I need your suggestions regarding the implementation and also clarification on few doubts. Please find them below :

-- I can see from the requirements that we'd need a React Component which can display a LineChart. Instead of integrating with D3, I'd suggest using [Recharts](https://github.com/recharts/recharts) library for displaying the LineChart with the datasource we'd ne

[2018-01-06 16:46] PixelantDesign commented on #34
@eswarasai I like the UI style of Recharts as well! It does look like it is a library on top of D3. From your experience, how easy is it to customize the styles?

[2018-01-06 16:55] eswarasai commented on #34
@PixelantDesign : I haven't worked on Recharts library earlier but from my understanding, customising the styles of the chart should be pretty much easier

[2018-01-07 10:42] maxwolff commented on #19
update: switched to infura's API, saved a block's transactions to file and found what % are from etherDelta, golem etc.

[2018-01-07 20:14] maxwolff commented on #19
found 6% for etherdelta in last block, matches with number here: https://ethgasstation.info/gasguzzlers.php

[2018-01-08 03:36] PixelantDesign commented on #20
@owocki

Here are some branding options.

<img width="538" alt="screen shot 2018-01-07 at 10 25 36 pm" src="https://user-images.githubusercontent.com/238235/34658193-fa87542e-f3fa-11e7-9d14-50173c742204.png">

And an example of a knocked out logo applied to the screens.

![landing copy](https://user-images.githubusercontent.com/238235/34658201-21ed113e-f3fb-11e7-94ad-d92045858a07.png)

![find cand

[2018-01-08 17:46] owocki commented on #34
-- https://github.com/ethgasstation/gasstation-express-oracle

i dont have any experience with this repo... and i dont think @danfinlay does either unfortunately...  you might try commenting to ethgasstation on twitter or on their gitter/github if you need help.

this makes sense to me.  @danfinlay how about you?

it would just switch the x axis and the y axis (so time would be the y axis, and the

[2018-01-08 17:49] owocki commented on #22
Enable the upload mechanism to accept up to 10 images at once in batch
-- Add ability to upload multiple images and display the preview thumbnails (should this be a slider or all the images displayed side by side?)
-- Modify Wallpapers API to accept multiple file uploads and create them in a batch

KO Comments: side by side is fine for the thumbnails.  defer to @stojce on the API question.  if we

[2018-01-08 19:27] owocki opened #36 "sell schwag"
might be worth throwing up a simple shopify site to sell schwag

gitcoin.co/schwag

[2018-01-08 19:34] owocki opened #37 "scam / phishing registry"
A service that lets you lookup your public #ethereum address and see which scam/phish it was victim to, something like HIBP. Also including “bios” on known phishing/scams as well as resources to read for best practices to keep you safe. Maybe some quizzical games for education.

[2018-01-08 19:35] owocki commented on #37
https://twitter.com/kumavis_/status/950441763465916416

[2018-01-08 20:31] owocki commented on #20
this looks great :)

mind attaching the sketch file or the assets to the thread?  i will pay out the bounty from here.

[2018-01-08 20:32] owocki commented on #20
<img width="538" alt="screen shot 2018-01-07 at 10 25 36 pm" src="https://user-images.githubusercontent.com/238235/34658193-fa87542e-f3fa-11e7-9d14-50173c742204.png">

i like the 2nd one.  what do others like @thelostone-mc @ethikz @algae12

[2018-01-08 20:41] owocki opened #38 "code coldoutreach.io"
# background

third party recruiters add little value to the ecosystem, and are ripe for disintermediation.  see my body of writing on the subject at https://owocki.com/tag/recruit-engineers/

i think the future is one wherein individuals recruit for their own projects, with the help of software.

i would like to provide a tool for repo owners to write cold emails that aren't so off-putting.    ke

[2018-01-08 20:41] thelostone-mc commented on #20
@PixelantDesign woot woot :D Pretty neat stuff
@owocki I'm in love with the second one

[2018-01-08 20:46] ethikz commented on #20
@owocki I like the 2nd as well

[2018-01-08 20:51] owocki opened #39 "dataviz of pending transactions"
# idea

- 2d dataviz of pending ethereum transactions
- the higher the txs are in the space, the most gas prices they are paying
- the further to the right they are... they longer they have been unconfirmed... they will continue across the sky across the users browser.
- if you hover over a tx, you can see it's hash and a link to it on etherscan
- transactions that came from my coinbase will be hi

[2018-01-08 21:14] owocki opened #40 "a service that provides an api to query erc20 tokens owned by an address"
you input an ethereum address, and it spits back the token balances (for all tokens that it knows about) for that address

[2018-01-08 21:38] tra38 commented on #38
I can definitely work on writing the code to generate emails. I would also be happy to accept help with the CSS, thereby splitting the bounty. :)

[2018-01-08 21:50] owocki commented on #19
nice.. cool to see progress on this while i was away this weeknd.

i wonder if it'd be worth posting a small bounty to do some design for this?

[2018-01-08 22:29] owocki opened #41 "coin tax calculator"
supports gdax and any eth wallet
tells you your long term / short term cap gains

[2018-01-08 23:50] owocki commented on #28
hey all... glad to see all the action on this thread.

i dont have the time to get super organized about specifying this... but if one of you want sto take the lead on building a spec and some wireframes, im happy to put some ETH towards design and development

@KamesCG @heyellieday @pelsasser @jclancy93 etc

[2018-01-09 02:24] KamesCG commented on #28
I would love to contribute. What about an active working group? Maybe someone(s) wants to join forces for the initial specification, wireframes and general design/development strategy?

Also, a grant is available by iExec, to create distributed applications using their decentralized computing platform. The grant request is due January 19th. We could write a grant request, specifically discussing t

[2018-01-09 02:36] KamesCG commented on #36
Does a product list exist?

[2018-01-09 03:00] owocki commented on #36
what you see at gitcoin.co/schwag is prettymuch it right now

i have a few other goodies im going to be putting together soon though :)

[2018-01-09 03:01] owocki commented on #28
im happy to create a repo for this..

not entirely sure it needs to be gitcoin branded... but it'd be nice to tie it back to the gitcoin community if thats where the funding / talent comes from.

it might be worth having a kickoff call with people who have the time / cycles to work together on this... from there we can figure out funding (i can help with this, as can iExec, as you mentioned)

[2018-01-09 03:54] KamesCG commented on #28
Perhaps a name like Gitmint?

Personally, I think it's important to push for the possibility for community owned/governed assets, which can create closed-loop value systems for the Open Source Software ecosystem - like permaculture, but for code. Would be exciting to see a decentralized exchange specifically built with the intention of replenishing value back into an active community.

Might be an

[2018-01-09 04:27] KamesCG commented on #28
![Gitmint](https://github.com/GitmintCore/gitmintcore/raw/master/design/token/rendered/tokenSmall.png)
Setup the Gitmint Organization - https://github.com/GitmintCore/gitmintcore

[2018-01-09 06:43] stojce commented on #22
Upload API can be easily changed to accept 10 images. Currently is looking just for first one and that part of the API should be wrapped into loop to accept multiple images.

[2018-01-09 11:01] eswarasai commented on #22
Thanks @owocki and @stojce for clarifying my queries and also for the suggestions.

@owocki -- I just have one question related to the Description field. I'll be creating the `description` field in the DB and will save whatever data is coming from the Frontend for this field. But where do we display this `description` and also how should I handle the migration of old data or should I leave it as i

[2018-01-09 13:58] KamesCG commented on #36
Quickly setup the Shopify store. They really make it simple...

I wasn't sure of the mailing address, so I just added the Colorado Blockchain one for now. Should I change the account email to the founders@gitcoin.co ?

![Store Demo](https://pbs.twimg.com/media/DTGqTTbUMAA_YaS.jpg)

url: https://gitcoin-schwag.myshopify.com/
password: gleock

[2018-01-09 17:01] owocki commented on #22
please just migrate the 'title' field from the legacy images to the description field.

you can dispaly this field on the frontend where the 'title' is currently.

[2018-01-09 18:51] owocki opened #42 "participate in summer of code as a mentor org"
https://summerofcode.withgoogle.com/

[2018-01-09 22:08] owocki commented on #39
alethio / https://ethstats.net kind of does nice visualizations of this

[2018-01-10 00:04] owocki commented on #38
donno if this is the right amount of funding... let me know community ^^

[2018-01-10 00:29] vs77bb commented on #38
@nlaz Interested?

[2018-01-10 02:52] PixelantDesign commented on #20
[Coldoutreach App.zip](https://github.com/gitcoinco/skunkworks/files/1617352/Coldoutreach.App.zip)

I used Avenir for body copy but Open Sans would work as well.

[2018-01-10 03:15] owocki commented on #36
@KamesCG thanks!  i need to go through and see if this is a viable option for actually putting stuff up for sale

[2018-01-10 04:42] owocki commented on #32
@empea-careercriminal nice to meet you. 👋   thanks for stopping by !

i'm down to try it (and can even bring a little budget)... but would need intros to 'customer's.

[2018-01-10 06:16] tra38 commented on #38
I would argue for increasing the funding, since this issue is really composed of two tasks - (a) building the script (client-side or server-side) that will generate a customized cold-call email, and (b) building the web application that allows people to use the script. I'm not sure how much additional funding would be needed though...maybe ~0.25 ETH might be enough to cover the broadened scope.

F

[2018-01-10 06:47] stojce commented on #38
I am able to finish the whole thing. Just let me know if you guys are not going to do it.
I agree with the increasing the bounty.

[2018-01-10 06:58] eswarasai commented on #38
@tra38 -- I might be able to help you with the Frontend if you're planning to split.
@owocki -- Let me know how we're planning to go ahead with this. Thanks.

[2018-01-10 11:37] KamesCG commented on #36
It seem alright... A little stifling.

To be honest squarespace seems mo'better, in terms of overal control and price.

[2018-01-10 16:01] owocki commented on #38
Please move forward assuming that an additional 0.25 ETH will be provisioned for this.  I can't update the bounty itself because Gitcoin doesn't support that (but will soon!)....  but you have my word i'll tip on top of the current amount.

Can you all decide amongst yourselfs whos doing what and how much of the bounty that's worth?  @eswarasai @stojce @tra38

[2018-01-10 16:33] eswarasai commented on #38
@owocki -- I think it's fair enough to split the total bounty 50-50 for Frontend as well as Backend.
@tra38, @stojce  Let me know your thoughts on this.

I'd be able to handle the entire Frontend tasks. So I can work with someone who can help me out with the Backend for this task :)

[2018-01-10 19:31] coderberry commented on #27
I really love all of these ideas presented. Over the past 5 months, I've had the opportunity to talk with hundreds of OSS developers via Code Sponsor. Here are some of the things I've learned through my experience:

1. Developers typically are *financially* motivated to build and maintain open source
1. Developers typically are not willing to take on a tech support role
1. Developers typically are

[2018-01-10 21:56] owocki commented on #38
sounds ok to me... up to the group tho

[2018-01-11 00:12] michiang commented on #38
If the front end group is already established, I don't mind working on the data pulls.

[2018-01-11 06:01] tra38 commented on #38
So here's how I plan on organizing this project:

1) Fork the repository and create a skeleton Django app. Provide a link to my fork in this issue.

2) While I work on the backend and the "email generation code", I'll also create issues representing all the different tasks necessary for the success of the project (such as the front-end work). This way, people can step in and out of the project as

[2018-01-11 06:26] tra38 commented on #38
**Additional Notes**:

1) I plan on starting work on this project Friday evening, so I can spend all weekend focused on this project.
2) I also want to set up a staging site as well (deployed on Heroku) to make manual testing of the site easier. We can always migrate it over to a different hosting server when it's ready for production.

[2018-01-11 06:48] eswarasai commented on #38
@tra38 -- The plan seems pretty solid to me except for the part of again creating different tasks in the forked repo and submitting PRs. I'd recommend dividing Frontend and Backend work accordingly between us so that we can deliver them independent to each other's task and can integrate them down the line.
Let me know your thoughts on this. Thanks.

[2018-01-11 15:09] owocki commented on #38
Note: I'm not married to this living in 'skunkworks'.  If you want, I can create a new repo for it and give you write access to it.  Interested?

[2018-01-11 15:52] owocki commented on #27
vitalik just published this https://ethresear.ch/t/explanation-of-daicos/465

making a turnkey daico could be an interesting way to support OSS..

[2018-01-11 15:53] owocki commented on #27
@coderberry pasting my comments to you from slack today about this topic:

1) the DAI stablecoin just came out (its pegged to $1 USD)… and is supposed to be quite good.. we could maybe build something off that
2) another consensys spoke has engineered a token called BOLT which is basically just a $1 stablecoin…. and its completely transparent to their end users..  their customers pay in credit car

[2018-01-11 16:01] stojce commented on #38
Anybody started working on this? I don't see anybody that made a claim to this bounty.

[2018-01-11 20:33] owocki opened #43 "distributed sprint planning"
just had an interesting convo with a community member for gitcoin.

basically her vision for gitcoin’s toolset was that a funder could a sprint of development work.. then all the tickets get prioritized and estimated… and then bountied *in a batch*

which i think is interesting an aggressive because its taking the traditional sprint cycle and making it into a DAO

pasting some notes below:

[code]

[2018-01-11 21:19] eswarasai commented on #34
@owocki @danfinlay -- So I was trying to figure out on how to get the service https://github.com/ethgasstation/gasstation-express-oracle running, atleast from my understanding of the code.

Looks like we need to have an [Ethereum Full Node](https://github.com/ethereum/go-ethereum) running which will have all the transactions synced (>50 GB). The service then fetches the last 100 transactions from

[2018-01-11 21:29] owocki commented on #34
i recommend using https://infura.io/ for the full node

[2018-01-11 21:43] techtonik commented on #27
BTW, @nayafia is also here. )

[2018-01-11 22:02] 409H commented on #37
Awesome! I'll spec everything this weekend

[2018-01-11 22:43] tra38 commented on #38
@eswarasai - Sounds like a better idea. Here's how I imagine the work being divided: @tra38 focus on all the "backend" tasks and the text generation (which will probably be done on the client-side using JS rather than server-side). @eswarasai can handle all the Front-End tasks, including incorporating the text generation script. @michiang and @stojce can follow the project as appropriate and step

[2018-01-11 22:45] owocki commented on #38
we are working on building in collaborative bounties into the system soon :)

for now... just claim it and i willi figure out how to do the payouts down the line!

[2018-01-11 22:48] tra38 commented on #38
@owocki - Seems like my balance is not sufficient to make a claim. The suggested gas price by Metamask is 0.004 ETH, and I only have ~0.0002 ETH. Any suggestions on how to handle that?

[2018-01-12 06:15] techtonik commented on #27
@owocki and @coderberry - people don't understand new technology if it doesn't solve their problems. Until they can use tokens to solve such problem (pay for hosting, services, space for living etc.), they need USD.

[2018-01-12 10:04] eswarasai commented on #34
@owocki -- Thanks for the suggestion. This is exactly what I was looking for :)

[2018-01-12 14:32] owocki opened #44 "debtors-prison dapp"
i think one of the most heartbreaking things out there is the debtors prison that exists for millions of lower class americans

https://en.wikipedia.org/wiki/Debtors%27_prison

## side 1 of the market

it basically goes like this.. you have a medical emergency or need your car repaired -- you go into $10k or $20k of debt at an insane interest rate.. like 25%..

and you can.. never.. get... out..

[2018-01-12 14:57] owocki commented on #44
some good feedback from coloradoblockchain:

it adds a ton of people who have become millionaires in the last 12 months and (1) have no easy means to pay it forward (2) would, depending upon their values, spend it on themselves otherwise.

[2018-01-12 15:02] owocki commented on #44
( thinking out loud ) i wonder if theres some collab oppies with SALT lending (also in colorado) here..

[2018-01-12 15:07] kcbigring commented on #44
interesting idea, a few questions/issues:

1. what is a 'reasonable' interest rate
2. i think things like gofundme already deal with the charitable aspect
3. loaning crypto is compelling but if i loan bob 1 btc today and expect to get paid back 1 btc with reasonable interest in a year, the issue with the ever increasing 'value' of crypto is that the effective interest rate wrt the $ may actually b

[2018-01-12 15:29] mkosowsk commented on #44
Interesting idea but I think the vetting of people receiving the funds could be potentially tricky... tooo loose and you get a lot of scammers and too tight you could ruffle a lot of feathers 🤔

Would definitely need to put a fair amount of thought into this aspect. Would there be some type of interviewing process for applicants?

[2018-01-12 15:36] empea-careercriminal commented on #32
I'm on this. Let me quickly gather some 'customers' for this. This is going to be fun.

[2018-01-12 15:45] owocki commented on #44
this is interesting.. thanks rhys lindmark for the link https://twitter.com/Give_Directly

[2018-01-12 15:46] owocki commented on #44
@mkosowsk i think wed need to align philsophically about this.  i dont know the answer yet :)

[2018-01-12 15:46] owocki commented on #44
interestingly... SALT lending has solved a lot of these problems when they launched.. they might be a good partner

[2018-01-12 18:28] mvpratt commented on #44
Very interesting idea.  One challenge is how to mitigate defaults.  Interest rates on loans typically represent the likelihood of default.  So if the project offers lower than market rates, there would need to be some reason why this is feasible.

Maybe a partnership with a non-profit that already works with low income families and is knowledgeable in this area would make sense?  Providing emergen

[2018-01-12 18:38] mvpratt commented on #44
I also think the straight donation model is cool.  This would be far simpler to implement.  Donors could sent crypto-assets to a non-profit which liquidates to fiat.  The full value of the crypto is then tax deductible i.e. no one pays capital gains tax.

[2018-01-12 19:27] owocki commented on #44
yes this is much simpler technically / product wise too

[2018-01-12 20:29] coderberry opened #45 "Password manager (similar to LastPass / 1Password)"
It would be awesome if we could create an app that could privately store sensitive data (such as passwords, logins, credit card info, etc) using Ethereum and create a browser extension that provides access to that data.

This idea was discussed here back in 2015: https://forum.ethereum.org/discussion/2375/block-chain-app-solution-alternative-of-lastpass-1password

[2018-01-12 20:48] owocki opened #46 "mentorship product"
Idea that came out of Ethereum Denver meetup last night:

It'd be interesting to assign a mentor/mentee relationship to a bounty. Basically, if developer decides to make a go to a bounty, they can ask another project member with more experience to mentor them on details where they'd add value, in exchange for some amount of the final payout.

[2018-01-12 20:49] owocki commented on #46
from the other thread:

[2018-01-12 20:49] owocki commented on #46
i also like the idea of a mentor matching system being built into the site..

[2018-01-12 20:52] owocki commented on #22
@eswarasai hows it going?

[2018-01-12 20:52] #20 closed

[2018-01-12 20:53] owocki commented on #38
@tra38 send me your ETH address over slack and ill send you some ETH

also... gas prices have come down in the last 24hours.. might be worth trying again?

[2018-01-12 21:05] thelostone-mc commented on #46
@owocki this kinda aligns with what I had pinged you with earlier. Mentoring kinda solves this to a level !

When you say mentor matching ? Is it
- The system tells the claimiee -> that hey these are guys potential mentors( based on their contribution / experience ), reach out to them
- claimee says he needs a mentor -> we just shoot out a mail to the folks who've worked on similar problems and as

[2018-01-12 21:06] eswarasai commented on #22
@owocki -- I'm currently working through the migration. I'm almost done with the changes. Will submit a PR soon.

[2018-01-12 21:37] heyellieday commented on #44
As someone who has once had lots of medical debt, I’ve been interested in the topic of how to alleviate others from this burden. I also have learned some facisnating things about how debt and debt collection works in the US. The biggest aspect many are unaware of is that when a debt collector is attempting to collect a debt of $10,000, it is very likely that debt was purchased for pennies on the d

[2018-01-13 00:14] owocki commented on #44
This is very interesting...

[2018-01-13 04:52] jschiarizzi commented on #27
Yo, this expired 5 days ago, is there a poll or something?

[2018-01-13 05:11] KamesCG commented on #28
Making some progress on the developer boilerplate.

Can checkout screenshot - https://twitter.com/KamesCG/status/952043200033603584- system booting up, compiling EtherDelta smart contracts, pushing them to local blockchain, and finally showing the block/transactions in the dashboard.

1. Bootup Ganache
2. Compile DEX Smart Contracts
3. Deploy Smart Contracts
4. Start React Hot Loading Server
5. In

[2018-01-13 05:26] owocki opened #47 "professional networking, but with a cost to"
from the consensys slack, posted with permission

[code]

[2018-01-13 18:13] eswarasai commented on #38
@owocki -- While we wait for @tra38 to claim this issue, in the meanwhile can you create a repo for the coldoutreach.io and invite both of us as collaborators so that we can get started with the initial setup? Thanks.

[2018-01-14 06:56] ialexander28 commented on #44
@heyellieday @owocki
Many people also don't know that you can haggle with debt collectors.  The collectors always present it as if you have to pay the full amount since that is their business model.  However, for debt and medical bills, you can often offer as low as 5 - 10% of the total and they will take it.

[2018-01-15 01:59] tra38 commented on #38
Got some ETH from another source and attempted a claim today, but encountered this error (duplicated twice):

According to that issue, this should probably occur only when the issue is impossible to be claimed (probably because somebody else has claimed it).

[2018-01-15 02:17] owocki commented on #38
looks like the issue was claimed by @eswarasai but was not processed by the web app (possibly due to https://github.com/gitcoinco/web/issues/128 ? )

@eswarasai lets keep your claim on the issue for now.. when its time to payout... ill pay it out to both of ya

[2018-01-15 02:18] owocki commented on #38
@tra38 @eswarasai https://github.com/gitcoinco/coldoutreach/blob/master/README.md

[2018-01-15 04:14] owocki commented on #44
this is interesting @ialexander28 ... i wonder if theres a play here where instead of just gifting someone $x to pay off their loan, you can create a microtask on bounties.network to have someone negotiate the debt down.

[2018-01-15 04:41] owocki commented on #27
thanks for the bump

@jschiarizzi @techtonik @coderberry @KamesCG @Elaniobro @tra38 @cryptomental @elioqoshi here is the form to vote for a winner => https://goo.gl/forms/CdltIGakUs1EkoUE2

[2018-01-15 04:41] owocki commented on #27
@vs77bb maybe tomorrow we should ask the community to vote for their choice for the most meaningful contribution!?

[2018-01-15 06:01] eswarasai commented on #38
@owocki -- That's weird. I thought my claim didn't go through because of the low gas price as my browser tab was open all along. I might have refreshed the tab though.

[2018-01-15 16:40] eswarasai commented on #34
@owocki -- So I was trying out the [service](https://github.com/ethgasstation/gasstation-express-oracle) but unfortunately the code doesn't populate the confirmation times as well. Instead, I've found an API endpoint which internally uses the above service but with confirmation times as well -- https://ethgasstation.info/json/predictTable.json. I've figured we can use this in `gitcoinco/web` for `

[2018-01-15 18:12] owocki commented on #34
thanks for the update @eswarasai ..

@danfinlay this will be used in metamask moreso than gitcoin.. so ibroadly defer to you

[2018-01-15 19:56] owocki commented on #38
okie dokie... well i guess let @tra38 if you want him to take the lead on the bounty or if you want to be involved in coding!

[2018-01-15 19:58] maxwolff commented on #47
https://earn.com/ is a good take on this idea

[2018-01-15 20:18] owocki opened #49 "vision of gitcoin as a web3 talent services"
1:1 interviews with community members to learn about them and their career needs.  high touch service; during which we solicit their 1) skillsets, 2) seniority level 3) career growth direction and become the “matchmaker” guys for when someone has an idea and wants a team behind it.. or we just feed them ideas like a web3 incubator or accelerator.  there is a market for matching teams together… i K

[2018-01-15 20:54] tra38 commented on #38
Thanks, @owocki. I'm trying to push up a basic scaffolding of the Python app that me and @eswarasai can work on, but it seems that I don't have permissions to do so.

[2018-01-15 21:03] owocki commented on #38
just invited you both to a team that has write permissions to that repo

[2018-01-16 00:10] danfinlay commented on #34
I think ReCharts would be fine.

Ideally, assume your component can be passed the last X blocks of transaction data, and build a chart from it.

That prediction table would be a good time estimate data source, we'd probably just ask Infura to mirror it via CDN to tolerate our load.

[2018-01-16 01:03] maxwolff commented on #19
@owocki mostly finished with the back-end, im ready for help on the front-end

[2018-01-16 01:23] mkosowsk commented on #44
+1 to the idea to microtask a negotiation. i personally would love doing this! i used to be a trader and don't really want to go back to that full-time but would be happy to scratch that negotiation itch every now and again for a good cause :)

[2018-01-16 03:06] owocki commented on #19
hott; are you on the gitcoin slack?  if you post asking for help i will follow on to amplify it.. also if you tweet it i can RT it

[2018-01-16 04:17] ialexander28 commented on #44
@owocki and @mkosowsk
I love this idea.  I wasn't familiar with bounties.network beforehand and it sounds like that might be the best way to move that idea forward.  I've played around with a similar idea in the past and the idea of helping people negotiate their debt is certainly something I'd like to do as well.  I wonder, what would be the monetary play here if it's not a charity, and how do yo

[2018-01-17 02:07] vs77bb commented on #20
@owocki Did this one pay out? Still showing as 'claimed' and I didn't see @gitcoinbot confirm

[2018-01-17 18:49] owocki commented on #20
thx for the bump.. just submitted payout

[2018-01-19 03:39] thelostone-mc commented on #43
Oh this is neat :O
sprint planning over the internet more iterative -> issuer is more involved -> bounties have higher chances of acceptance

[2018-01-19 15:48] owocki commented on #38
hows it going folks?

[2018-01-19 17:23] tra38 commented on #38
We're kinda roadblocked at the moment because, officially, we need access to certain private LinkedIn APIs so that we can gain access to the full profiles of candidates/users. I already filled out an application to LinkedIn requesting for permission to those APIs. If we don't get those permissions, we'll need to think of alternative ways of getting the data we need for coldoutreach.io.

[2018-01-19 20:12] owocki commented on #27
@KamesCG wins first prize.  @jschiarizzi second prize.  paying out now

[2018-01-19 20:18] Elaniobro commented on #27
Congrats @KamesCG & @jschiarizzi and thank you for taking the time to write such well thought out proposals/idea(s). 🍻 🍺 🍻

[2018-01-19 20:23] owocki commented on #27
@KamesCG @jschiarizzi DM me on slack if you didnt get an email.  (were having some github API issues for this.. long story)

[2018-01-20 01:53] tra38 commented on #38
LinkedIn replied back and has denied our application. Currently exploring alternative routes...

[2018-01-20 15:21] KamesCG commented on #27
I'm humbled - thank you. Promise to pay it forward and back into Gitcoin Bounties.

Just curious, what might be the appropriate next step for Bounties like this?

I imagine more **idea based bounties** will continue - it makes sense to crowd source knowledge. Should contest winners have support via short-term working group (to help build upon the idea) or maybe just pay hosting/domain costs of a n

[2018-01-21 02:11] owocki opened #51 "mentor matching idea"
https://twitter.com/djphillyg96/status/954871046020194307

[2018-01-21 02:20] owocki opened #52 "test hourly (T&M) work relationships"
test building a product for hourly (time/materials) contract relationships

[2018-01-21 22:23] tra38 commented on #27
@KamesCG, I have some interest in taking leadership on issue #30 ("on demand technical mentorship") in the near future (though I cannot commit to it until I am certain I can work on it). As part of that interest, I've been doing some research into the idea and am writing out a proposal for how I imagine "on demand technical mentorship" to work. I'd be happy to incorporate [your ideas](https://gith

[2018-01-22 01:54] tra38 commented on #38
It turns out that the alternative route that we may take is to requests users upload "resumes" instead of providing links to LinkedIn profiles. It's very easy to convert a LinkedIn profile into a resume (if you're logged in, you can visit a person's profile page and press on the three dots to get the chance to convert the profile to a PDF).

<img width="378" alt="screen shot 2018-01-21 at 7 26 16

[2018-01-22 14:21] owocki commented on #38
did they say 'why'?

I agree that this is suboptimal from a UX perspective because of the friction it induces..

First off... seem like you really did your homework here.. Kudos

Why do we need a full client side scraping solution?  Don't we just need to do a GET request (with the `li_at` cookie for the users main profile page ? a la linkedin.com/in/owocki/

[2018-01-22 14:36] tra38 commented on #38
No. According to their email: "Due to the high volume of requests we receive, we unfortunately cannot provide detailed feedback about your individual application. If you have further questions about the use cases we support through our Open APIs, please review our developer site (https://developer.linkedin.com/) and API Terms of Use (https://developer.linkedin.com/legal/api-terms-of-use)."

My mai

[2018-01-22 14:42] owocki commented on #38
i think it depends on the cross origin settings of the domain https://stackoverflow.com/questions/2870371/why-is-jquerys-ajax-method-not-sending-my-session-cookie

[2018-01-22 14:50] owocki commented on #27
I think the next step is to define an MVP and to build it!  Of course this is easier said than done..  As there are several substeps associated with this; like doing market research, wireframing, designing, recruiting a team, etc.

If you want to create a seperate github issue for an MVP of your idea, that seems like the next (discrete) step to me.

[2018-01-22 15:01] owocki commented on #51
some good data on this here => https://twitter.com/owocki/status/954826973267685376

[2018-01-22 15:01] owocki commented on #46
some interesting data coming in here => https://twitter.com/owocki/status/954826973267685376

[2018-01-23 16:28] vs77bb commented on #27
@owocki Not sure whether you want to leave this one open or closed. Claim left open bc you paid out via tip.

Great conversation above. Regarding technical mentorship MVP, I'm curious how this plays out within the Gitcoin community. For example, are the "mentors" Gitcoiners who opt-in to mentorship calls in priv-contributors and are they paid for their help in mentoring? Is this a completely separ

[2018-01-24 03:36] tra38 commented on #38
I think so too. When I tried sending a GET Ajax request with a cookie containing the ```li_at``` token, I got a new error message: "preflight-response-is-not-successful". This error message occurs only if the server doesn't send the correct headers authorizing the GET Ajax request with cookies. Which means that the only way we can successfully make a GET request with the ```li_at``` token is if we

[2018-01-24 04:03] tra38 commented on #27
Yeah. Mentees will request what type of mentorship they want, and then Gitcoiners decide whether they can fulfill such terms before attempting to apply. Ideally, the "technical mentorship MVP" would reside on the Gitcoin website itself, and mentorship bounties would be placed in the same UI as non-mentorship bounties, so people can be flexible and switch between the different roles as appropriate.

[2018-01-24 04:06] tra38 commented on #30
An interesting issue that I do need to grapple with is certification/licensure - though a MVP should probably have no certification/licensure.

There's no credential necessary to become a mentor, much less a mentor in the specific narrow technical subfield that the mentee wants knowledge in. If you say you're a mentor, then you're a mentor, even if you aren't an expert in the subfield. This means

[2018-01-24 21:00] owocki opened #53 "testing bounties"
ability to automatically accept abounty when a certain set of test pass

[2018-01-25 19:59] owocki opened #54 "building a systemic skills engine"
meta question: how do you take a junior engineer (or someone who wants to learn software), and bend the learning curve to set them on a path to be a senior engineer?

the only silver bullets i’ve seen have been
1) a lot of gumption on behalf of the indivudal to learn (maybe call this intellectual curiousity and drive)
2) mentorship

[2018-01-25 23:03] owocki commented on #24
https://dharma.io/tutorial

[2018-01-29 20:43] 409H commented on #37
Still writing - trying to find a weekend to dedicate it to fully to speed up the process. But please keep open.

[2018-01-30 14:23] owocki commented on #27
some interesting ideas being posted here => https://github.com/aragon/nest/issues/3#issuecomment-361077656

[2018-02-04 19:17] owocki opened #56 "figure out daily coding challenge spec"
a daily coding challenge module or email that allows folks to stay engaged and learn solidity over time

do we need 'tracks'?  ie solidity track, Ethereum basics track, etc..

[2018-02-05 11:21] eswarasai commented on #38
@owocki -- For editing the generated email, do we need a Rich Text Editor similar to the one below?https://leejaen.github.io/react-lz-editor/index.html

I can see that in the Design, the editor doesn't have any options, yet there are some specific styles being applied to the text. Let me know if you'd like me to integrate with the above one.

[2018-02-11 23:32] owocki commented on #38
i think that for the MVP, we don't need a rich text editor

[2018-02-14 22:47] owocki opened #57 "make ConsenSys animated logo better"
http://consensys.github.io/animated-plexus/

* Fix the proportions to better match the actual logo.
* Make less glitchy when new dots are created.
* Use brand colors.

[2018-02-14 22:47] owocki commented on #57
anyone have a link to the consensys brand guide?

[2018-02-14 23:20] vs77bb commented on #34
@eswarasai Where are we on this one? cc @owocki @PixelantDesign

[2018-02-14 23:26] owocki commented on #44
thinking of bountying this for ETHDenver.com this weekend.  anyone feel strongly for / against?

[2018-02-14 23:30] ialexander28 commented on #44
I'm cool with it.   Do you need anything from me?

Happy to help.

Best,
Ian

On Wed, Feb 14, 2018 at 4:26 PM, Kevin Owocki <notifications@github.com>
wrote:

[2018-02-15 00:14] vs77bb commented on #22
@owocki Still shown in 'Work Submitted', should be 'Work Done'

[2018-02-15 00:40] owocki commented on #22
hey @mbeacom i think this is a fallout of the `fulfiller_address` migration maybe?  seems that the `.status()` field is not populating correctly

[2018-02-15 01:17] mbeacom commented on #22
I'm actively looking into this.

[2018-02-15 10:05] eswarasai commented on #34
@vs77bb -- The development is still ongoing as there have been design modifications. You can find the relevant conversation here #50

[2018-02-18 18:34] ialexander28 commented on #44
Anyway I can be apart of this since I contributed to the idea thread?

Ian

On Wed, Feb 14, 2018 at 4:30 PM, Ian Alexander <
buildingbusinessideas@gmail.com> wrote:

[2018-02-22 06:21] owocki commented on #44
we are certainly looking for leadership for this project... want to join the gitcoin.co/slack community and intro yourself?  we can start a private channel and start sourcing project contributors

[2018-02-22 20:36] ialexander28 commented on #44
Great to hear.  I'll try to join and intro on the gitcoin slack later
today.

Talk soon.
Ian

On Feb 21, 2018 11:21 PM, "Kevin Owocki" <notifications@github.com> wrote:

[2018-02-24 00:04] ialexander28 commented on #44
Joined.  Let me know if you have any ideas for the channel and invitees,
and we should be able to get this rollin'

On Thu, Feb 22, 2018 at 1:35 PM, Ian Alexander <
buildingbusinessideas@gmail.com> wrote:

[2018-02-26 05:13] owocki commented on #44
@ialexander28 send me a DM (i'm owocki) and we'll hook it up sometime this week

[2018-02-26 21:45] owocki opened #58 "Eth avatar - gravatar for ethereum addresses"
# what

ETHAvatar - a gravatar-like app, but instead of attaching images to emails, it attaches avatars to ETHereum addresses.

# what, technically

* create a basic webapp that, when a form is submitted, uploads an image avatar to IPFS.
* webapp should then attach your ETHavatar to your `web3.eth.coinbase` in a smart contract which you build and deploy to rinkeby, and then, once tested, to mainne

[2018-02-26 22:08] mbeylin commented on #58
My advice is to use a 2-tiered IPFS model where you first upload the image to IPFS, and then upload a JSON object which includes the metadata (including the original file hash, it's dimensions, etc). This will significantly cut down on the necessary gas costs of such a tool.

[2018-02-27 02:32] owocki commented on #58
from consensys slack: Most popular use-case would probably be adding images to token contracts. Get AirSwap to adopt it :slightly_smiling_face:

[2018-02-27 19:52] tarekskr commented on #58
I love the idea and would love to work on it! What time frame do you guys have for this?

[2018-02-27 20:06] owocki commented on #58
hey @tarekskr -- the bounty is set to expire in about a month.. would that timeframe work for you/

[2018-02-27 20:19] tarekskr commented on #58
@owocki yes a month seems reasonable. I'll start this Fri and will keep you guys updated.

[2018-02-27 21:59] cleanunicorn commented on #58
You would also need a mechanism to prove that you own the address.

[2018-02-27 22:03] tarekskr commented on #58
@cleanunicorn you prove you're the owner by calling the smart contract from the desired address, no?

[2018-03-01 18:37] owocki opened #59 "automate generation of gource for certain retrospectives like a sprint or a large bounty or something"
http://gource.io/

it would be cool to automate generation of gource videos for certain retrospectives like a sprint or a large bounty or something

esp if you could just do it via the github comments section

credit to @kumavis for the idea

[2018-03-01 18:41] owocki opened #60 "banshees.network (fork of bounties network to troll mark beylin)"
we would like to create a parody of the bounties.network for April fools day

Please take https://github.com/mbeylin/BountiesFactory and fork it.
In the new banshees network,
*For each bounty, instead of showing a random youtube video of a banshee screaming https://www.youtube.com/results?search_query=banshee+scream
* change the logo to be a banshee screaming
* change the logo scheme to be darker

[2018-03-03 01:32] tarekskr commented on #58
Guys: I need your opinion on how to proceed with storing the IPFS hashes in the smart contract. We basically have two options:

- **Store it as `bytes32`**. This has some pitfalls that I'll explain below.
- **Store it as `string`**. This roughly costs users an additional 65% percent more gas than `bytes32`.

When using `bytes32`, the contract caller must convert the IPFS hash into 32 bytes, while

[2018-03-03 02:38] owocki commented on #58
what magnitude of gas are we talking about?  65% difference means much more in the case of 21000 vs 210000

[2018-03-03 02:43] tarekskr commented on #58
About 85,736 for `string` (~ $0.22 @3Gwei) vs 28,624 for `bytes32` (~ $0.07 @3Gwei).

[2018-03-03 12:36] eswarasai commented on #56
@owocki -- Should this be an app where we provide new challenges daily for users to participate or will we be curating an email with challenge on daily basis?

[2018-03-05 03:46] tarekskr commented on #58
FYI: I just posted on reddit asking the IPFS team for their input. https://www.reddit.com/r/ipfs/comments/8221ru/future_changes_to_the_ipfs_hash_format/

[2018-03-05 06:32] ialexander28 commented on #44
Sorry for the delay -I was out of town at a conference for work. Just sent
you a DM on gitcoin slack.

On Sun, Feb 25, 2018 at 10:13 PM, Kevin Owocki <notifications@github.com>
wrote:

[2018-03-05 14:57] owocki commented on #58
@tarekskr first off; thanks for doing such extensive research on this.  its great to see how thoughtful youre being :)

second; what is your take of the responses on the reddit thread?  i have some thoughts about maybe saving gas in the meantime but building the contract to be future-proof also...  but would love to hear your thoughts before i go too deep into that.

cc @mbeylin

[2018-03-05 15:06] mbeylin commented on #58
Based on the comments of the IPFS team, it seems like they want us to future-proof it, which would mean adding those 2 extra uint8s to the storage. Because of how weird solidity works, it's actually cheaper for us to just use 2 uint256's instead of uint8s. I haven't checked the gas costs of this method vs the string array but something tells me the savings will be much smaller than we had original

[2018-03-05 15:11] tarekskr commented on #58
@owocki it's really my pleasure :)

I was actually just going to suggest that we stick with `string`. It's clear from the IPFS subreddit discussions that any hack to fit the hash into 32 bytes isn't future proof at all. Furthermore, all the suggestions involving storing the size & type in additional `uint8`s or even having two `bytes32`s to provide some redundancy, all these bring us really close

[2018-03-05 20:21] owocki opened #61 "[sustainability idea] tokenize your time"
what if you could issue tokens where each token is worth 1 hour of your time.

[2018-03-06 01:02] owocki commented on #58
+1

+1

[2018-03-06 10:25] owocki commented on #44
great! added you to a slack channel.. well need to figure out who else is interested and has complimentary skillsets AND has some free time coming up so we can actually tee this off

[2018-03-06 10:32] owocki commented on #56
i haven't spent much time specifying this.. but i think there are valid reasons to pursue both of those avenues.

why do you ask?

[2018-03-06 12:53] eswarasai commented on #56
@owocki -- I really liked this idea and would like to contribute for this, at the same time leverage the knowledge of Solidity while working on the challenges 😄

[2018-03-07 01:02] tarekskr commented on #58
Regarding the image: I propose we enforce a 1:1 aspect ratio, just like Gravatar does. This will make it much easier for 3rd party websites to integrate EthAvatar into their content.

[2018-03-07 01:14] owocki commented on #58
Strong ➕

[2018-03-07 01:19] owocki commented on #56
@eswarasai want to take a stab at defining a spec for an MVP?  curious what direction youd take this

[2018-03-07 02:55] tarekskr commented on #58
Great, working on that.

Btw I was thinking that one of the really great uses of this project is account verification. If I am sending ETH to an exchange for instance, I'd love to see the exchange's logo as soon as I paste the address in my wallet, this way I know I've got the correct address. People are always paranoid about missing a letter and losing all their money, and this is an excellent wa

[2018-03-07 02:59] owocki commented on #58
this.. 💯 times this!

[2018-03-07 04:58] PixelantDesign commented on #56
A series of emails could be an easy way to get started. Maybe like a ‘Solidity Basics Series’ , ‘ Solidity in Eight Weeks’ or something along those lines. Maybe there are lesson plans that can be leveraged from another platform. For help, users could go to a dedicated slack channel. This ties nicely into mentoring.

[2018-03-07 06:06] eswarasai commented on #56
@owocki -- Although I'd agree with the idea suggested by @PixelantDesign, I'm also thinking along the lines of engaging the users with coding challenges rather than just sending out the emails with the lessons which might just end up lying in the inboxes.

So there are multiple ideas I can think about right now. I'm listing a few below :
1. Like Alisa suggested, ` Solidity in Eight Weeks` is along

[2018-03-08 04:57] vs77bb commented on #58
@tarekskr Just dropping in 👀, dApp seemed to have trouble loading - just FYI.

You're doing fantastic work on this so far. ➕ to exchanges and individuals both using this - will be an immediate UX boost. I almost want to loop in Dan Finlay on this @owocki, but I'll let you guys keep going a bit further down the road for now 🙂 Glad you checked out Gitcoin and good luck as you continue!

[2018-03-08 05:06] tarekskr commented on #58
@vs77bb thank you so much! :)

Are you getting any errors on the page or the console? I am assuming you're on 'rinkeby', correct?

[2018-03-08 05:17] owocki commented on #58
awesome!  this is fast progress.

qa notes:

1. this is what i get when metamask is locked: http://bits.owocki.com/2e311F3c3n3j/Screen%20Recording%202018-03-07%20at%2010.13%20PM.gif
2. avatar upload is pretty slow.. not sure if theres an easy way to make this better
3. mind submitting a WIP PR against this repo? https://github.com/gitcoinco/ethavatar
4. success! [it works](http://bits.owocki.com/1

[2018-03-08 05:23] owocki commented on #58
i dont think it is.. theres about a 25 second wait to even confirm the tx in metamask... maybe this is IPFS upload?

[2018-03-08 05:23] owocki opened #62 "void"
void

[2018-03-08 05:24] owocki commented on #58
@tarekskr @mbeylin @aleph7 here is a design bounty for this project https://github.com/gitcoinco/skunkworks/issues/62

[2018-03-08 05:25] tarekskr commented on #58
IPFS upload happens before MetaMask shows up, and doesn't take more than a couple of seconds max. I'll retest this and see what's going on.

[2018-03-08 05:27] tarekskr commented on #58
@aleph7 I used blockies since it's already being used by Mist, Augur, and several others I believe. I personally liked Jdenticon more, but couldn't find a React component for it.

[2018-03-08 05:29] owocki opened #63 "(design) Eth avatar - gravatar for ethereum addresses"
# what

## An important part of the Ethereum Ecosystem

ETHAvatar - a [gravatar](https://gravatar.com)-like app, but instead of attaching images to emails, it attaches avatars to ETHereum addresses.

# what, technically

a webapp that will attach your ETHavatar to your `web3.eth.coinbase` in a smart contract

we've already got a working app over at https://github.com/gitcoinco/skunkworks/issues/58

[2018-03-08 05:29] owocki commented on #62
moved to https://github.com/gitcoinco/skunkworks/issues/63

[2018-03-08 05:39] owocki commented on #58
hey @tarekskr i've registered ethavatar.com and i have a server to run it on (instead of heroku).. can you send me your ssh public key pls?

also, is ubuntu okay for the server?

[2018-03-08 05:54] tarekskr commented on #58
Awesome! Please find my SSH public key here: https://pastebin.com/EUkwNSRB

Ubuntu should be perfect 👍

[2018-03-08 06:03] owocki commented on #58
@tarekskr can you send me an email so that i can send you the ssh login information in a place thats not public? kevin@gitcoin.co

i am also on the gitcoin.co/slack slack if thats a better place

[2018-03-08 06:13] tarekskr commented on #58
@owocki sent.

I've also fixed the locked MetaMask issue you were having earlier. Will create a PR shortly.

[2018-03-08 07:34] owocki commented on #58
just sent you the ssh info for the server (which ethavatar.com points to).. do you think you could deploy the app to that server?

[2018-03-08 17:40] mbeacom commented on #58
Following this discussion regarding deployment strategy - Could be a good one to deploy containerized to start, even if the containers are just running on the instance?

[2018-03-08 17:58] #62 closed

[2018-03-08 19:25] cmac2454 commented on #63
What is the deliverable for this? Do you want a frontend prototype or just a design sketch? I assume the former based on your request for responsiveness.

[2018-03-08 19:28] tarekskr commented on #58
dapp now deployed and live on http://ethavatar.com

[2018-03-08 19:47] mbeacom commented on #58
<img width="526" alt="screenshot 2018-03-08 14 46 57" src="https://user-images.githubusercontent.com/7315957/37172711-924bfca2-22df-11e8-83ef-f1c3f9456fe0.png">
😂

[2018-03-08 23:20] owocki commented on #58
@tarekskr mind writing a quick readme and putting it up on https://github.com/gitcoinco/ethavatar ?

things id like to see
1. deployed contract addresses w. links to etherscan
2. build / deploy instructions
3. code examples:  how can one who wants to leverage ethavatar POST or GET an avatar image by passing in a eth address?

[2018-03-08 23:26] owocki commented on #63
designs we can put on the site, in image / psd / sketch format pls.

[2018-03-08 23:35] tarekskr commented on #58
Sure!

There is currently no POST/GET API implemented. My main reasoning is that I don't wan't people to depend on a centralized server (in this case http://ethavatar.com) to fetch the avatar, but rather use the smart contract & IPFS directly. One cool thing we could do however is publish the `eth-avatar-image` to npm as an independent react component.

[2018-03-08 23:39] cmac2454 commented on #63
Are Illustrator files okay, or do you prefer artboards to be exported?

[2018-03-09 02:31] owocki commented on #63
illustrator files are fine with me!  though its a nice touch to post a screenshot on github so that each individual who wants to comment doesnt have to have illustrator to comment on the creative

[2018-03-09 02:35] owocki commented on #58
Sorry.. I was using POST/GET as shorthand for the creation of a new avatar, and the 'get' of the avatar image for an existing avatar respectively.. not suggesting that the literal HTTP verbs be implemented.

I was looking for javascript code samples of how one would get the avatar urls back, because those will go on the landing page for this application (in addition to the README.md).  I will like

[2018-03-09 15:57] tarekskr commented on #58
Just deployed to mainnet! 🎉

Will get to README.md later today.

[2018-03-09 16:39] owocki commented on #58
thx :)

[2018-03-09 17:52] vs77bb commented on #38
@eswarasai @owocki @tra38 Wanted to check in here... is this still being worked?

[2018-03-09 18:57] tarekskr commented on #58
Just commited README.md. Wording probably needs some refinement as I blabbered a lot about Eth Avatar's use cases :)

[2018-03-09 19:08] eswarasai commented on #38
@vs77bb -- I'm at the verge of wrapping these changes. Will make the changes live over the weekend

[2018-03-09 19:15] tra38 commented on #56
freecodecamp.org is [open-source](https://github.com/freeCodeCamp/freeCodeCamp). Maybe we can use it as a starting point?

[2018-03-09 19:53] owocki commented on #58
looks great!

[2018-03-09 20:16] owocki commented on #58
@tarekskr want to submit work at https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/skunkworks/issues/58 so we can pay you out?

[2018-03-09 20:18] tarekskr commented on #58
@owocki will do, thank you so much!

It was a real pleasure working on Eth Avatar, really can't wait to see it adopted! :)

[2018-03-09 20:29] owocki commented on #58
paid!

[2018-03-09 20:30] tarekskr commented on #58
@owocki got it, thanks again!

[2018-03-10 00:18] PixelantDesign commented on #56
All depens who we are trying to help. The people that are on the fast track will likely research and try to learn it right away ( or may already have the funamentals down).

+1 on leveraging resources that exist.

[2018-03-12 15:40] owocki commented on #56
seems like a good starting point to me.

[2018-03-12 16:30] eswarasai commented on #56
I was actually referring to incentivise for the winners of the challenges, hoping that judges can be of Gitcoin platform, helping the participants to learn about the best possible solutions for the various challenges. We can incentivise it both the ways, but not exactly sure what should be these incentives and who should be paying them. Having a sponsor or participating fee for a challenge, someth

[2018-03-12 21:07] owocki commented on #56
seems to me it'd be more efficient to procedurally grade all of the challenges.. too complex to have judges for every submission.

[2018-03-13 02:57] owocki opened #64 "WolframOracle"
WolframOracle: a product that can stream data from Wolfram into a blockchain smart contract without any coding

[2018-03-13 02:57] owocki opened #65 "outcome analyzer"
another one from https://m.facebook.com/story.php?story_fbid=1669819223087116&id=835253273210386&_rdr ( min 52 ) - outcome analysis of openlaw smart contracts… what would happen iff something else happens and how does it affect financial income to me?

[2018-03-13 02:57] owocki opened #66 "A Periodic Table of Protocols"
"A Periodic Table of Protocols" where symmetries are mined between consensus rulesets and say the properties of carbon, metals, noble gasses, etc.

https://twitter.com/desantis/status/971209003752620035

[2018-03-13 03:14] owocki commented on #34
hi all.  i just killed [the bounty](https://gitcoin.co/funding/details?url=https://github.com/trufflesuite/ganache-cli/issues/453) for this issue for [some gitcoin-internal migration reasons](https://github.com/gitcoinco/web/pull/589) but wanted to let you know that, regardless of the issue description on gitcoin.co.. im good to pay out this bounty when the time is right.  just @ me back then!

[2018-03-13 03:25] owocki commented on #38
hi all.  i just killed [the bounty](https://gitcoin.co/funding/details?url=https://github.com/gitcoinco/skunkworks/issues/38) for this issue for [some gitcoin-internal migration reasons](https://github.com/gitcoinco/web/pull/589) but wanted to let you know that, regardless of the issue description on gitcoin.co.. im good to pay out this bounty when the time is right.  just @ me back then!

[2018-03-14 01:00] owocki opened #67 "Message in a bottle site"
put a signed message in a blockchain..

gets randomly delievered several months later to someone else who puts a message in a bottle at that time..

stored on the blockchain

[2018-03-14 01:01] owocki opened #68 "Intimate ideas"
i have an idea i only want to share with 5 people.. provide a dapp that allows me to sign the messsage and then read it 5 times.  after the 5th time, it self destructs and the message is gone forever

[2018-03-14 12:08] eswarasai commented on #40
@owocki -- This looks interesting to me. I'll see if I can give it a shot using `web3.py`

[2018-03-14 12:11] eswarasai commented on #56
@owocki -- I agree. For starters, we can ignore judges evaluating the challenges as well as incentivising them. Can you help us with locking the Phase 1 requirements of the product, so that we can get started with the development for this and update it down the line?

[2018-03-14 15:17] owocki commented on #56
Sure, do you want to take a first stab and writing up the requirements or should I?

[2018-03-14 15:38] eswarasai commented on #56
@owocki -- I feel you might be the better person to come up with the requirements. So I'd really like you to help us all out here 😄

[2018-03-14 17:33] owocki commented on #61
http://nadiaeghbal.com/blog/the-developers-dilemma

[2018-03-15 02:50] vs77bb commented on #63
@cmac2454 Are you trying this one? I know @zoek1 is listed first, but it seems you've been more active here so it's yours if you want it!

[2018-03-15 12:57] cmac2454 commented on #63
@vs77bb I'm interested! Couple of quick questions for you and/or @owocki :

code sample -- get an ETHavatar for an address

What exactly are you looking for as a deliverable for these requests?

And should I be using Gitcoin's branding for this page or should it have its own?

[2018-03-15 22:33] owocki commented on #63
it can have its own branding

there's an code sample already in the readme of the app: https://github.com/gitcoinco/ethavatar#to-integrate-into-your-app

i think it'd be great to get this down into a 1 or 2 line integration.. but maybe that is more scope than is plasuible for this ticket.  eventually, we'll want to have JS, python integrations with ETHAvatar of an interface that looks as nice and

[2018-03-15 23:11] owocki commented on #56
OK, here is what I think for an MVP.  Directionally, I *really* like the way that free code camp organizes their project and I think we should plan to

1. Create a branded install of FreeCodeCamp at codecamp.gitcoin.co
1. Create web3 basic concepts track.
1. Create Metamask track.
1. Create Solidity beginner track.

When each lesson is completed, I think the system should be interoperable with Git

[2018-03-16 02:23] PixelantDesign commented on #56
I like. Sounds good to me!

[2018-03-16 08:58] eswarasai commented on #56
@owocki -- I like where we're going with this. Please do let us know once we have a full spec in place

[2018-03-16 16:33] owocki commented on #56
Here you go @eswarasai https://github.com/gitcoinco/web/issues/631

[2018-03-16 16:33] #56 closed

[2018-03-19 19:26] owocki commented on #56
@eswarasai are you interested in working on https://github.com/gitcoinco/web/issues/631 ? im trying to figureo ut the bounty amount to post for it

[2018-03-20 13:33] cmac2454 commented on #63
[Here's](https://drive.google.com/open?id=1VlbAMhmrQ3djfvYt4854foERT1KanInZ) what the ethavatar design looks like so far

[2018-03-20 20:17] owocki opened #69 "Sponsorship of tech meetups."
Similar to https://opencollective.com/meetups but on bldsdf

[2018-03-21 00:26] owocki commented on #63
seems like it's on the way to being functional (at least the upload / get part).  would love to see the code sample section filled out.  also would love to see an above the fold section that talks about the "why i care" / "what it is" of the project

[2018-03-21 13:42] cmac2454 commented on #63
Can you elaborate on this or rephrase it? What do you mean by "above the fold" section?

Is pseudocode okay for the design?

Is there a made with bounties sticker already in gitcoinco/creative?

[2018-03-21 13:57] owocki commented on #63
when a first time user comes to the site, they are immediately going to want to know what the project is and why they should care.  therefore, instead of just presenting the functionality of the app, we should show some compelling value statement as context, above the fold, before the functionality.

https://en.wikipedia.org/wiki/Above_the_fold#In_web_design

yes

http://bits.owocki.com/1i2p2M3R15

[2018-03-21 14:27] lucaguglielmi commented on #63
Hi everyone,
I’d love to help out if I can.
My name is luca, Senior UX designer / frontend.

I have been pondering a few days about this, and here is what I came out with. Let me know your thoughts and how I can help.

FEEDBACK ON THE DESIGN:
It’s good work but I think it should present more as a website than an app. Support, About us and help section for developers.

I personally don’t see the ne

[2018-03-22 21:05] cmac2454 commented on #63
Is [this](https://drive.google.com/file/d/1BOAwCHoh9yYr4HDAXrcZHudVYqvb4lxx/view?usp=sharing) getting closer to what you were thinking, @owocki ?

[2018-03-22 22:39] owocki commented on #63
yes, definitely :)

[2018-03-22 22:39] owocki commented on #63
@lucaguglielmi ill pass around your feedback internally (along with the content of your email) and will get back to you

[2018-03-23 23:50] owocki opened #70 "Liscense management on he blockchajn. And liscense upgrades"

[2018-03-23 23:50] owocki opened #71 "Book publishing business about business models of open source"

[2018-03-27 20:33] cmac2454 commented on #63
Commenting to prevent gitcoinbot from removing me

[2018-04-02 12:37] Cygnusfear commented on #58
Any bounties active to make this into an NPM package so it can easily be implemented in Metamask and other wallets?

[2018-04-02 16:15] owocki commented on #58
not yet.. we are working to firm up the standard at https://github.com/ethereum/EIPs/issues/928 and then will be BUIDLing it after that

[2018-04-02 19:09] cmac2454 commented on #63
Commenting again, is there any word on feedback regarding @lucaguglielmi ideas, @owocki ?

[2018-04-02 19:51] owocki commented on #63
oh yes -- there is an email thread with @lucaguglielmi going over some of the finer points of their design.  are you still iterating on your design?  would you like me to add you to the convo about luca's work?

[2018-04-02 19:53] cmac2454 commented on #63
I would like to be added to the thread if possible, I figure we can all bounce ideas off of each other.

[2018-04-02 19:55] owocki commented on #63
whats a good email for ya?  im kevin at gitcoin dot co

[2018-04-03 07:05] Cygnusfear commented on #58
@owocki Thank you! I will join in over there.

[2018-04-04 03:02] danfinlay commented on #34
@eswarasai I really appreciate the work you did here, and I don't blame you for slowing down on this.

We want to get the styles right, so we will definitely have to make some changes before we integrate this, but I want you to feel fairly paid. The bounty was for 0.5 eth. What do you think a fair payment would be? Since the price has gone down a bit, I almost think it might be too low even if pai

[2018-04-09 14:25] eswarasai commented on #34
@danfinlay -- Sorry for the delay in getting back to you and also not being able to complete the task at hand. I'm afraid I might not be able to take a shot at this until next week. But I'm positive that I can try to get things match the design spec as close as possible.

As per the payment, I've already got 0.09 ETH from @owocki for this. So, I'd say I'll try to close this first and then worry ab

[2018-04-18 17:28] lucaguglielmi commented on #63
Let me know if anything else is needed from my side!

[2018-05-22 20:13] owocki opened #73 "earn.com but for github users"
prfiling on github users.  know what kind of development they do
you can charge per message/action for developers.

paid out in ether/erc20 tokens

[2018-05-26 08:31] weberV commented on #58
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.23 ETH (159.18 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/skunkworks/58/85).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:32] weberV commented on #63
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/skunkworks/63/117).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href=

[2018-05-29 04:18] owocki opened #74 "project ideas from reddit"
https://www.reddit.com/r/ethereum/comments/8kd93h/what_are_some_projects_ideas_that_would_benefit/

[2018-05-29 13:51] KamesCG commented on #74
A recursive bounty platform to create more bounty platforms!?!

[2018-05-29 14:00] owocki commented on #74
A recursive bounty platform to create more bounty platforms!?!

[2018-06-01 21:40] owocki opened #75 "(fun experimental content project) Write an outline for a 10 page book called 'Everybody Ships'"
I'm just toying around with this idea, so this is a fun bounty.  If it goes well it might blossom into actually creating the book.

My daughter is about to go through pottytraining and we've just purchased the book [Everybody Poops](http://d2.d.yun.hjfile.cn/files/201301/%E6%B2%AA%E6%B1%9F%E8%82%B2%E5%84%BF%E7%BD%91_21_Everyone_Poops-Taro_Gomi_2013011110422976_651.pdf?_upd=true) which is a famous

[2018-06-03 01:49] kelvintyb commented on #75
My submission for copy:

The Ark team _ships_ **really** smart bridges.

[2018-06-04 07:47] uivlis commented on #75
**Swarm** _ships_ shipping space for other shippers.

[2018-06-04 08:14] uivlis commented on #75
**Decentraland** ships on a whole new scale. In fact, they _ship_ a whole new world.

[2018-06-04 08:19] bockp commented on #75
Loom Network _ships_ decentralized zombies and side-chain technology for the large-scale DApps of tomorrow. And then some more zombies.

[2018-06-04 08:20] uivlis commented on #75
Some _ship_ **_fast_**, others _ship_ **_good_**.

[2018-06-04 08:32] makoto commented on #75
ENS ships on May 4th (be with you)

[2018-06-04 08:39] bockp commented on #75
The Gitcoiners (gitcoineers ?) _ships_ with solutions.

[2018-06-04 20:47] owocki commented on #75
i love this

after a few more submissions im gonna recruit some artists

[2018-06-04 21:29] mockmew commented on #75
Steemit Community ships powered by Graphene

[2018-06-04 21:29] mockmew commented on #75
Protocol Labs ships in InterPlanetary File System(IPFS)

[2018-06-05 04:13] uivlis commented on #75
Golem _ships_ distributed computer power

[2018-06-05 04:19] uivlis commented on #75
Toshi is a mobile OS. They _ship_ infrastructure for bots and dapps.

[2018-06-05 04:35] palash25 commented on #75
*Parity* ships [Ethereum in Rust](https://github.com/paritytech/parity)
They also ship [Bitcoin in Rust](https://github.com/paritytech/parity-bitcoin)

[2018-06-05 04:42] palash25 commented on #75
IPLD ships unifying data model for them all

[2018-06-05 05:02] palash25 commented on #75
Akash ships a Decentralized Social Media Network
Embedded into IPFS

[2018-06-05 05:03] palash25 commented on #75
Protocol Labs also ships a network stack
They call it libp2p

[2018-06-05 05:08] palash25 commented on #75
[Cosmos](https://cosmos.network/intro) wants to ship an internet of blockchains

[2018-06-05 08:05] bockp commented on #75
@owocki I'd put an APB out for artists over at [Slothicorn](https://slothicorn.com/)'s Discord, there'll be some motivated graphic designers over there for sure !

[2018-06-05 12:24] offgridlife commented on #75
Steemit ships Steem in seconds flat.

[2018-06-05 12:27] offgridlife commented on #75
Minds.com ships great content and reminds of great content all day long.

[2018-06-05 12:30] offgridlife commented on #75
Mannabase.com ships the Manna Crypto currency:  a Free Universal Basic Income every 7 days. Free Manna is only available to humans and not robots.

[2018-06-05 12:31] gcamerli commented on #75
The Cardano team (IOHK) _ships_ a **purely functional** code.

[2018-06-05 12:32] offgridlife commented on #75
I am a digital artist and can ship all the illustrations you need.

[2018-06-06 08:42] iamonuwa commented on #75
Real artists **ship**

[2018-06-06 10:32] gcamerli commented on #75
@owocki it seems we can't start the work besides @bockp. Is it normal?

[2018-06-06 11:11] bockp commented on #75
But since it's marked as traditional, I'm guessing the normal gitcoin submission protocol doesn't really apply. Owoci'll probably message the "chosen" ones individually for addresses or something similar.

[2018-06-06 12:16] dustindreifuerst commented on #75
There are many types of ships
Some go out to sea
ARK doesnt get wet or drip
but deploys blockchains for you and me

[2018-06-06 12:20] dustindreifuerst commented on #75
One Ship
Two Ship
Private Ship
Enigma Ship

[2018-06-06 12:26] dustindreifuerst commented on #75
ZRX ships you a beautiful world of exchange

[2018-06-06 12:27] palash25 commented on #75
If we react to our own submissions like the ones above will those be counted? @owocki

[2018-06-06 15:15] owocki commented on #75
shoot i screwed up and marked this as traditional..

i just went in and admin overrided it to be a cooperative bounty

[2018-06-06 15:52] dustindreifuerst commented on #75
Last Page:

You see no matter what project your own, where you come form or what language you code....Everybody Ships....

[2018-06-06 16:49] bockp commented on #75
Gitcoin _ships_ the _shippers_ that _ship_ functional solutions (a bit exaggerated, but we ARE part of the product, technically ;) )

[2018-06-06 17:08] bockp commented on #75
[The Pineapple Arcade](http://www.pineapplearcade.net/) ships several small fortunes in cryptocurrency... hidden in the depths of agonizingly difficult puzzles, **themselves** hidden inside a digital arcade.

[2018-06-06 17:21] bockp commented on #75
[Cryptokitties](http://www.cryptokitties.co) _ships_ cats, and by extension the entire cultural heritage of the Interwebs.

[2018-06-06 17:57] dustindreifuerst commented on #75
[https://ibb.co/c5kRno]
![e352593d-a8f3-416d-b037-487c206077aa](https://user-images.githubusercontent.com/38194696/41056265-3275b2be-6989-11e8-9854-2a1a3670e7e5.png)
(url)

[2018-06-06 17:58] dustindreifuerst commented on #75
07

[2018-06-06 20:11] dustindreifuerst commented on #75
Back cover

![e352593d-a8f3-416d-b037-487c206077aa 1](https://user-images.githubusercontent.com/38194696/41062587-e140549a-699b-11e8-906a-98df860ef0a8.png

[2018-06-06 20:12] dustindreifuerst commented on #75
Back cover

![e352593d-a8f3-416d-b037-487c206077aa 1](https://user-images.githubusercontent.com/38194696/41062607-f7ef5434-699b-11e8-94f8-966e8ce42b4a.png)

[2018-06-07 00:38] darkdarkdragon commented on #62
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/gitcoinco/skunkworks/62/484).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href=

[2018-06-07 15:58] owocki commented on #75
very cool @dustindreifuerst .  now that i look again at the specs, we might have to modify it a little bit to fit this requriement:

i am traveling right now, but when i get back i'll get us organized about getting some illustrators involved in creating the pages for the book.  meantime, pls upvote your vote page ideas by using the github emoji respond feature

[2018-06-11 22:39] owocki commented on #75
@dustindreifuerst  @offgridlife can you get in touch with me via gitcoin.co/slack (our slack) to talk about doing the illustrations?

[2018-06-11 22:40] owocki commented on #75
Everyone else on this -- Please fill out this google form to get paid!  https://goo.gl/forms/pCDHJBgQrUM4YX6n2

Since https://github.com/gitcoinco/web/issues/1422 isn't built yet, I'm going to cancel the bounty and then pay you out directly in ETH!

[2018-06-11 22:52] owocki opened #76 "shopify store for gitcoin"
https://store.gitcoin.co/

to sell schwag

[2018-06-13 14:22] owocki commented on #75
@dustindreifuerst @offgridlife i see dustin's DM on slack.  @offgridlife can you join too?  https://gitcoin.co/slack and then join the #proj-book channel

[2018-06-14 00:27] kelvintyb commented on #75
Thanks @owocki submitted the form! Hopefully this comes to pass, it's a book I would love to get :)

[2018-06-14 19:06] owocki commented on #75
@kelvintyb can you pls join the slack?  the form will send you an immediate invite when you submit it

[2018-06-16 17:56] owocki commented on #75
@offgridlife are you still interested in this?  cc @dustindreifuerst

[2018-06-26 12:06] uivlis commented on #75
Erm... @owocki, I'm not sure if you received my form, neither if I should be paid for my copies, but the thing is, I never got anything back...

[2018-07-01 00:32] owocki commented on #27
this is a reallly good article https://techcrunch.com/2018/06/23/open-source-sustainability/

[2018-07-02 11:31] stefek99 commented on #20
Shameless plug.

Me working on @mailhustle

Similar concept.

a) analysing email inbox
b) periodical follow ups
c) keeping in touch with 15GB 100k+ messages 12 years people (touching base)

Using Gmail API so it appears as sent as you.

First in line - harassing MPs - https://www.parliament.uk/mps-lords-and-offices/mps/ - I'm not proud that I'm investing into an energetic black hole _(complaints a

[2018-07-02 17:48] owocki commented on #75
@uivlis very sorry about that.. ill tip ya out now

@dustindreifuerst A few more to add:

Cellarious Ships A CyberPunk Future
Ujo Ships Music to the Blockchain
Civil Ships 21st Century Newsrooms
Metamask Ships an In-Browser-Wallet

[2018-07-05 14:18] kelvintyb commented on #75
@owocki same as uivlis, unsure if my copy was accepted for this project..

[2018-07-09 02:49] owocki commented on #75
@kelvintyb we did not use your submission.. sorry !

[2018-07-09 07:42] offgridlife commented on #75
WOOPS...

Just seeing this now.

Rod Borghese
Http://www.rodborghesegallery.blogspot.ca

Sent from my iPad

[2018-07-09 11:16] kelvintyb commented on #75
No worries @owocki wld still be keen to get a copy when it's out! =)

[2018-07-19 15:39] mbeacom opened #77 "N/A"

[2018-07-19 15:39] #77 closed

[2018-07-21 21:31] owocki commented on #75
project update comps below!  all art credit of @dustindreifuerst

![e0a4c816-cd1f-4d71-b051-73d356a01740](https://user-images.githubusercontent.com/513929/43040199-1da26568-8cfb-11e8-974f-33adc53b8787.png)
![22832f7c-9e89-4b13-8d70-b8901de4fdaf 1](https://user-images.githubusercontent.com/513929/43040200-1db57680-8cfb-11e8-8fa1-a9b5289b8542.png)
![29c5253e-f6a9-4449-a2a0-ca9980677953](https://user

[2018-08-22 19:06] owocki opened #78 "project health tools"
https://nadiaeghbal.com/project-health

this piece from nadia is fascinating.. its almost begging to be built into a data tool that can ingest any github project and spit out product health..  that data could be a part of reputation at gitcoin

[2018-08-23 06:16] PixelantDesign commented on #78
Hmm...that was a super interesting read! Are you considering this more for internal consumption or providing as an external tool to contributors. I think contributors would find it valuable but wonder how repo owners would feel about this?

[2018-08-23 17:49] owocki commented on #78
i think it'd be useful as both.

its not a high priority... just added to skunkworks repo for tracking

[2018-10-04 11:38] mbeacom opened #79 "Upgrade Django to 2.1.2 - Security Vulnerability"
See https://github.com/gitcoinco/web/issues/2342

[2018-10-04 11:40] #79 closed

[2018-10-14 18:03] owocki opened #81 "decentralization needs to equivalent of a “fair trade” logo we can slap on all the cool sh*t we’re doing."
https://twitter.com/owocki/status/1051493245958549505

[2018-10-18 22:30] wandhy79 commented on #58
Good

[2018-11-12 22:49] owocki opened #82 "I would like to connect the Gitcoin avatar builder to 3box."
The Gitcoin avatar builder is one of my favorite parts of Gitcoin:

![screen recording 2018-11-12 at 03 45 pm](https://user-images.githubusercontent.com/513929/48379627-01866a00-e692-11e8-8001-4b99011b25b6.gif)

I'd love to be able to use the Gitcoin avatar builder to make a new 3box avatar / profile image.

I'd like the bounty hunter to.
1. clone https://github.com/gitcoinco/web and disable all a

[2018-11-12 22:58] michaelsena commented on #82
This is super cool @owocki I 💟the Gitcoin avatar builder too! So basically Gitcoin users would be able to create their avatar on Gitcoin as they always have, but will now have the option of saving the image file to their 3box – I guess instead of how avatar image files are currently saved locally or on your server?

When the user returns to the avatar builder with an image file already saved in th

[2018-11-13 02:40] owocki commented on #82
@michaelsena yes.. thats the basic idea..

though i was thinking about making this a standalone site.. like https://3boxavatar.com -- would you prefer that, or would you prefer that I make this just a part of Gitcoin?

do you have any internal plans for an avatar builder?  if so, i'd love to take a look.

any objections if i bounty this before thxgiving?

[2018-11-27 02:58] owocki opened #83 "pay on deploy"
https://twitter.com/pfrazee/status/1067237935211339776

[2018-12-06 20:47] owocki opened #84 "consensys project cap tables should be managed via blockchain, not with an xls / spreadsheet doc"
consensys project cap tables should be managed via blockchain, not with an xls / spreadsheet doc

[2018-12-10 19:36] owocki opened #85 "Open source exchange that’s funded with a gitcoin Dao"
Woke up with a wacky idea for self assembling organizations. Joe often describes gitcoin as “dynamic workforce assembly” so Hear me out:

Formula for a Gitcoin enabled DAO ==
- products built with gitcoin talent base
- bounties to recruit talent
- sourcecred / kudos to distribute “shares” of ownership for the project
- 1337/grants to distribute dividends
- codefund to provide some funding , plus m

[2018-12-11 20:02] owocki opened #86 "dont work on an issue until its funded"
Interesting way to prioritise features. The board is open to public and anyone can vote.
https://trello.com/b/bPZDVlwx/feedly-mobileai-lab (edited)

Interesting way to prioritise features. The board is open to public and anyone can vote.
https://trello.com/b/bPZDVlwx/feedly-mobileai-lab (edited)

1 reply
Owocki [< 1 minute ago]
there’s def something to the ’dont prioritze something until its funde

[2018-12-20 19:59] filips123 commented on #58
I created NPM package so this can be integrated into other applications. It is available on [filips123/EthAvatar.JS](https://github.com/filips123/EthAvatar.JS/). For more details see gitcoinco/ethavatar#17.

[2019-01-07 02:17] owocki opened #87 "as a marketer, i want to produce 'gitcoin cribs' , so i can reach maintainers"
https://twitter.com/alexadelman/status/1081781468274159616?s=21

as a marketer, i want to produce 'gitcoin cribs' , so i can reach maintainers

weekly webseries where a coder gives everyone a tour of their codebase.  similar to what beylin did for stdbounties 2.0, but probably 1/6th the time

[2019-03-05 19:33] owocki opened #88 "checkout the gitstore model"
https://twitter.com/jasonadriaan/status/1097570572408705024

[2019-03-09 16:11] owocki commented on #46
https://www.codementor.io/

[2019-03-18 22:16] owocki opened #89 "Ethereum Istanbul EIPs - Exponential Decay Critical Security Bounty"
This bounty is inspired by [The broken EIP security incentive](https://medium.com/@decanus/the-broken-eip-security-incentive-71fbdf25ab02).

This is a bounty worth 20 ETH for any Istanbul Hard Fork EIP
- that has been accepted into the Istanbul HardFork
- that you can find a *critical* security hole in.

Severity is judged by the OWASP model:

![owasp-chart-1024x410](https://user-images.githubuser

[2019-03-26 15:40] owocki opened #90 "idea from RadXChange - we can use EF patents to fund open source"
we can use EF patents to fund open source.  EF patents some technology, then charge large corporates to use it.  then that ETH is used to fund OSS

[2019-03-26 16:02] owocki opened #91 "ZKRollup ERC-20 Token"
# What

I would like to see a ZK Rollup based ERC20 replacement.

# Rationale

ERC20 is the most successful standard in the Ethereum ecosystem.

After watching  [Vitalik's talk about Scalable Blockchains as Data Layers / ZK Rollups](https://medium.com/@trenton.v/transcript-scalable-blockchains-as-data-layers-vitalik-buterin-11aa18b37e07), I am increasingly convinced that in an ETH2.0 world, the "E

[2019-03-26 22:24] barryWhiteHat commented on #91
Here is a spec for something closer to a multi token exchange. You can probably rip out the atomic swaps and multitokens and then you will have a nice place to start building this https://github.com/barryWhiteHat/roll_up_token

[2019-03-27 15:04] owocki commented on #91
@barryWhiteHat very cool!  is this something you're going to build / do you think that the rollup multi-token subsumes the need for what i specify?

[2019-03-27 15:09] barryWhiteHat commented on #91
Yes, we are working on an implementation of this and a few similar things.

It is possible that a erc20 based upon rollup would also be useful. But at the moment i think multitoken exchange should be a prioritized.

[2019-03-27 18:45] new58 commented on #89
I canceled this
کار آغاز شده است

هرکدام از این کاربران ادعا کردند که می توانند این کار را تا 11 ماه و 3 هفته از این کار انجام دهند.
لطفا برنامه های عمل خود را در زیر بخوانید:

1) new58 شروع به کار کرده است.

سلام و ممنون و موفق باشید

[2019-04-08 22:11] owocki commented on #91
hey @barryWhiteHat i might bounty this for https://gitcoin.co/hackathon/ethhack2019 soon.  do you have a spec for the multi token exchange?  id love to work together on this.

[2019-04-09 02:22] owocki opened #92 "Kevin's hackathon bounties"
https://github.com/gitcoinco/skunkworks/issues/91 - ZKRollup ERC20 token

[2019-04-09 02:30] owocki opened #93 "as a owner of Kudos, I want to be able to play a game with the Kudos I have, so I can enjoy the artwork and the brand story in a new way."
# Story
as a owner of Kudos, I want to be able to play a game with the Kudos I have, so I can enjoy the artwork and the brand story in a new way.

# What

Gitcoin launched Kudos ( https://gitcoin.co/kudos ) 7 months ago.  Since then weve seen thousands of Kudos sent through the system.

We would like to see a hackathon submission for a new innovative way to use your kudos.

We envision a successfu

[2019-04-09 02:36] owocki opened #94 "as an owner of Kudos, I want a slackbot that can make kudos integrated with slack, so i can send kudos where my team is"
# story

as an owner of Kudos, I want a slackbot that can make kudos integrated with slack, so i can send kudos where my team is

# What

Gitcoin launched Kudos ( https://gitcoin.co/kudos ) 7 months ago.  Since then weve seen thousands of Kudos sent through the system.

We would like to see a hackathon submission for a way to use Kudos on slack

We envision a successful inspiration will have the f

[2019-04-09 03:00] owocki opened #95 "as a member of the ethereum community, i want better signalling for governance / consensus measurement, so we can measure the consnesus of the ethereum community."
# story

as a member of the ethereum community, i want better signalling for governance / consensus measurement, so we can measure the consnesus of the ethereum community.

# why

this bounty is in response to some of the controversial initiatives we've seen in the community lately (prog pow, block reward funding).

if we had ways to measure signal in the community then we'd waste way less breathe

[2019-04-10 14:26] barryWhiteHat commented on #91
sure that sounds good. https://github.com/barryWhiteHat/roll_up_token

I am happy to be part of this.

[2019-04-11 03:41] barryWhiteHat commented on #91
sure that sounds good. https://github.com/barryWhiteHat/roll_up_token

I am happy to be part of this.

[2019-04-12 14:35] austintgriffith opened #96 "Build a Burner game with me for the Ethereal Virtual Hackathon"
Starting April 15 I would love to work with a community of developers to build a super simple game into the Burner wallet for the Ethereal Virtual Hackathon.

Interesting in hacking with me on a Burner game?

Here is the format of how I think we should build this super simple game:
https://medium.com/gitcoin/emojicoin-exchange-53f9658c9e3b

Just a few buttons that interact with a small smart contr

[2019-04-12 15:38] snailking commented on #96
Hey Austin,

There's a series of basic "farm" games played on Ethereum since last year, where you buy eggs from the "market" (a formula in the contract balancing ETH and eggs), hatch them into units (shrimps, ants, snails...), which produce more eggs, that you can hatch into more units or sell. 3-button game, simple concept, popular enough to experience reboots on Tron those past few months.

Exam

[2019-04-12 18:13] owocki opened #97 "Refer a bounty hunter who wins a prize, and receive up to $500 in DAI!"
# What

Want to participate in the [gitcoin + MSFT hackathon](https://gitcoin.co/hackathon/ethhack2019) in April, but don't have the time to code yourself!

Earn crypto by referring others to the hackathon.  If they win, then you could receive up to $500 in DAI.

Rules:
1. Browse Bounties here => https://gitcoin.co/hackathon/ethereal-virtual-hackathon/
2. See a bounty that one of your network migh

[2019-04-12 21:17] MaxStalker commented on #96
Hey, @austintgriffith 0/
Thank you for your initiative an idea for this Hackathon!

**Let me introduce myself**
I'm a front-end designer/developer with several years of experience in gaming industry. And I would love to collaborate with you on this little project.

**Game Idea**
I have a scaffold of a collective "push your luck" game, which you can check here:
https://www.loom.com/share/9b22401e01

[2019-04-12 23:29] krisc commented on #92
Are the prizes per issue? Or is it like eg., 1st place prize goes to Kudos Game and 2nd place goes to Kudos Slackbot, etc.?

[2019-04-12 23:44] krisc commented on #96
I don't have ideas atm but sounds like a fun project to participate in! I've developed a handful of games in the past. I have a couple a hours a day that I'm free to devote to this.

[2019-04-13 01:20] owocki commented on #96
hey all, i wonder if we could build the KUDOS GAME on the burner? !? https://github.com/gitcoinco/skunkworks/issues/93

[2019-04-14 16:14] Ryan-Gordon commented on #96
I would be interested in working with you on this. I also have a couple of hours a day I can give.

[2019-04-15 07:59] onggunhao commented on #96
Hi @austintgriffith - I'm Daniel, currently the CTO of a fintech company. From 1st May I'll be stepping down from my role and starting a 3-mth sabbatical to understand the DeFi and blockchain world. I think we've spoken on Twitter before!

I'm really not a gamer so I'm not the best person for game ideas. But I do see that games are a starting point for adoption.

**What I can do**
I can do anythin

[2019-04-15 10:58] polats commented on #96
Hi all, Paul here from Altitude Games and Alto. I've been working on video games for quite a while, and more recently have been focused on blockchain game development tools. Would love to get involved here!

I should also have a few hours a day and the weekends to contribute-- I can help with anything tech / game design related. #93 is another interesting challenge to me as well as I've worked pre

[2019-04-15 20:45] austintgriffith commented on #96
Okay I think the first step will be coming up with a simple simple smart contract to be the backend for a game. I like the idea of the "farm" based games; starting small and building up, but it would be great if first time players could participate with signed messages. Essentially, someone should be able to start to participate with basic mechanics of the game for free... then, as they earn token

[2019-04-16 10:02] gutsal-arsen commented on #97
@owocki would this kind of link work: https://gitcoin.co/hackathon/ethereal-virtual-hackathon/?utm_source=[your_github_username]&utm_medium=ref ? Or `utm_source` should be appended to some real issue to be catched? Asking as its sounds more reasonable to distribute link to hackathon issues list, rather then single issue.

[2019-04-17 10:46] thisismyroom commented on #96
Look up numberwang. A skit from Mitchell + Webb show. The premise is absurd, but it makes for the perfect game.  It’s basically a game of chance where 3-4 people join a room to play a series of games.  Each game consists of someone randomly entering a number. Doesn’t matter the format or anything. All they need to do is “guess.”  Obviously there is no way for someone to guess a random number, so i

[2019-04-17 19:29] alexvotofuture opened #98 "[Quorum] Quorum Terraform Plugin - 250 DAI"
### Quorum Terraform Plugin

- Description:
    - Develop a terraform provider plugin for Quorum to initialize a new cluster based on existing quorum-cloud and quorum-examples docker containers.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - [Share link to open source code via Github](htt

[2019-04-17 19:30] alexvotofuture opened #99 "[Quorum] TLS Support on Quorum - 250 DAI"
### TLS Support on Quorum

- Description:
    - Add support TLS for geth JSON RPCs.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - [Share link to open source code via Github](https://github.com/jpmorganchase/quorum)
    - Document the solution with steps to recreate (small blurb in README

[2019-04-17 19:31] alexvotofuture opened #100 "[Quorum] Configure Whisper Protocol - 250 DAI"
### Configure Whisper Protocol

- Description:
    - Build a dApp on Quorum that utilizes the whisper protocol
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - [Share link to open source code via Github](https://github.com/jpmorganchase/quorum)
    - Document the solution with steps to recr

[2019-04-17 19:38] alexvotofuture opened #101 "[Quorum] IPFS on Tessera - 250 DAI"
### IPFS on Tessera

- Description:
    - IPFS for document management while using Quorum and tessera as a keystore regardless if everyone has the payload.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - [Share link to open source code via Github](https://github.com/jpmorganchase/quorum)

[2019-04-17 19:40] alexvotofuture opened #102 "[Quorum] Remix Support for Private Transactions - 250 DAI"
### Remix Support for Private Transactions

- Description:
    - Remix support for private transactions.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - [Share link to open source code via Github](https://github.com/jpmorganchase/quorum)
    - Document the solution with steps to recreate (

[2019-04-17 19:41] alexvotofuture opened #103 "[Quorum] Using Metamask with Quorum - 250 DAI"
### Using Metamask with Quorum

- Description:
    - Metamask support for private transactions.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - [Share link to open source code via Github](https://github.com/jpmorganchase/quorum)
    - Document the solution with steps to recreate (small blu

[2019-04-17 19:42] alexvotofuture opened #104 "[Quorum] Privacy Bounty - 500 DAI"
### Privacy Bounty

- Description:
    - Best use of Quorum’s privacy features. The projects will be judged based on originality, tech chops, and execution.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - Share link to open source code via Github
    - Document the solution with steps to r

[2019-04-17 19:43] alexvotofuture opened #105 "[Quorum] Performance Bounty - 500 DAI"
### Performance Bounty

- Description:
    - Best use of Quorum’s fast transaction speed and throughput. The projects will be judged based on originality, tech chops, and execution.
    - If you need more details on what we are looking for exactly, please message our core engineers in Slack via #Gitcoin!

- Submission Requirements:
    - Share link to open source code via Github
    - Document the

[2019-04-17 23:30] bitjefe commented on #96
You mentioned in the video about a quiz (trivia) game.  I think this would be an awesome idea to code the framework for this and people could join in teams or by themselves, where each would get a paper wallet to enter.  To answer a question they would bid into pool with their funds, first wallet to enter the right answer gets the point, and teams or individuals with the most correct answers at th

[2019-04-18 00:36] ryan-shea commented on #92
have any questions for us? join this discord channel! https://discord.gg/NXD8Dfp @tenthirtyone @kirkballou @pereiray-ryan @usmanmuhd @immense055

[2019-04-18 02:00] thisismyroom commented on #96
Awesome. I’m in Detroit, so similar time zone if you’d like to talk through it further.  I have a  lot more notes I’m happy to share. Let me know. I’ve been sitting on this idea since devcon3 — excited to see this maybe get some traction!

[2019-04-18 16:20] austintgriffith commented on #96
The new "Burner Modules" article is out to explain how to easily build a small app *within the burner wallet*. https://medium.com/gitcoin/burner-modules-c6737cf06fe

Also, checkout the #build-a-game-with-austin room in this discord: https://discord.gg/BCtUy3

[2019-04-20 12:45] zheli commented on #98
@alexvotofuture I think you set the funding amount wrong on gitcoin. It should be 250 DAI instead of 0.01 DAI.

[2019-04-20 18:45] zillerium commented on #91
I started a repo - deployed two simplecoins - contracts - https://rinkeby.etherscan.io/address/0x8685469d41604448073f64e70c1eda19c328eff9 and
https://rinkeby.etherscan.io/address/0x7a56864d2d489fa0ea807884c0df893314c1deb2
github  - https://github.com/zillerium/openzeppelin-solidity/

Next step - add a UI with ERC20 functions.

[2019-04-21 08:14] barryWhiteHat commented on #91
Cool. What language are you thinking of writing the snark circuit in?

[2019-04-21 08:43] barryWhiteHat commented on #91
Cool. What language are you thinking of writing the snark circuit in?

[2019-04-21 11:35] zillerium commented on #91
I did not decide that. I am doing this alone, so progress is a little slow as I also have a lot of other work to do. I am doing the layer 1 now. About the snark circuit, I am generally experienced in most languages, so I will check into what looks the easiest. I am guessing C++ is the most common one to use for this type of use case.

[2019-04-21 13:34] barryWhiteHat commented on #91
So here are your options from high to low level

ZoKrates (like python)
Circom (like vhdl)
bellman (rust)
ethsnarks (cpp)

[2019-04-21 18:44] polats commented on #96
I've been going through the burner wallet code and Clevis the past few days, great job with the project @austintgriffith !  I think Clevis does a few things better than Truffle, I especially like how you integrate tests and ganache-cli into the workflow.

I came up with a concept that might drive further onboarding for Burner Wallet, shamelessly called "Burner Planet 🔥🌎" -- mockup below:

![burner

[2019-04-22 14:52] zillerium commented on #91
Just completed the ERC20 layer 1 at https://quelm.co/. Github updated. Moving onto layer2. A few people showed an interest now. So far we have mainly discussed the challenge with bertux helping out.

[2019-04-22 16:26] vyomshm commented on #91
@barryWhiteHat Which option would be best in terms of gas costs of verification?

[2019-04-23 14:32] zillerium commented on #91
I just tested with ZoKrates and Circom and chose circom to implement zkrollup. I researched Bellman and ethsnarks but could not find out too many details. Circom has a good tutorial and I found the material easy to follow. I also produced my first verifer now and pushed into github.

[2019-04-23 14:45] barryWhiteHat commented on #91
All cost the same.

[2019-04-23 15:41] austintgriffith commented on #96
^^ That is awesome! Yeah I was hoping to see some smart contracts popping up. Anything I can help with?

Anyone out there there building on Burner Modules? Let me know how I can help!!!

[2019-04-23 15:56] eccheung4 commented on #96
Fleshing out a simple scavenger type of game:
https://docs.google.com/document/d/1jTkQ3yp0fkuqrLrW7CDbE2pto5R-3RjD-FhECSpvBaE/edit

Basic simple question and answer contract where whoever finds the answers fastest is rewarded more points, then at the end of game, the person with most points wins the pot. If ties, then people split the pot.  Submitting wrong answers gets some fee added to pot.

[2019-04-23 16:31] alexvotofuture commented on #98
@zheli yes, thanks for noting this. We will be funding the rest of the bounty amount right before payout (still processing payment in the back end). We will honor the 250 DAI prize amount. Thanks for working on this!

[2019-04-23 18:52] zheli commented on #98
I was thinking about implementing a version that works on GCP with Kubernetes, but it seems that's not what you guys expected. So I will stop working on this now :)

[2019-04-24 05:03] barryWhiteHat commented on #91
I was going to encorage you to use ZoKrates. Because there is already an implementation in circom in progress. I know they are working on a tutorial at the moment but am unsure when it will be ready. @stefandeml do you have an idea of when this will be ready?

[2019-04-24 12:38] zillerium commented on #91
@barryWhiteHat - I had this issue - any ideas please - https://github.com/barryWhiteHat/roll_up/issues/43

[2019-04-24 15:07] austintgriffith commented on #96
^^ NEAT! You will probably want to do a commit/reveal for answering a quiz because it's on a public blockchain and people could see each other's answers:
https://medium.com/gitcoin/commit-reveal-scheme-on-ethereum-25d1d1a25428

[2019-04-24 16:20] barryWhiteHat commented on #91
Well firstly this is POC. If you want a cpp version of rollup you could try https://github.com/Ethsnarks/ethsnarks-snasma

If you are free tomorrow we could have a call to sync. What time zone are you?

[2019-04-24 19:44] owocki commented on #97
@gutsal-arsen thanks for asking (and sorry for the slow response) -- yes that link works -- as long as it's a valid GET param

[2019-04-24 19:45] owocki commented on #97
@tina1998612  did anyone of your friends owrk on it?

[2019-04-24 21:36] owocki opened #106 "altruisitic validators in eth 2.0 / POS"
build a gitcoin staking pool

[2019-04-25 01:16] zillerium commented on #91
UK. I have it running now. Trying to test. I had a lot of installation errors.

[2019-04-25 05:01] barryWhiteHat commented on #91
Whats the best way to message you ? Telegram , gitter , email?

[2019-04-25 08:30] zillerium commented on #91
My telegram is trevoro. I mostly use whatsapp - I can send my number via telegram to you. On a tech point, I am getting a lot of modulenotfound, is this related to the CMake file? I had at first errors there, and I made some changes but the imports are not working in rollup. Below is an example. I already made numerous corrections to other modulesnotfound.
trevor@prkap:~/rollup/roll_up/build/src/C

[2019-04-25 18:12] owocki opened #107 "Indoctrinate.me App that gives you questions about your coworkers to onboard you"
Indoctrinate.me

App that gives you questions about your coworkers to onboard you

theres a crypto economic incentive to add questions, get your questions answered right.

[2019-04-25 23:48] owocki commented on #91
@zillerium very excited to see the progress / action here :)

[2019-04-26 03:32] barryWhiteHat commented on #91
@zillerium I msged you on telegram. DOn't know if i got the right address.

[2019-04-26 05:18] zillerium commented on #91
@barryWhiteHat - I lifted your email address from github, and I assume it is at the protonmail.com address? I emailed that address anyway. I also just replied to your Telegram message. Are you in the USA?

[2019-04-27 19:28] austintgriffith commented on #96
If anyone is interested we are also building a Twitter bot to drop Burner links to a game: https://github.com/austintgriffith/twitter-bot-wallet-dropper/blob/master/README.md

[2019-04-28 18:47] zillerium commented on #91
Just a general update. I had some help from Bertrand and we have Zokrates running but the verifier does not run on the blockchain due to gas limits. We also confirmed that Zokrates needs a trusted setup which is a problem to solve generally in a decentralised solution.

[2019-04-29 16:35] owocki opened #108 "credit card whose rewards go to supporting OSS"
credit card whose rewards go to supporting OSS

[2019-04-30 21:04] owocki commented on #91
@zillerium thanks for letting me know.  could you prepare a submission sometime soon?  the hackathon closes on 4/30 (which is today)

[2019-04-30 21:18] owocki commented on #92
@zillerium your PR link goes to a forked openzppelin repo.  do you have a pull request you could link us to, or documentation?

[2019-05-01 11:38] zillerium commented on #91
I add a doc file - https://github.com/zillerium/openzeppelin-solidity/blob/master/zkrollup.md

[2019-05-01 22:22] ryan-shea commented on #104
Hey @miguelmartinezinf, thanks for participating in the hackathon. If you haven't yet, we'd love it if you could fill out this form to document your project name, team members, and link to your submission :rocket: :paintbrush:

Once you fill out the form, there's a prize at the end :wink:

https://forms.gle/uxSnqQDbsNfqrUbD8

[2019-05-01 22:23] ryan-shea commented on #99
Hey @sc0vu and @denny60004, thanks for participating in the hackathon. If you haven't yet, we'd love it if you could fill out this form to document your project name, team members, and link to your submission :rocket: :paintbrush:

Once you fill out the form, there's a prize at the end :wink:

https://forms.gle/uxSnqQDbsNfqrUbD8

[2019-05-01 22:36] owocki commented on #91
@zillerium thanks for the MD file.  checking it out now.  is there instructions anywhere on how to run locally?  or a docker container..

failing that, if there was a basic web UI that allowed me to play with the functions that'd really help me grok it

@barryWhiteHat any chance you'd be willing to help me with the hackathon judging here and let me know what you think of zills submission?  my emai

[2019-05-02 00:20] owocki opened #109 "guranteed support contracts for different open source repos"
build guranteed support contracts for different open source repos

[2019-05-02 09:58] zillerium commented on #91
@owocki the url https://quelm.co has layer 1 implemented (eg getBalance on 0x9e9F67A80C3BDe2da709c1a9f7a2824F7B183f3D). It uses Metamask. Layer 2 was in-work when the hackathon ended. We did run Zokrates locally but the gas limit problem stopped us producing a product.

[2019-05-02 14:16] owocki commented on #91
thanks; will check it out.  do i use it on rinkeby (or some other network)?

any thinking on how to get around the gas limit issue?  maybe we could use testRPC and set the block gas limit higher?

[2019-05-02 19:42] zillerium commented on #91
Yes Rinkeby. About the gas limit issue, I posted an issue at the Zokrates github but no one replied. I will probably work more on the zk-snarks issues and I have a workshop at the weekend on Zokrates. So I expect these issues will work themselves. The verifier should have a fixed gas requirement so the error defies the spec.

[2019-05-03 14:20] owocki commented on #92
hey all; i'd love to have a phone call with everyone who made a submission before announcing prizes.  hit me up here => calendly.com/owocki

[2019-05-03 14:32] owocki opened #110 "shitcoin WWE"
a platform or event where tribal members of each shitcoin community try to dunk on each other.. but on video not on twitter

[2019-05-03 14:59] owocki opened #111 "Finish compling a list of hackathon bounty submissions"
Finish compling a list of hackathon bounty submissions

Source the list by going to https://gitcoin.co/hackathon/ethereal-virtual-hackathon/ and finding the submission for each hackathon entry and listing them in this MD file: https://github.com/gitcoinco/skunkworks/blob/master/etherealhackathon2019.md

Must be completed by Sunday May 5th.

[2019-05-03 15:40] owocki opened #112 "dapp ideas from twitter"
https://twitter.com/fubuloubu/status/1124337126831562753

[2019-05-03 16:21] owocki opened #113 "tldr anything dapp"
tldr anything dapp

[2019-05-03 16:32] owocki opened #114 "https://github.com/eosdac/dacproposals"
https://github.com/eosdac/dacproposals

simialr to stdbounties

maybe we can do something with them

[2019-05-03 16:39] owocki opened #115 "subscription management app"
what this would do:
scans your ETH account to see all 1337 compatible subscriptions you haave.. and letes you toggle them on and off

[2019-05-03 16:40] owocki commented on #115
@androolloyd donno if anything like this is on groundhogs roadmap at all..

[2019-05-03 17:37] owocki commented on #112
and from reddit https://www.reddit.com/r/ethereum/comments/bk8rgv/owoki_from_gitcoin_imho_ethereum_needs_more/

[2019-05-03 19:37] #111 closed

[2019-05-06 15:41] owocki opened #117 "Got a dapp? Make your KPIs transparent to your community and earn 0.55 ETH!"
# Context

Hi all,

By way of introduction, I am Kevin Owocki -- the founder of Gitcoin.   I'm a pretty active [twitter user](https://twitter.com/owocki), and participate  in a lot of blockchain.

One of the most common debates I see is debating which are the most used apps in the space.  The metric that people use is layer 1 transactions per day/month.  I think this is TOTALLY WRONG.  For the sam

[2019-05-06 17:27] owocki commented on #117
some neat feedback on the twitter thread (  https://twitter.com/owocki/status/1125426451715510272 )

https://duneanalytics.com/
https://twitter.com/KnownOrigin_io/status/1125427419500949508

[2019-05-07 13:52] aerophile commented on #117
I was reading your comments and I came across[ this report ](https://diar.co/volume-3-issue-13/)by an analytics firm through [this article](https://www.tokentalk.co/EWN/ethereum-dapp-transactions-set-new-alltime-high-5cd0c5d1a4ac51144f78505b). It basically says that the Ethereum dapp transactions have set new alltime high and clearly this does lend support to the fact that dapps space is growing a

[2019-05-15 09:23] nanspro commented on #103
@alexvotofuture  are quorum bounties up for grabs ? I asked on their slack and they said that the bounties are expired!!

[2019-05-17 16:14] owocki commented on #92
sorry for the radio silence on payout.   been traveling all over for NY blockchain week.  aiming to pay out within the next week

[2019-05-17 17:09] eccheung4 commented on #92
@owocki no worries, thanks for the update! forgot to ask about that, but really appreciate you taking the time for the phone call. Have a great weekend!

[2019-05-21 00:54] alexvotofuture commented on #101
Hey @kilimanjaro2, please hold off on working on this. These bounties were migrated from the Ethereal Virtual Hackathon, and we are not sure if we will keep this open. Will post here if we do decide to proceed with the bounty. Thanks!

[2019-05-21 17:59] KirkBallou commented on #92
No worries Kevin.

On Tue, Apr 30, 2019 at 4:18 PM Kevin Owocki <notifications@github.com>
wrote:

[2019-05-21 20:39] owocki opened #119 "stickers => telegram"
https://www.rbth.com/business/2017/05/16/how-create-telegram-stickers-make-money-763706

[2019-05-21 23:21] owocki opened #120 "gitcoin promote mode is how we should package up the subscription model"
naming for subs model

[2019-05-22 16:46] owocki opened #122 "NFT game"
https://twitter.com/Jihoz_Axie/status/1124684086415482880

[2019-05-22 20:12] owocki opened #123 "azure credits if you do enough bounties"

[2019-05-25 01:37] owocki commented on #92
ugh.  sorry this keeps slipping.  im gonna try to find some time on the memorial day holiday to pay out

[2019-05-27 05:14] mikery commented on #92
No worries Kevin, enjoy the long weekend! :-)

--
Sent with Postbox <http://www.getpostbox.com>

[2019-05-29 03:20] owocki commented on #92
OK thanks, I finally got a chance to do some judging.

It was a hard decision to make bc each of the submissinos were super good... but here is where I landed on prizes:

1. @mikery
2. @eccheung4
3. @kirkballou

I will be paying these amounts out now!

Best,
Kevin

[2019-05-29 03:24] owocki commented on #92
whoops sorry i messed up the amoutns.  sending some more eth now too :)

[2019-05-29 05:21] eccheung4 commented on #92
ah THANKS @owocki !!!! It was a fun hackathon.  Congrats and nice work @mikery @KirkBallou !

[2019-06-03 16:03] KirkBallou commented on #92
Thank you! @owocki and crew!

[2019-06-17 14:59] androolloyd commented on #115
Yeah we’re working on one that works for our version. Should be released shortly. Scanning on chain data will require us to converge on event types, given that we’re going on to different directions currently.

[2019-06-23 12:35] senarma commented on #117
i will deploy my dApp in a few days, new dApps can participate?

[2019-06-23 21:19] obernardovieira commented on #94
Hi @owocki
Is this still open? Can I try? I've been working with smart contracts for a while but I'm new to gitcoin.

Thanks.

[2019-06-24 16:46] owocki commented on #94
defer to @vs77bb  - he posted the bounty

[2019-06-24 16:47] owocki commented on #117
yes

On Sun, Jun 23, 2019 at 6:35 AM Henrique <notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebook.com/kevin

[2019-06-25 13:49] kuhnchris commented on #94
Great! I'd add that to the top in the description aswell, to avoid confusion!

[2019-06-25 16:49] krisc commented on #94
@vs77bb @owocki although this is for the Beyond Blockchain, time left on Gitcoin says 3 months. Can you clarify?

[2019-06-26 18:58] owocki opened #124 "twitter ideas for next hackathon"
https://twitter.com/owocki/status/1124285201893347329
https://www.reddit.com/r/ethereum/comments/bk8rgv/owoki_from_gitcoin_imho_ethereum_needs_more/

[2019-06-27 15:37] vs77bb commented on #124
nice!

[2019-06-27 15:47] vs77bb opened #125 "Beyond Blockchain: Special Edition Kudos"
There are $50,000+ in prizes on the [Beyond Blockchain Explorer](https://gitcoin.co/hackathon/beyondblockchain/).

Maybe more importantly, each person who 'Submits Work' on a hackathon bounty will receive the kudos below 😉

[Join the Discord](https://discord.gg/zpaSbxJ), [form a team](https://github.com/gitcoinco/beyondblockchainteams) - and let us know what you're working on below 🙂

![Git_Kudo (

[2019-07-03 17:10] krisc commented on #94
@vs77bb @owocki can I get an answer on how long this bounty is lasting? It still says 3 months

[2019-07-03 17:30] owocki commented on #94
defer to @vs77bb

[2019-07-03 17:31] owocki commented on #94
@krisc i updated the docs.  you should be able to do anything for this bounty on your local docker + not need the remote server.

[2019-07-03 19:17] krisc commented on #94
Thanks! I might just come back to this after the hackathon (if it really is still open afterwards) and focus on other hackathon bounties until then.

[2019-07-05 17:32] mul1sh commented on #93
@owocki will this issue be open past the hackathon? I'm sure I can hack it but not in the time left :( need atleast a month to get it right.

Also does the game have to be a 3D game or it can a 2D puzzle game like crypto-kitties? Thanks 🙂

[2019-07-05 17:35] owocki commented on #93
i dont have any strongly held feelings about whether it should be 2d or 3d.

i will only leave it open past hackathon if no one works on it during hackathon

[2019-07-05 17:38] mul1sh commented on #93
Ok thanks for the feedback, will start working on it right away but will definitely need a few weeks to get it right.

[2019-07-08 08:08] alexeyneu commented on #103
i can do this outside of gitcoin. how about that?

[2019-07-11 06:22] edsonayllon commented on #125
I submitted for Consensys' Healthcare hackathon last night. https://gitcoin.co/issue/ConsenSys/Beyond-Blockchain-Relay/3/3158

[2019-07-11 15:05] owocki commented on #93
@coderrick -- i saw you just applied, if this bounty is renewed for our next hackathon ill approve you!

[2019-07-11 15:42] mul1sh commented on #93
@owocki just to clarify again, is this bounty still open or its will be re-opened  in the next hackathon? Thanks :)

[2019-07-11 16:09] owocki commented on #93
if someone submits a submission for beyond blockchain, i'll evaluate it for that hackathon.  if not, we'll roll it over ot the next hackathon

[2019-07-11 16:13] mul1sh commented on #93
Perfect thanks

[2019-07-11 23:54] krisc commented on #94
I nevet got an anwer to this. Is the issue still open? It says two months

[2019-07-12 10:20] kuhnchris commented on #94
@krisc the issue *should* only last for the duration of the hackathon - but I think it's up to @vs77bb to say if you can still work on it.

[2019-07-17 16:30] vs77bb commented on #94
Hi @krisc -- sorry for the delay, we're working on the 'timelines' in these issues -- this was a hackathon bounty.

[2019-07-29 22:06] vs77bb opened #127 "UNICEF:"
# Reducing the digital divide with blockchain & crypto

We want to connect every kid in the world to the best services the internet has to offer and in order to do that we need to connect every school in the world to an appropriate supply of gigabytes. We need to figure out how to pay for that connectivity and account for those payments in a fair and transparent manner. We need a blockchain based

[2019-07-31 00:28] Turupawn commented on #117
@owocki Is this still active? This month we had our first [El Hackathón Muñón](https://dev.to/turupawn/we-just-attended-to-a-decentralized-hackathon-1cae) event on mainnet. It's a Hackathón-DAO powered by our dapp, more info on our [landing](https://munonhack.com/). I was thinking on making some analytics and came across your post. Still need to figure out what data is relevant for us (number of h

[2019-07-31 01:13] mixmix commented on #127
This seems like you're asking for a lot of features for ~ $2000 USD

Is it expected people will do (1) and (2) for that amount of money?

[2019-07-31 15:27] owocki commented on #117
yes still active, yes you qualify :)

[2019-08-01 17:46] owocki commented on #94
feel free to work on this for the grow ethereum hackathoN!

[2019-08-02 22:08] Turupawn commented on #117
My friend @ceteco and met to figure what data is relevant to us. I wrote a post about the results. Feedback very welcome!
https://dev.to/turupawn/processing-the-hackathon-munon-data-written-on-the-blockchain-gk

[2019-08-05 21:22] Turupawn commented on #117
@owocki
We just uploaded the results to our web at https://munonhack.com/results/
It was pretty cool writing the DApp and discussing the results in our community, we discovered a couple of interesting stuff.
This is the results dapp repo:
https://github.com/buidl-honduras/MunonExplorer

I'm going to Submit the work on the gitcoin web now.

[2019-08-10 00:56] Turupawn commented on #117
![Screenshot from 2019-08-09 18-47-46](https://user-images.githubusercontent.com/707484/62815478-8e057200-bad6-11e9-9d60-fff0af46bcaf.png)

Hello! Just letting you know that we did a couple of improvements to the UI with the help of rimble.
And btw, the gitcoinbot says that the state of this issue is `Open`, but I already submitted. Is that normal? Other than that, here and on the gitcoin web it a

[2019-08-18 17:34] owocki commented on #117
yes totally normal for a cooperative / competitive bounty.  there will be many submitteres.

looks great.  how can i help yo ushow it off?  would be interested in jamming on how we could work together on our hackathons (hackathons.gitcoin.co)

[2019-08-21 19:48] Turupawn commented on #117
Awesome! :smiley:
We plan doing a more hackathons on the following months and it would be great working together with gitcoin's events. We can have a call if that works for you.

[2019-08-23 12:57] owocki commented on #117
cool cool.  lets jam; wanna email me: kevin@gitcoin.co ?

[2019-08-23 22:56] Turupawn commented on #117
Cool! Email sent!

[2019-09-09 17:27] owocki opened #128 "fix the sound for the oscoin/gitcoin/sourcecred panel"
https://www.dropbox.com/sh/5t0n4hfw4d917it/AABTZeKYa4kM_KVIsW0HLMwXa/20190823_Fri_Oscoin_Meditations_on_Free_and%20Open_Source_Sustainability

the sound on this panel video is messed up.  im looking for someone to pull out the audio track and fix the sound for elle and dandelion (pictured center left and center right).

i think just boosting the audio when they speak and then doing some noise canc

[2019-09-26 12:01] vs77bb opened #130 "Vitalik's Tweetstorm - Ethereum Grab Bag 🎁"
### Prize Title
Vitalik's Tweetstorm: A Prize Package

### Prize Bounty
1st: 10 ETH

### Challenge Description
Build a solution towards a problem listed on [Vitalik's tweetstorm response to Elon Musk](https://twitter.com/VitalikButerin/status/1123136930177118209?s=20) a few months back. Whether your interest is in DAO's, DeFi, curation registries, or otherwise, there's so much which can be built!

[2019-10-17 04:25] vs77bb commented on #130
Hi everyone - thanks so much for participating in Vitalik's Grab-Bag + the Road To Devcon hackathon in general.

We've selected @jvluso's project as the winner of the grab bag - most in line with Vitalik's original tweetstorm and with a really cool new OAuth tool to get Ethereum used in more mainstream circles.

We know many of you already won other prizes (congrats!) and really appreciate all the

[2019-10-21 16:11] owocki opened #131 "As a member of the web3 ecosystem; I want a 'web3 art' website where I can go and download web3 art so I can evangelize decentralizatiohn"
As a member of the web3 ecosystem; I want a 'web3 art' website where I can go and download web3 art so I can evangelize decentralizatiohn

what I want built:
- web3art.com (working title; ill get a domain name)
- site where people can browse artwork + download them.
- each artwork has the following attributes: image, name
- place where i as the administrator can add new pieces of art in bulk
- pla

[2019-10-21 16:25] owocki opened #132 "gratitude journal kudos"
Work gratitude.journal - gives you kudos for gratitude journaling - gamification and storage / management of gratitude journaling

[2019-10-21 21:07] zoek1 commented on #94
@owocki @vs77b could i take this? this week this issue will be finished

[2019-10-21 21:09] owocki commented on #94
sure; want to let us know roughly how youd approach the task??

[2019-10-22 07:24] zoek1 commented on #94
Sure @owocki, I prefer develop a bot that have a dedicated channel to interact with it (but invite a bot to general channel  or personal chat is a posibility). But i think its better have a clean history about wich kudos i received and sended.

**Basic functionality**
1. send to one or many tagged users the selected kudos
2. Accept button to  get the received kudos

**Extended functionality**
1. O

[2019-10-22 07:43] kuhnchris commented on #94
sounds reasonable.

[2019-10-23 17:00] owocki commented on #94
this seems reasonable to me!  lets do it!

[2019-10-23 22:53] zoek1 commented on #94
Cool, I'll start working on this right now!

[2019-10-26 15:37] mul1sh commented on #131
@gitcoinbot will be done tomorrow :)

[2019-10-28 14:59] mul1sh commented on #131
@owocki for this, should I also include the existing artworks?

[2019-10-28 20:27] owocki commented on #131
@mul1sh yes pls!

[2019-10-29 02:11] mul1sh commented on #131
@owocki ok thanks, though some of the files are not images i.e. `.ai`, `.sketch` e.t.c what should I do with them?

Also should I change the images to a more web friendly format i.e. `png` or `webp` or upload them as I find them i.e. `.svg` , `.gif`  thanks

[2019-10-29 04:40] owocki commented on #131
@mul1sh just use the svg / pngs pls

if you load the file names in a spreadsheet i'd be happy to load the artist name and any more info needed (title perhaps!)

[2019-10-31 12:43] mul1sh commented on #131
@owocki  thanks, doing so right now 🙂

[2019-11-03 15:47] mul1sh commented on #131
Just a bit almost done with this  😃

[2019-11-06 16:55] mul1sh commented on #131
@owocki  FYI, i'm loading the file names to this [spreadsheet](https://docs.google.com/spreadsheets/d/1EZGLdHJ_4IjiSQni6z9nEtSmA8XRO9D98uSmkDSze1Q/edit#gid=0) will be done tomorrow, thanks 🙂

[2019-11-06 17:20] owocki commented on #131
kewl just ping me when i should add human names! thanks

On Wed, Nov 6, 2019 at 9:55 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitt

[2019-11-06 20:32] owocki commented on #93
i didnt see any submissions on this but lmk if i got it wrong!

[2019-11-07 00:47] owocki opened #134 "web3 sustain event page"
We need to a front-end dev/designer to take a stab at making our conference website pretty! We have a simple static site with a general information architecture and some rough styling/formatting. We need a designer to take what we have and boost it up a couple notches.

Links:
- https://github.com/monadic-xyz/web3
- https://web3.sustainoss.org/

We're looking for a very simple site like this (with

[2019-11-07 09:54] zoek1 commented on #94
@owocki do you have a recommendation when a user in slack send a kudos for other user, the bot should have a wallet to mint kudos or the user should have buyed kudos earlier and only could send those buyed? This is my current block,  i'm not sure if there are other ways :thinking:

[2019-11-07 14:52] owocki commented on #94
maybe the user can deposit ETH into the bot??? then they can send it directly from the slack interface?  that seems like the simplest way to string this up..

[2019-11-07 17:12] zoek1 commented on #94
Sorry, my fault! I' must specify each scenario. For sure, that's the case when a bot has a wallet. Another question,  I'm thinking two options when sending funds, allow every user at slack workspace use such funds or being for personal use. The default behavior is for personal use, is this ok?

[2019-11-07 18:05] owocki commented on #94
makes total sense to me.  good call; having a workspace-wide budget will probably increase adoption bc less friction

[2019-11-08 15:31] owocki commented on #134
new logo => http://bits.owocki.com/26805efcf0a4/Untitled%20(29).png

[2019-11-08 15:33] owocki commented on #134
@jezsmith720 just approved ur application. looking forward to working with you!

everyone else; sorry - we just need one person for this task..  may i suggest trying https://github.com/gitcoinco/web/issues which is open to anyone?

[2019-11-08 16:09] mul1sh commented on #131
@owocki i've listed the images in the drive, working on the gitcoin images now.

Also in the site, should I have 2 tabs one for svgs and the other pngs?

[2019-11-08 17:16] owocki commented on #131
to keep this simple... maybe lets just let people download the svgs?

for the spreadsheet what do youn want me to add? new titles? artist name?  anything else? i want to do this only once not have to go back for couple iterations so lets make sure we get everything now!

[2019-11-09 18:01] owocki commented on #134
http://bits.owocki.com/d069c3ca7e71/Archive%202019-11-09%20at%201.01.35%20PM.zip

svg logo!!

[2019-11-10 16:21] mul1sh commented on #131
@owocki  ok i'll stick with svg's then, thanks. As for spreadsheet, kindly add the artist name and new titles. Thats should be enough.

[2019-11-10 20:56] jezsmith720 commented on #134
@owocki looking forward to working with you also. I am going to be working on this first thing in the morn, apologies, I have been busy over the weekend.
 I've taken a look at the example webpage for the overall desired design style, let me know of any specifics regarding colour palettes and such?  Logo's cool btw!

[2019-11-11 15:08] owocki commented on #134
great sounds good!

svg version of logo => http://bits.owocki.com/caec3bbc09b0/Archive%202019-11-11%20at%208.08.07%20AM.zip

[2019-11-11 15:48] abbey-titcomb commented on #134
@jezsmith720 - hey! excited to be collabing. On the design style:

- let's keep things simple and clean. i.e. check out our website at -> (https://monadic.xyz/). Don't worry about crazy design or styling. I think the hacker vibe is what we're into :)

- on color palettes - here's an option (https://demo.identihub.co/sustain#/). it's the brand guide for the sustainOS brand which is who we're collab

[2019-11-11 19:05] owocki commented on #131
thanks; just asked the artists to fill out the spreadsheet.  hopefully will have that info in the next day or so

[2019-11-12 21:29] owocki commented on #134
looking forward to seeing what u come up with here @jezsmith720

[2019-11-13 12:28] jezsmith720 commented on #134
@owocki Hi mate, sorry for the late reply, I have been struggling to setup my dev environment correctly (e.g. run a local instance of the site). Running 'yarn dev' as stated in the README yields a NODE_PATH err. I am using yarn v1.13.0 and node v11.8.0, any help would be appreciated, once setup it won't take me long to make the design changes. @abbey-titcomb I like the vision :) , that won't be a

[2019-11-13 14:01] mul1sh commented on #131
@owocki thanks, i have all the info I need now, so this will be ready in a few hours.

[2019-11-13 16:59] owocki commented on #131
Great !!

On Wed, Nov 13, 2019 at 6:01 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

check out what i'm building on github <http://github.com/owocki>

or what i'm shooting on photoshelter <http://photography.owocki.com/>

or find me on twitter <http://www.twitter.com/owocki>, facebook
<http://www.facebook.

[2019-11-13 19:53] abbey-titcomb commented on #134
@jezsmith720 hmmmm interesting. let me ping the dev who spun up the environment and ask his advice. Have you got it working ?

Maybe could be something to do with the node modules? I remember running into an isssue with them as well. Sorry for the issues!

[2019-11-16 00:46] owocki commented on #131
hey @mul1sh sorry for the late ask.. but if i added titles to each artwork in the spreadsheet.. could those make it onto the site?  i think they might be important for SEO.

got a WIP PR u can share?

[2019-11-16 02:38] GuistF commented on #131
Hi @mul1sh, I would like to share my idea about the presentation of the artworks.
I was thinking about the presentation structure of the Kudos/marketplace. Just a  png preview of the artwork and the info/action panel on the right.
we can arrange by artwork collection like this :
- Devcon V Collection
      -Free software foundation
      -Linux Torvalds creating Linux
- ETHWaterlooTalk
       - Al

[2019-11-16 14:42] mul1sh commented on #131
@owocki yes of course i'll add them to the site, I agree they would be great for SEO, so please add them. On my side, i'm wrapping up the site right now, the first draft will be ready by this time tomorrow with all the relevant info.

@GuistF great idea, i'm implementing it like this then, thanks for the feedback

[2019-11-16 16:22] jezsmith720 commented on #134
@abbey-titcomb Thanks dev instance all working now, yes it turned out to be node_module and file permission issues, I'll get something done over the weekend for next week.

[2019-11-17 21:50] owocki commented on #134
kewl;  please keep us updated.  were hoping to start sending out speaker invites late this week

[2019-11-18 21:14] owocki commented on #131
@mul1sh i just added titles to the spreadsheet

[2019-11-20 16:16] mul1sh commented on #131
@owocki thanks, doing my final test now and then I push  😃

[2019-11-20 18:02] owocki commented on #131
yayy! let me know when theres a qa link i can checkout

[2019-11-20 20:04] owocki commented on #134
paying out now @jezsmith720 - great work!  @abbey-titcomb do we want to do a v2?

[2019-11-24 16:23] mul1sh commented on #131
@gitcoinbot deploying the website now and then I submit 😄

[2019-11-27 12:04] mul1sh commented on #131
@owocki sorry for the delay on this, was a bit caught on my end but i'm wrapping it up now by finishing up on the deployment (for both frontend & backend)  now.

Just a quick one, should I add docker to make the EC2 deployment much easier? I realised trying to deploying the backend separately and the frontend separately too is very time consuming and has actually led to my delays in the last few d

[2019-11-27 16:44] owocki commented on #131
docker would be great :)

AWS is fine with me (actually preferred).. how does one upload a new image? is there an `/upload` form?

[2019-11-27 16:56] owocki opened #135 "mattermost kudos bot"
mattermost kudos bot

[2019-11-28 07:04] mul1sh commented on #131
Yes, there is a form to upload svg's in bulk and also modify the image data i.e. artist name, title e.t.c.

Anyway almost done with the docker config and then i'll set it up in my aws for you to test

[2019-12-01 11:26] owocki commented on #131
awesome!

On Thu, Nov 28, 2019 at 12:04 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-01 16:21] mul1sh commented on #131
thanks, just finished with docker finally,  pheew!! Doing 1 last test and the i push

[2019-12-02 14:13] alexvotofuture opened #136 "Global Community Choice Award"
### Prize Title
Global Community Choice Award

### Prize Bounty
TBA

### Challenge Description
Gitcoin is celebrating our global hackathon community by giving returning hackers control of the “Best in Show” award!

We will share more information on how to vote toward the end of the hackathon.

### Submission Requirements
Any project submitted to a Global Communities virtual hackathon prize using G

[2019-12-06 20:10] owocki opened #138 "ETHDenver Zine - "This is why we BUIDL""
Gitcoin is helping to put together a [zine](https://blog.flipsnack.com/what-is-a-zine/) for ETHdenver 2020...

The subject of this zine will be "This is why we BUIDL".  It will be a collection of 9-12 essays from developers, designers, coders that explain what drives them to BUIDL on ethereum.

Some things to explore:
- what are you building and what is the "deep why" behind it?
- how can what you

[2019-12-06 20:16] owocki opened #139 "ethdenver zine - the world in 2025, 2030, 2035"
Gitcoin is helping to put together a [zine](https://blog.flipsnack.com/what-is-a-zine/) for ETHdenver 2020...

The subject of this zine will be 3 parts "the world in 2025"  "the world in 2030" and  "the world in 2035".  It will be a collection of 9-12 essays from developers, designers, coders that explain what they think the world could look like in 2025 (5 years from now), 10 years from now, and

[2019-12-06 20:16] owocki commented on #138
cross-linking to our other ethdenver zine idea https://github.com/gitcoinco/skunkworks/issues/139

[2019-12-13 14:24] owocki commented on #89
cancelling the bounty since no exploit was found.. (yay istanbul was a success!)

@eeks you will get an email about how to get your crowdfund back. if u dont let me know.

[2019-12-13 23:28] DreadKnight commented on #136
I don't fully get this, sorry... those hackatons don't have proper description or info atm from what I see...

[2019-12-16 16:33] eeks commented on #89
Thanks, will let you know

On Fri, Dec 13, 2019 at 9:24 AM Kevin Owocki <notifications@github.com>
wrote:

[2019-12-17 02:51] owocki commented on #131
@mul1sh sup broh? how we doing?

[2019-12-17 20:50] mul1sh commented on #131
@owocki Sorry for the long delay in this 😬 , got delayed by docker issues and also bounties I was working on for the hackathon.

Nonetheless expect it to be done by latest Thursday because I'll resume working on it tomorrow.

[2019-12-18 17:21] owocki opened #140 "chatroulette but incentivized with sablier"
https://twitter.com/owocki/status/1207344016276148224

[2019-12-20 20:17] owocki opened #141 "humble bundle for gitcoin software"
https://gitcoincore.slack.com/archives/CJWQWG6J2/p1576872900021700

we drive downloads of free trials/liscensed software

[2019-12-23 09:36] mul1sh commented on #131
Finally deploying now and then I submit 😃

[2019-12-24 14:41] owocki opened #142 "gitcoin users can leverage their reputation to take out uncollaterialized loans"
andrew idea here https://bits.owocki.com/NQuvJr6j

[2019-12-30 21:31] owocki commented on #131
ok got a site i can checkout?

On Mon, Dec 23, 2019 at 2:37 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2019-12-30 21:39] owocki opened #144 "retail"
Open up gitcoin coworking franchises
.  A place in major cities where you can go in and Git coins
Spins flywheel by making the brand a physical thing, hosting hackathons, collecting monthly fees. All for a subscription package

[2019-12-30 21:39] owocki opened #145 "moocher"
Moocher — a fork of TCR Party that publicly calls out moochers of Open Source..   targeted at people who built their companies on OSS but dont give back.
the TCR component is  important because you can’t ad hominem the person who called you out.  and you can challenge the callout via the TCR rules.

[2019-12-30 21:41] owocki opened #146 "people will pay for status"
people will pay for status - certain features that only are available if u pay

[2020-01-03 14:09] mul1sh commented on #131
@owocki  deploying it now. Sorry for the massive delay on this had a lot of docker issues to deal with and also I changed the backend from aws 3box so as to make admin authenticate much easier which further delayed me.

Anyway in a few hours will alert you to checkout the site.

[2020-01-04 16:36] owocki commented on #131
ok..

On Fri, Jan 3, 2020 at 7:09 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-01-07 19:04] owocki commented on #131
@mul1sh whats up? you keep saying its close but haven't delivered..

[2020-01-08 14:00] mul1sh commented on #131
@owocki sorry for not delivering yet, I know its been a sh!t show from my end, but kindly me less than 6 hours i'm submitying.

[2020-01-08 15:53] owocki opened #147 "as an ethdenver attendee, i want the bufficorn avatar builder linked from the ethdenver dao app"
as an ethdenver attendee, i want the bufficorn avatar builder linked from the ethdenver dao app ([demo link](http://denver-demo.burnerfactory.com/))

attendees to ethdenver will be able to make a bufficorn avatar as part of their digital experience in ethdenver 2020.

gitcoin has built a bufficorn avatar builder [here](https://github.com/gitcoinco/web/pull/5636).  the scope of this task is to:
1.

[2020-01-08 16:45] owocki commented on #147
from @austingriffith

[2020-01-09 10:52] mul1sh commented on #131
@owocki sorry for not delivering yet, I know its been a long delay from my end, but kindly give me a few hours i'm submitting, just sorting some final backend issues in 3box caused by this [bug](https://github.com/3box/3box-js/issues/687).

[2020-01-09 11:26] mul1sh commented on #131
@owocki sorry for not delivering yet, I know its been a long delay from my end, but kindly give me a few hours i'm submitting, just sorting some final backend issues.

[2020-01-11 17:41] iamonuwa commented on #147
@gitcoinbot work in progress. Expect WIP this night

[2020-01-12 11:34] mul1sh commented on #131
Deploying now to aws

[2020-01-13 02:51] owocki commented on #131
ok got a link?

On Sun, Jan 12, 2020 at 4:34 AM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-01-13 12:36] mul1sh commented on #131
@owocki in a bit, i'm almost done testing and then I put it up in zeit & submit source code + link.

[2020-01-14 04:43] iamonuwa commented on #147
@gitcoinbot the WIP is hosted here http://167.172.139.64:8000/

[2020-01-16 15:17] mul1sh commented on #131
Fixing one last bug I found when uploading  new pieces in bulk, which causes the site to hang and then this will finally be ready :).

[2020-01-19 11:00] iamonuwa commented on #147
@gitcoinbot this will be completely ready, latest by Wednesday

[2020-01-22 18:18] mul1sh commented on #131
Hey @owocki  sorry, but i'm still debugging this abit, but i'm very confident i will have a QA link for you by  Friday this time.

Also let me explain  why long the hold up which is basically because of the backend. At first I used a node.js backend + mongodb + aws EC2 container + aws s3 storage which was super easy to setup for the image uploads, but it got a bit complicated when adding other nec

[2020-01-22 21:50] owocki commented on #131
Thanks for the thoughtful update :)

On Wed, Jan 22, 2020 at 1:18 PM Mulili Nzuki <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $2.7mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-01-24 19:51] owocki opened #148 "lambda school model"
gitcoin is a hackathon experience. and we can do income share agreements with hackers like the YC/lambdaschool model

[2020-01-24 19:51] owocki commented on #148
@vs77bb is into this

[2020-01-28 22:37] owocki commented on #131
im going to remove the funds from escrow...  hit me up when ur submission is rdy and ill pay it out directly then

[2020-01-31 01:09] mul1sh commented on #131
@owocki  thanks for the update will do 🙂

[2020-02-05 14:12] vs77bb opened #149 "Sustain Web 3 Feedback Survey"
### Prize Title
Sustain Web 3 Feedback Survey

### Prize Bounty
[comment]: # List the token type (ETH/ERC-20) and amount.
50 DAI for the best feedback, as judged by the Gitcoin Team. 2 DAI/SAI to the next 50 who complete the survey.

### Challenge Description
[comment]: # Be as descriptive as possible about what you want to see built. Challenges should be useful for your organization, but open-end

[2020-02-13 08:53] nanspro commented on #149
Filled the survey

[2020-02-18 14:01] danlipert commented on #147
Since ETHDenver is over... maybe this is obsolete now :(

[2020-02-18 14:01] #147 closed

[2020-02-22 09:52] TomAFrench commented on #149
Any update on this?

[2020-02-23 01:59] btvinh11 commented on #149
I think no.

On Sat, Feb 22, 2020, 16:52 Tom French <notifications@github.com> wrote:

[2020-03-17 07:54] alexvotofuture opened #152 "Mid-Hack Hustle"
### Prize Title
Mid-Hack Hustle

### Prize Bounty
200 DAI

### Challenge Description
This prize goes to the team who shows the most hustle early on in the Funding the Future virtual hackathon.

Gitcoin is hosting a Funding the Future half-way point video call on Monday, March 23, at 11AM Eastern Time. We will invite hackers to tell the community about their project, talk about their progress, show

[2020-03-23 08:50] dhaileytaha commented on #152
Hi,
Where can i find the video call link to join?

Regards

[2020-03-23 15:04] mul1sh commented on #152
@vs77bb @alexvotofuture The call was supposed to be today right? Because I don't see anyy announcements in the chat channels

[2020-03-23 15:40] owocki commented on #152
@connoroday @alexvotofuture

[2020-03-23 16:08] codenamejason commented on #152
I was waiting myself.

[2020-03-23 16:27] codenamejason commented on #152
I have my code in my repo so I am not sure how to create PR and submit work.

[2020-03-23 18:48] codenamejason commented on #152
Got it figured out and submitted PR

[2020-03-25 14:31] vs77bb opened #154 "What's something you want to see built on Web 3?"
### Prize Title
Pitch A Hackathon Idea: Funding The Future

### Prize Bounty
[comment]: # List the token type (ETH/ERC-20) and amount.
50 DAI for the best hackathon idea (**no limits on what a hackathon idea is**), as judged by the Gitcoin Team. 25 DAI for the runner up.

.01 ETH tips  will be provided to the first 50 posts on the [Funding The Future Town Square](https://gitcoin.co/townsquare?tab=

[2020-03-25 14:47] vs77bb commented on #149
Hi all -- thanks for the patience... Web 3 gas prices held me up for a bit. Big congrats to @ivanmolto for his winning survey. And thank you to everyone for their great work here -- we are continuously iterating on hackathons and your feedback is the number one source of inspiration.

Based on the feedback -- we are doubling down on workshops, more opportunities for hackers to meet each other, and

[2020-04-03 15:37] vs77bb opened #155 "Funding The Future Feedback Survey"
### Prize Title
Funding The Future Feedback Survey

### Prize Bounty
[comment]: # List the token type (ETH/ERC-20) and amount.
50 DAI for the most comprehensive feedback, as judged by the Gitcoin Team. 3 DAI/SAI to the next 50 who complete the survey.

### Challenge Description
[comment]: # Be as descriptive as possible about what you want to see built. Challenges should be useful for your organiz

[2020-04-13 17:06] owocki opened #156 "stats on how much money people have donated to small businesses due to Covid"
this is a bounty to collect stats on how much  money people have donated to small businesses due to Covid

the task is to take https://www.gofundme.com/mvc.php?route=homepage_norma/search&term=%22Covid%22 and ingest the campaign name + goal + amount raised so far into a google spread sheet

this task pays $50 and must be turned around within 12 hours.
- you can automate this or just do it by hand,

[2020-04-13 18:03] owocki commented on #156
@molecula451 just approved u since u were first.  go for it!

[2020-04-14 11:51] molecula451 commented on #156
Owock I got the work my friend. Pm you a lot of details

[2020-04-14 20:30] owocki commented on #156
@molecula451 submit work and ill pay u out!

[2020-04-14 20:52] molecula451 commented on #156
Did it my awesome friend

[2020-04-24 19:05] santteegt opened #157 "Grants Allowance Checker UI"
What if there's a UI similar like to the [Token Allowance Checker](https://tac.dappstar.io/#/address/0x224aba5d489675a7bd3ce07786fada466b46fa0f) to allow

1. Gitcoin grants contributors to track what contributions they made
2. Which ones are recurrent (EIP-1337 subscriptions)
3. Send notifications (push, emails) when their wallet is running out of balance on a specific token for a specific grant

[2020-04-24 19:32] owocki commented on #157
this is a great idea!

On Fri, Apr 24, 2020 at 1:05 PM Santiago Gonzalez Toral <
notifications@github.com> wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $4.0mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-04-30 22:21] alexvotofuture opened #158 "Cross Chain Hackathon: Submission Bonus Prize!"
### Prize Title
Cross Chain Hackathon: Submission Bonus Prize!

### Prize Bounty
75 DAI

### Challenge Description
Gitcoin wants to offer a 75 DAI bonus prize for your team's awesome work during the Cross Chain virtual hackathon!

The first 25 projects that satisfy the submission requirements for one or more Cross Chain hackathon prizes will win an additional 75 DAI prize, whether you win the spon

[2020-05-03 23:15] santteegt commented on #140
I found this built during DragonQuest https://github.com/nichanank/peerstream

[2020-05-06 22:42] alexvotofuture opened #159 "Ready Layer One Hackathon: Submission Consolation Prize [75 DAI]"
Prize Title
Ready Layer One Hackathon: Submission Consolation Prize

Prize Bounty
75 DAI

Challenge Description
Gitcoin wants to offer a 75 DAI consolation prize for your team's awesome work during the Ready Layer One virtual hackathon in case you don't win a prize.

The first 100 participants to submit a unique project that satisfies the submission requirements for one or more Ready Layer One hac

[2020-05-06 22:51] alexvotofuture opened #160 "NYBW Virtual Hackathon: Submission Consolation Prize"
#Prize Title
NYBW Hackathon: Submission Consolation Prize

#Prize Bounty
75 DAI

#Challenge Description
Gitcoin wants to offer a 75 DAI consolation prize for your team's awesome work during the NYBW Virtual Hackathon in case you don't win a prize.

The first 100 participants to submit a unique project that satisfies the submission requirements for one or more NYBW Virtual Hackathon prizes, but do

[2020-05-07 00:39] alexvotofuture opened #161 "NYBW Virtual Hackathon: Mid-Hack Hustle"
##Prize Title
NYBW Virtual Hackathon: Mid-Hack Hustle

##Prize Bounty
200 DAI - 1st Place
100 DAI - 2nd Place
50 DAI - 3rd Place
25 DAI - All additional eligible submissions

##Challenge Description
This prize goes to the teams who show the most hustle early on in the NYBW Virtual Hackathon.

Gitcoin is hosting a NYBW Virtual Hackathon Mid-Hack Hustle video call on Friday, May 15th. We will invite

[2020-05-19 17:48] sarangparikh22 commented on #159
Link for sarangparikh22 work. https://github.com/sarangparikh22/move-near

[2020-05-21 18:07] alexvotofuture opened #162 "Quantstamp - Highest Quality Testing For Your Project [500 DAI]"
# Challenge Description
All too often we see projects that undervalue quality testing. Quality testing saves you and your team time when maintaining code and reduces risk when adding new features. We want to see hackers better develop this highly marketable skill. When you create quality tests, everyone wins. Submissions with the highest quality testing will win the 500DAI bounty.

Read more about

[2020-06-02 16:09] owocki commented on #160
@alexvotofuture i'm getting questions about when this will be paid out.

[2020-06-05 02:15] alexvotofuture commented on #158
All consolation prizes have been paid out! Check your email for instructions on how to redeem your prize if you haven't yet associated an ETH address with your Gitcoin profile. Thanks to all of you who submitted a project and met the submission criteria during the Cross Chain hackathon.

[2020-06-05 13:29] srisankethu commented on #160
@alexvotofuture I was unable to make a submission as I didn't have ETH. Please check my comment [here](https://github.com/NebulousLabs/Skynet-Hive/issues/4#issuecomment-635008148)

[2020-06-05 18:42] owocki opened #164 "Work quadratic co op - guild treasury management"
https://twitter.com/owocki/status/1268902228611358720

[2020-06-08 20:50] owocki opened #166 "harberger taxes for gitcoin grants ad space"
https://dev.to/wildcards/build-your-first-harberger-tax-app-part-1-3gdd
https://twitter.com/owocki/status/1269292684243398661?s=21

[2020-06-08 20:50] owocki commented on #166
OP12:24 PM
oh interesting!
12:24 PMso that would never raise *enough* money
12:25 PMbecause no one would pay more than the reward from being at the top, which is itself just a bigger part of the match
12:26 PMI suppose if it's an ad slot that's theoretically open to *any* project to advertise themselves...

@owocki | Gitcoin12:30 PM
It’d be interesting to see how the rational economic equilibrium

[2020-06-11 20:24] jschiarizzi commented on #154
Thank you vivik!

[2020-06-15 16:11] connoroday opened #167 "[1,750 DAI] Build a Protect Privacy Project Combining Multiple Sponsor Platforms/Bounties"
### Prize Title
Build a Protect Privacy Project Combining Multiple Sponsor Platforms/Bounties

### Prize Bounty
1st Place - 1,000 DAI
2nd Place - 500 DAI
3rd Place - 250 DAI

### Challenge Description
Gitcoin is offering this bounty as a bonus challenge for the Protect Privacy hackathon. We found there to be many synergies between bounties from the different sponsors. We want to challenge you to g

[2020-06-15 21:07] connoroday opened #168 "[500 DAI] Protect Privacy Mid-Hack Pitch Day"
### Prize Title
Protect Privacy Mid-Hack Pitch Day

RSVP and join the call here:
https://consensys.zoom.us/webinar/register/WN_ba1NauM5QEiHfUT9cwW4gA

### Prize Bounty
200 DAI - 1st Place
100 DAI - 2nd Place
50 DAI - 3rd Place
25 DAI - All additional eligible submissions

### Challenge Description
This prize goes to the teams who show the most hustle early on in the Protect Privacy Virtual Hackath

[2020-06-18 22:19] owocki opened #169 "web3 wallet regression testing"
https://twitter.com/owocki/status/1271441466879905792?s=21

[2020-06-24 22:06] connoroday opened #170 "[75 DAI] Blockstack Clarity Hackathon Phase 2 Consolation Prize"
### Prize Title
Blockstack Clarity Hackathon Phase 2 Consolation Prize
Bounty link here: https://gitcoin.co/issue/blockstack/hackathons/4/4407

### Prize Bounty
75 DAI

### Challenge Description
Gitcoin wants to offer a 75 DAI consolation prize for your awesome work in Clarity Hackathon's Phase 2 Bounty in case you don't win a prize.

Any project that satisfies the submission requirements for the

[2020-07-02 20:19] owocki opened #171 "quadratic survivor"
https://twitter.com/owocki/status/1278782310028984320

[2020-07-13 15:10] owocki opened #172 "sybilquest"
https://twitter.com/owocki/status/1282337010988879872?s=20

[2020-07-27 13:09] owocki opened #174 "quadraticfunding.wtf - an in browser QF/QV tool for demonstrating the power of QF/QV"
inputs: a bunch of recipients, with rows of inputs for the contributions they receive
also a "total matching pool" input
a calculation button that calculates the QF match for each grant

[2020-07-27 13:14] owocki commented on #174
<img width="441" alt="Screen Shot 2020-07-27 at 7 13 55 AM" src="https://user-images.githubusercontent.com/513929/88545852-c7c9d400-cfd8-11ea-9371-2ffba63fd28e.png">
<img width="446" alt="Screen Shot 2020-07-27 at 7 13 53 AM" src="https://user-images.githubusercontent.com/513929/88545854-c8626a80-cfd8-11ea-8fb4-baf29f7ff467.png">
<img width="932" alt="Screen Shot 2020-07-27 at 7 13 50 AM" src="htt

[2020-07-27 13:16] owocki commented on #174
https://twitter.com/owocki/status/1287738521529094145

[2020-07-27 14:40] Anish-Agnihotri commented on #174
I can build this out tonight—did you have any preference of how it looks beyond just the boxes provided?

I was thinking two boxes: one on left, one on right (top/bottom on mobile). Users can add unlimited number of projects by hitting a button, and then add unlimited number of contribution amounts into each projects row.

I'll manage the state of the first box and just dynamically change the stat

[2020-07-27 17:45] owocki commented on #174
@Anish-Agnihotri that'd be great :)

awesome!

no preference really; just keep it simple :)

sounds good

great!

-----------------

im stoked on this!  want me to purchase a domain so we can host it + show it off to people?:

[2020-07-27 17:45] owocki commented on #174
also lmk how much ETH u want for this!

we can put a "built by @Anish-Agnihotri with <3, funded / conceived by gitcoin" in the footer so we can get social cred for it

[2020-07-27 18:22] Anish-Agnihotri commented on #174
Sure, domain would be sweet. Dw about the ETH, this will be a nice fun side-project.

I'll get started tonight after work and spin up a repo and then send you a link once I've got something up. Should have at least an MVP up by EOD, early tomorrow morning.

[2020-07-27 23:08] owocki opened #175 "$DAD $BOD - stake for self control"
https://twitter.com/owocki/status/1287876738198859777

[2020-07-28 02:52] Anish-Agnihotri commented on #174
Got started building this tonight. [Here's](https://quadratic-funding.vercel.app) the completed front-end framing. Let me know your initial thoughts.

Tomorrow I'll write up the React functions to get the Add/Remove grant buttons, and quadratic funding calculations working. After which, this will be good to go.

[2020-07-28 03:32] owocki commented on #174
nice! comments  below:

1. how do i add multiple funding amounts per grant? comma delimited?
2. each grant doesnt need a match amount until after the 'calculate' button is clicked
3. thers a few other little things; but otherwise its directionally correct

[2020-07-30 13:41] owocki commented on #175
$DADBOD - the dApp for self control

Stake tokens. They go to public goods if I fail. And back to me with interest if I succeed

[2020-08-02 01:04] Anish-Agnihotri commented on #174
Hey hey!

Sorry, had a busy week and was unable to push out changes a few days ago.

Just finished up some stuff here. Please check it out now [here](https://quadratic-funding.vercel.app/).

To answer your comments:

1. **How do I add multiple funding amounts per grant?** Just type in the amount and hit enter—it'll create a new object.
2. **Each grant doesn't need a match amount till after calcula

[2020-08-02 02:27] owocki commented on #174
seems great so far. i just fired it off to two collaborators who may have some more feedback   ;)

Two proposals

# Copy

1. Pls remove this text and put

[code]
instead

2. Pls remove the title "Quadratic Funding" and put the logo from my "WTF is QF" preso there instead! (see below)

# Design

Can you copy the logo & color scheme & quadratic Funding formula from this google presentation and skin

[2020-08-02 02:39] owocki commented on #174
btw this is useful for exporting from google presos https://www.softwarehow.com/extract-images-google-slides/

[2020-08-02 17:54] Anish-Agnihotri commented on #174
Sweet!

Just pushed the new version [here](https://quadratic-funding.vercel.app/).

**Changes**
- [X] Changed copy to what you provided.
- [X] Changed design, inspired by the logo/color schemes/formula found in the Google presentation.
- [X] Fixed mobile responsiveness.
- [X] Added meta tags to make site look dope in Twitter posts.
- [X] Optimized the images from the presentation to make the side

[2020-08-02 18:11] owocki commented on #174
looks great!  feel free to rip off even more content form the preso and put it on the site if you have the cycles.

uniqure requiremnt; i know its a hair issue, but its pretty annoying to not be able to enter the same number twice. it makes the site feel buggy.  any workarounds, such as "if new entered input is already in the list, just add 0.01 to it and try again" recursively, available for us?

[2020-08-02 19:49] Anish-Agnihotri commented on #174
Perfect, ty for feedback. Just hopped in and fixed most of the issues.

- [X] Unique requirement with grant input duplicating. I migrated away from `react-select` and found another package that would allow us to duplicate input. Good to go now.
- [X] Color scheme. Yep, fixed the button colors.
- [X] Updated the header copy to what you provided. Definitely cleaner now.
- [X] Updated the landscape s

[2020-08-02 21:18] Anish-Agnihotri commented on #174
Just pushed out [the new changes](https://quadratic-funding.vercel.app/), which include a new giant counter + project contribution showcase for quadratic funding amount.

Next up: public goods intro + free rider problem content. Could you point me to which slide numbers discuss those specifically, so I can rip content from them?

[2020-08-02 22:44] owocki commented on #174
some more feedback
0. DNS -I set "Qf.gitcoin.co" to cname to your subdomain.
1. DESIGN - can we change the background color of the "QUADRATIC FUNDING IMPACT" secdtion so it doesnt visually blend with the calculator?
2. COPY - can we change "What if you could program support for public goods into your monetary system?" to "What if you could program support for public goods into your community?"
3.

[2020-08-02 22:57] owocki commented on #174
@Anish-Agnihotri can you also add the following google analytics code pls

[code]

[2020-08-02 23:50] Anish-Agnihotri commented on #174
Yep, just made all the minor changes. [Check it out](https://qf.gitcoin.co) and lmk more feedback! Still have to add the content from Slide 24/25 which I'll add in ~an hour; gonna go for a quick run.

[Open sourced](https://github.com/anish-agnihotri/quadratic-funding) it this morning, but happy to make changes for another couple of hours, haha, to get this to the finish line.

[anishagnihotri.eth

[2020-08-03 00:52] owocki commented on #174
Looks good so far. I want to launch this tomorrow.

Will keep an eye out for the slide 24/25 stuff

On Sun, Aug 2, 2020 at 5:50 PM Anish Agnihotri <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-03 02:35] Anish-Agnihotri commented on #174
👍  pushed out the new changes with the slides

should be g2g for a launch tomorrow. lmk anymore feedback and I'll iterate on that

[2020-08-03 19:34] owocki commented on #174
@Anish-Agnihotri would it be possible to update https://qf.gitcoin.co/ with share links

a la

https://qf.gitcoin.co/?grant1=1,1,1,1&grant2=100

and have the system
0. auto-update the URL as the form is changed
1. prefill those values & run calcs upon pageload
?

i think this would enable lots of interesting things w. people sharing links to this site

[2020-08-04 01:32] Anish-Agnihotri commented on #174
Yep, I can make this happen. Add a quick `Share` button and retrieve values from a URL on load, if present.

Albeit, I won't have the cycles for this till later this week. But, I can knock it out nearing Friday/weekend.

[2020-08-04 14:02] owocki commented on #174
personally i think it updating on keystroke is way cooler than having an explicit "share" button as long as that doesnt cause performance issues.  but defer to your expertise + timeline!

[2020-08-04 15:01] Anish-Agnihotri commented on #174
Yep, that does sound cooler and I don't think it will have much impact on performance either. I'll do it that way likely tonight or tomorrow.

Should I also add in clr.fund? Do you know by chance how much they have raised via QF, or should I reach out and ask?

And, thanks so much for the ETH 😍 ! I appreciate it!

[2020-08-04 16:31] owocki commented on #174
I dont know how much they've raised.  Feel free to add them in with that
part just blank.

On Tue, Aug 4, 2020 at 9:02 AM Anish Agnihotri <notifications@github.com>
wrote:

--

@owocki <http://www.twitter.com/owocki>

_________________________________________

gitcoin is live and has generated over $5mm for Open Source Software - see
our results <https://gitcoin.co/results>

[2020-08-04 17:22] owocki commented on #174
another thing to add is links to all the reference implementations

- python implementation https://github.com/gitcoinco/quadratic-funding
- javascript impelmentation (link to this project's JS implementation
- add your own implementation (mail founders@gitcoin.co)